{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% import 'TopxiaWebBundle::macro.html.twig' as web_macro %}
{% block title %}讲师团队|日本TOP5名校名师授课|小莺出国{% endblock %}

{% block keywords %}小莺出国 {% endblock %}
{% block description %}小莺出国日本留学-日本读研,名校直考签约保录课程,提供从日本高中,日本语言学校,日本大学,日本读研全系列的日本留学服务。至今已为数千名学生提供日本留学服务,采用包括东京大学京都大学在内的日本TOP5名校讲师授课。{% endblock %}

{% set bodyClass = 'teacherpage bg-blank' %}
{% do load_script('teacher/explore') %}


{% block content %}

<style>
.teacher-item .avatar-lg {border:1px solid #dbdbdb;width:100px!important;height:100px!important;}
</style>


<link href="/files/css/page.css" rel="stylesheet">

        <!-- Color style -->
<section class="section" style="background:#fff">


            <div class="container">

                <div class="row">
       <div class=" text-center"><img src="/files/pages/img/coolhead.svg">

                                        </div>

                
                  
                </div> <!-- end row -->


                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row team text-center">

                            <!-- team-member -->
                            <div class="col-sm-4">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s">
                                    <img src="/files/pages/img/chenyuanying.png" alt="team-member" class="img-responsive img-circle">
                                    <h4>陈远英</h4>
                                    <p class="text-muted">总校校长/创始人<br>东京大学硕士</p>
                                    <hr>
                                  <p class="">2012届东京大学商业大赛冠军。小莺出国创始人。 </p>

                                </div>
                            </div>

                            <!-- team-member -->
                            <div class="col-sm-4">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".3s">
                                    <img src="/files/pages/img/huliang.png" alt="team-member" class="img-responsive img-circle">
                                    <h4>胡俍</h4>
                                    <p class="text-muted">首席运营/东京分校校长/COO<br>一桥大学硕士</p>
                                       <hr>
                                  <p class="">原联想大和研究所高级研究员。加入小莺后负责日本院校关系维护与东京校运营。</p>
                                </div>
                            </div>

                           
                               <!-- team-member -->
                            <div class="col-sm-4">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".5s">
                                    <img src="/files/pages/img/toyama.png" alt="team-member" class="img-responsive img-circle">
                                    <h4>远山智久</h4>
                                    <p class="text-muted">教学研究主任<br>东京大学博士</p>
                                    <hr>
                                        <p class="">日本第一代大学院讲师。著有《弱点克服》系列教材为日本最热门辅导教材。</p>
                                </div>
                            </div> <!-- end col -->
                            
                          
                        </div> 
                    </div> <!-- end col -->
                                        
                </div> <!-- end row -->
                
                
                
                </div>
                </section>

<section class="section">


            <div class="container">
                <div class="row">
                    
                     <div class="clearfix" style="margin-top:50px;"></div>
                    <div class="col-sm-12 text-center">
                      <div class="clearfix" style="margin-top:50px;"></div>

                        <h3 class="title">留学顾问团队</h3>
                        <p class="text-muted sub-title">专业，严谨，丰富的案例经验是我们的财富</p>
                    </div>
                </div> <!-- end row -->


                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row team text-center">

                            <!-- team-member -->
                            
                            <div class="col-sm-3">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s">
                                    <img src="/files/pages/img/chenyuanying.png" alt="team-member" class="img-responsive img-circle">
                                    <h4>陈远英</h4>
                                    <p class="text-muted">VIP留学顾问<br>7年经验,学员超过7000人</p>
                                    <hr>
                                  <p class="">6年一线教学与咨询经验，东京第一代华人私塾课程主讲。学员案例丰富特别是TOP5顶级日语大学学员数量极</p>

                                </div>
                            </div><div class="col-sm-3">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s">
                                    <img src="/files/pages/img/huliang.png" alt="team-member" class="img-responsive img-circle">
                                    <h4>胡俍</h4>
                                    <p class="text-muted">VIP留学顾问<br>10年留学顾问经验</p>
                                    <hr>
                                  <p class="">日语大学考试，日本的大学申请，日本就职经验极为丰富，善于从整体全局和学员长远发展来帮助学员规划留学。</p>

                                </div>
                            </div><div class="col-sm-3">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s">
                                    <img src="/files/pages/img/zengqiao.jpg" alt="team-member" class="img-responsive img-circle">
                                    <h4>曾巧</h4>
                                    <p class="text-muted">高级留学顾问<br>3年一线教学/课程顾问经验</p>
                                    <hr>
                                  <p class="">多年留考课程与日语课程一线教学经验和日语学校，艺术生课程经验，善于把教学和申请结合到一起帮助学员统筹</p>

                                </div>
                            </div><div class="col-sm-3">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s">
                                    <img src="/files/pages/img/xinxin.png" alt="team-member" class="img-responsive img-circle">
                                    <h4>张馨心</h4>
                                    <p class="text-muted">高级留学顾问<br>10年留学顾问经验</p>
                                    <hr>
                                  <p class="">10年留日经历，精通学部,大学院, 短期大学, SGU申请项目。帮助数千名学员留学规划成功实现赴日留学梦想</p>

                                </div>
                            </div><div class="col-sm-3">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s">
                                    <img src="/files/pages/img/lin.png" alt="team-member" class="img-responsive img-circle">
                                    <h4>林老师</h4>
                                    <p class="text-muted">金牌留学顾问<br>SGU英语项目/博士申请</p>
                                    <hr>
                                  <p class="">专业申请顾问，擅长从文科到理工科，从硕士到博士课程的申请规划和联系导师。特别擅长SGU(超级G39)</p>

                                </div>
                            </div><div class="col-sm-3">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s">
                                    <img src="/files/pages/img/zhangyang.png" alt="team-member" class="img-responsive img-circle">
                                    <h4>张洋</h4>
                                    <p class="text-muted">高级留学顾问<br>艺术生/短期留学专职顾问</p>
                                    <hr>
                                  <p class="">具备多年艺术行业从业经验，在艺术生课程方面具有丰富的申请和指导经验，学员案例丰富。</p>

                                </div>
                            </div><div class="col-sm-3">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s">
                                    <img src="/files/pages/img/qiankailing.png" alt="team-member" class="img-responsive img-circle">
                                    <h4>钱凯伶</h4>
                                    <p class="text-muted">高级留学顾问<br>院校申请/留学文书专职顾问</p>
                                    <hr>
                                  <p class="">凭借细致严谨的工作态度和专业的日语留学文书制作功底帮助数百名同学成功报名各类留学考试，辅助学员完成申</p>

                                </div>
                            </div><div class="col-sm-3">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s">
                                    <img src="/files/pages/img/qikexin.png" alt="team-member" class="img-responsive img-circle">
                                    <h4>祁可心</h4>
                                    <p class="text-muted">高级留学顾问<br>院校申请高级顾问</p>
                                    <hr>
                                  <p class="">具备多年日语留学经验，对日语学校申请，艺术生申请，SGU英语课程申请，日语读研申请有丰富的经验的独到</p>

                                </div>
                            </div>                         <!-- Team Member End  -->
                            
                        </div> 
                    </div> <!-- end col -->
                                        
                </div> <!-- end row -->           
	<div class="clearfix" style="margin-top:50px;"></div>
		<hr style="width:50%;margin:auto">

 <div class="row">

					<div class="clearfix" style="margin-top:50px;"></div>
                    <div class="col-sm-12 text-center">
                        <h3 class="title">留学考试院生考试教学团队</h3>
                        <p class="text-muted sub-title">专业性和热心保证我们为每一位学员提供最优质的留学服务。</p>
                    </div>

                
        </div></div></section>



  <div class="teacher-list row">
 <div class="col-md-10 col-md-offset-1">

    {% for teacher in teachers %}
    {% set profile = profiles[teacher.id] %}
    {% set isFollowed = (teacher.id in Myfollowings)|default(false) %}
      <div class="col-lg-3 col-md-3 col-xs-4">
        {% include 'TopxiaWebBundle:Teacher:teacher-item.html.twig' %}
      </div>
    {% endfor %}
  </div></div>
  <nav class="text-center">
    {{ web_macro.paginator(paginator) }}
  </nav>
{% endblock %}
