<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<html lang="zh_CN" >
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
  <meta name="renderer" content="webkit">
  <!--<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">-->
  <meta name="baidu-site-verification" content="av2IpHyf6R" />
  <meta name="baidu-site-verification" content="av2lpHyf6R">

  <meta name="360-site-verification" content="d18b69263d331b380d6b77637b535983" />
  <title>深圳远英出国咨询 - 深圳远英出国</title>
  <meta name="keywords" content="日本文化,SGU咨询,初级日语培训" />
  <meta name="description" content="我们为您提供最全面最专业的咨询,读研院生咨询,日本大学专升硕咨询.因为只做咨询所以更专业." />
  <meta content="B6-UcuS82ThjdcFgBQ3Y9hh0SGagJYVP6WOZ45fbmW0" name="csrf-token" />
  <meta content="0" name="is-login" />
  <meta content="0" name="is-open" />

  <script src="files/false/Scripts/uaredirect.js" type="text/javascript"></script>



   <link rel="icon" href="/files/system/2017/09-01/072306ab1079201406.ico?7.5.15" type="image/x-icon" />
  <link rel="shortcut icon" href="/files/system/2017/09-01/072306ab1079201406.ico?7.5.15" type="image/x-icon" media="screen"/>


<link href="files/false/Css/bootstrap.css" rel="stylesheet"/>
<link rel="stylesheet" media="screen" href="files/false/Css/common.css"/>
<link rel="stylesheet" media="screen" href="files/false/Css/main.css"/>
<link rel="stylesheet" media="screen" href="files/false/Css/es-icon.css"/>
<link rel="stylesheet" media="screen" href="files/false/Css/layui.css"/>
<link rel="stylesheet" media="screen" href="files/false/Css/iconfont.css"/>

<link rel="stylesheet" media="screen" href="files/false/Css/theme.css"/>



  <!--[if lt IE 9]>
    <script src="Scripts/html5shiv.js"></script>
    <script src="Scripts/respond.min.js"></script>

  <![endif]-->


</head>
<body >

  <div class="es-wrap">


<link href="files/false/Css/kefu.css" rel="stylesheet"/>
<link href="files/false/Css/ad-slide.css" media="all" rel="stylesheet">

<style>
.light-homepage .topbar{background:#fff!important}
.light-homepage .light-navbar{box-shadow:none!important}

.light-homepage .navbar-fixed-top .light-navbar{background:#fff!important}
.topbar {background:#fff}
.topbar a{color:#333;font-size:13px;margin-left:15px;}
.topbar-nav {height:30px!important;line-height:30px;float:right!important;color:#333;}
</style>
<header class="light-header">
<nav class="topbar" style=";box-shadow:none;">


<div class="container">
	<div class="topbar-nav" style="">


<a href="">首页</a>
<div class="topbar-nav" style="float:left">

<a href="">深圳</a>

<a href="">上海</a>

<a href="">苏州</a>

<a href="">东京</a>


</div>



</div>
</div>
</nav>

	<nav class="navbar navbar-inverse light-navbar light-navbar-white">
	<div class="navbar-container">
		<div class="navbar-headers ">
			<a href="" class="navbar-brand">
		      		        <img src="files/false/Picture/logo.svg" class="img-responsive img-full">
		      		    </a>
			<ul class="nav navbar-nav hidden-xs hidden-sm ">
        <li class="nav-list">
            <a href='/wenhua' target="_blank"
               class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
                    日本文化 <!--<span class="caret"></span>-->
            </a>
        </li>


                            <li class="dropdown nav-list">
            <a href='/jiaqi' target="_blank"
               class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
                    日本假期 <!--<span class="caret"></span>-->
            </a>

        </li>


        <li class="dropdown nav-list">
          <a href="/jxj" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              日本奖学金
      </a>
        </li>

        <li class="dropdown nav-list">
          <a href="/kc" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              日语课程
        </a>
        </li>

			</ul>
		</div>
		<div class="nav-mobile">
	  		<div class="panel-overlay"></div>
	  		<a href="javascript:;" class="open-panel js-togglePane hidden-lg hidden-md">
		    	<i class="iconfont icon-mulu"></i>
		    </a>
		    <div class="nav-layout-dark">
		    	<form class="navbar-form" action="/search" method="get">
		        <div class="form-group">
		          <input class="form-control" name="q"/>
		          <button class="button es-icon es-icon-search"></button>
		        </div>
		      </form>

		    </div>
	  	</div>
	  	</div>
	</nav>

</div>
</header>



<script src="files/false/Scripts/jquery.min.js"></script>



<!--
百度统计代码
 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?916d5e71705fb1d76f48bf1b0473ea8c";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>


<link href="files/false/Css/page.css" rel="stylesheet">

<style>

.contact-place {display: inline-block;width: 100px;font-size: 18px;}
.contact-place a {color: #333;}
body {background:#fff!important}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
}
</style>


<div style="text-align:center;">
  <img style="width:100%;max-width:850px;margin-top:10px;" src="files/false/Picture/about_history.png">

<div>


<!-- 菜单开始 -->
<div style="margin-top:60px;text-align:center;">

<ul class="" style="text-align:center;">

<li class="contact-place"><a href="#about">关于远英 </a></li>
 <li class="contact-place"><a href="#team">管理团队 </a></li>
 <li class="contact-place"><a href="#services">核心业务 </a></li>
 <li class="contact-place"><a href="#media">媒体报道 </a></li>
 <li class="contact-place"><a href="#partners">合作伙伴 </a></li>
 <li class="contact-place"><a href="#lianxi">联系我们 </a></li>
<!--   <li class="contact-place"><a href="#news">新闻中心 </a></li>
 -->
</ul>
</div>
<!-- 菜单结束 -->



    <section class="section row" style="margin-top:0px;">


           <div class="col-sm-12 " style="">
            <div class="feat-description text-center" style="max-width:800px;margin:auto">

                            <h3 id="about" style="padding-top:40px;padding-bottom:30px">关于远英出国</h3>
                            <p class="">深圳远英出国服务有限公司总部位于中国深圳，并在上海、日本东京、苏州、河南设有直属分部，同时在北京、西安、重庆、大连等地设有合作分部。本公司在2014年正式申请小莺出国(商标名)。因为只做咨询,所有更专业，目前是业内最大的咨询机构之一。<br></p>
                            <div class="row">

                            <div class="col-md-4">
                             <h3 class="title" style="margin-top:30px;color:red">使命</h3>
                             <h4 style="font-size:15px;">让更多人了解日本</h4>
                             </div>

                            <div class="col-md-4">

                                 <h3 class="title" style="margin-top:30px;color:red">价值观</h3>
                             <h4 style="font-size:15px;">公开透明、专业、热忱、用心</h4>

                             </div>



						</div>


                <!-- end row -->
<div style="">
                        <div class="feat-description text-center" style="margin:auto">

                            <h3 id="services" style="padding-top:20px;text-align:center">核心业务</h3>

                            <div class="row">


                            <div class="col-md-3 col-sm-4">
                             <h4 style="margin-top:30px;">G30咨询</h4>
                             </div>

  							  <div class="col-md-3 col-sm-4">
                             <h4 style="margin-top:30px;">SGU咨询</h4>
                             </div>


</div>





            </div>
             <!-- end container -->

</section>





<section class="section" id="media">
<div class="container">
<div class="row text-center">
     <h3 style="padding-top:40px;">媒体报道</h3>


                    <div class="col-sm-12 " style="">
              <div class="feat-description text-center" style="margin:auto">
<img src="files/false/Picture/media.png" style="width:100%;max-width:660px">





    </div>





                </div><!-- end row -->

            </div> <!-- end container -->
        </div></section>


        <section class="section" id="partners">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h3 class="title">合作伙伴</h3><br><br>
                        <p class="text-muted sub-title"></p>
                    </div>
                </div> <!-- end row -->
<style>
.partners ul li:nth-of-type(6n) {
    border-right: none!important;
}

.partners ul li:nth-child(n+7) {border-bottom:0px!important;

}
</style>

                <div class="row partners">
                    <div class="col-md-10 col-md-offset-1">
                        <ul class="row team text-center">
            <!-- team-member -->


 <li class="col-sm-2 col-xs-3" style="height:150px;border-right: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s" style="margin-top:10px!important;">
                                    <img src="files/false/Picture/1.png" style="width:80px;height:80px;" alt="team-member" class="img-responsive img-circle">
                                    <h4 style="font-size:13px;padding-top:0px;margin-top:10px;">中国人民大学</h4>


                                </div>
                            </li><!-- team-member -->
                            <li class="col-sm-2 col-xs-3" style="height:150px;border-right: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s" style="margin-top:10px!important;">
                                    <img src="files/false/Picture/2.png" style="width:80px;height:80px;" alt="team-member" class="img-responsive img-circle">
                                    <h4 style="font-size:13px;padding-top:0px;margin-top:10px;">上海出入境服务中心</h4>


                                </div>
                            </li><!-- team-member -->
                            <li class="col-sm-2 col-xs-3" style="height:150px;border-right: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s" style="margin-top:10px!important;">
                                    <img src="files/false/Picture/3.png" style="width:80px;height:80px;" alt="team-member" class="img-responsive img-circle">
                                    <h4 style="font-size:13px;padding-top:0px;margin-top:10px;">东京大学EdgeCapital</h4>


                                </div>
                            </li><!-- team-member -->
                            <li class="col-sm-2 col-xs-3" style="height:150px;border-right: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s" style="margin-top:10px!important;">
                                    <img src="files/false/Picture/4.png" style="width:80px;height:80px;" alt="team-member" class="img-responsive img-circle">
                                    <h4 style="font-size:13px;padding-top:0px;margin-top:10px;">帝京大学</h4>


                                </div>
                            </li><!-- team-member -->
                            <li class="col-sm-2 col-xs-3" style="height:150px;border-right: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s" style="margin-top:10px!important;">
                                    <img src="files/false/Picture/5.png" style="width:80px;height:80px;" alt="team-member" class="img-responsive img-circle">
                                    <h4 style="font-size:13px;padding-top:0px;margin-top:10px;">新浪出国</h4>


                                </div>
                            </li><!-- team-member -->
                            <li class="col-sm-2 col-xs-3" style="height:150px;border-right: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s" style="margin-top:10px!important;">
                                    <img src="files/false/Picture/6.png" style="width:80px;height:80px;" alt="team-member" class="img-responsive img-circle">
                                    <h4 style="font-size:13px;padding-top:0px;margin-top:10px;">HIS国际旅行</h4>


                                </div>
                            </li><!-- team-member -->
                            <li class="col-sm-2 col-xs-3" style="height:150px;border-right: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s" style="margin-top:10px!important;">
                                    <img src="files/false/Picture/7.png" style="width:80px;height:80px;" alt="team-member" class="img-responsive img-circle">
                                    <h4 style="font-size:13px;padding-top:0px;margin-top:10px;">YMCA教育集团</h4>


                                </div>
                            </li><!-- team-member -->
                            <li class="col-sm-2 col-xs-3" style="height:150px;border-right: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s" style="margin-top:10px!important;">
                                    <img src="files/false/Picture/8.png" style="width:80px;height:80px;" alt="team-member" class="img-responsive img-circle">
                                    <h4 style="font-size:13px;padding-top:0px;margin-top:10px;">日本工业大学</h4>


                                </div>
                            </li><!-- team-member -->
                            <li class="col-sm-2 col-xs-3" style="height:150px;border-right: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s" style="margin-top:10px!important;">
                                    <img src="files/false/Picture/9.png" style="width:80px;height:80px;" alt="team-member" class="img-responsive img-circle">
                                    <h4 style="font-size:13px;padding-top:0px;margin-top:10px;">千代田国际教育</h4>


                                </div>
                            </li><!-- team-member -->
                            <li class="col-sm-2 col-xs-3" style="height:150px;border-right: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s" style="margin-top:10px!important;">
                                    <img src="files/false/Picture/10.png" style="width:80px;height:80px;" alt="team-member" class="img-responsive img-circle">
                                    <h4 style="font-size:13px;padding-top:0px;margin-top:10px;">日本村外教网</h4>


                                </div>
                            </li><!-- team-member -->
                            <li class="col-sm-2 col-xs-3" style="height:150px;border-right: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s" style="margin-top:10px!important;">
                                    <img src="files/false/Picture/11.png" style="width:80px;height:80px;" alt="team-member" class="img-responsive img-circle">
                                    <h4 style="font-size:13px;padding-top:0px;margin-top:10px;">南开大学</h4>


                                </div>
                            </li><!-- team-member -->
                            <li class="col-sm-2 col-xs-3" style="height:150px;border-right: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s" style="margin-top:10px!important;">
                                    <img src="files/false/Picture/12.png" style="width:80px;height:80px;" alt="team-member" class="img-responsive img-circle">
                                    <h4 style="font-size:13px;padding-top:0px;margin-top:10px;">早稻田大学</h4>


                                </div>
                            </li>



                        </ul> <!-- end row -->
                    </div> <!-- end col -->


                </div> <!-- end row -->

            </div> <!-- ed container-->
        </section>



        <section class="section" id="team">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h3 class="title">管理团队</h3>
                        <br>
                    </div>
                </div> <!-- end row -->


                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row team text-center">


                        <div class="col-sm-4">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".5s">
                                    <img src="files/false/Picture/yuanshan.png" alt="team-member" class="img-responsive img-circle">
                                    <h4>远山智久</h4>
                                    <p class="text-muted">毕业于东京大学</p>
                                    <hr>

                                </div>
                            </div> <!-- end col -->



                            <!-- team-member -->
                            <div class="col-sm-4">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".1s">
                                    <img src="files/false/Picture/chenyuanying.png" alt="team-member" class="img-responsive img-circle">
                                    <h4>陈远英</h4>
                                    <p class="text-muted">设置人/CEO毕业于东京大学</p>
                                    <hr>

                                </div>
                            </div>

                            <!-- team-member -->
                            <div class="col-sm-4">
                                <div class="team-member animated fadeInDown wow" data-wow-delay=".3s">
                                    <img src="files/false/Picture/huliang.png" alt="team-member" class="img-responsive img-circle">
                                    <h4>胡俍</h4>
                                    <p class="text-muted">机构负责人/COO毕业于一桥大学</p>
                                       <hr>
                                </div>


                        </div> <!-- end row -->
                    </div> <!-- end col -->






                </div> <!-- end row -->

            </div> <!-- ed container-->
        </div></section>
			    <div style="text-align:center;">

    <h1 id="lianxi" style="margin-top:50px;margin-bottom:40px;font-size:24px;">联系我们</h1>








<section>
<div class="container" style="max-width:650px!important;padding:0px!important;margin:auto">
<h3 style="font-size:15px;margin-top:20px;text-align:left!important;line-height:30px;">课程咨询: 4000150170     微信/QQ: 8892196  合作: c@everelite.com 人才加盟:hr@everelite.com</h3>
</div>
</section>
<section>

        <section class="section">

            <div class="container">



                <div class="row">

                    <div class="col-sm-12" style="margin:auto">
                        <div class="feat-description text-center" style="margin-top:-10px;">



                             <h3 class="title" style="color:red;font-size:18px;margin-bottom:20px;">深圳总部：深圳市宝安区广发大厦7F</h3>
                             <img style="max-width:650px" src="files/false/Picture/place_shenzhen.jpg">

                            <p class="text-muted">驾车：深圳市宝安区新湖路万嘉丰商业大厦旁边<br>地铁：1号线坪洲站B号口步行2分钟<br><br><br></p>




                        </div>
                    </div>
                </div><!-- end row -->

            </div> <!-- end container -->
        </section>



</section>
        </div>

</div>  </div>  </div>





<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-col links col-md-2 col-sm-2 col-xs-12">
                    <div class="footer-col-inner">
                        <input id="application-insight" type="checkbox">
                        <label for="application-insight"><h3 class="title">关于我们</h3></label>
                        <ul class="list-unstyled">
                            <li><a href="" class="webkit">我们是谁?</a></li>


                            <li><a href="">联系方式</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="col-md-2 col-sm-2 col-xs-12 footer-comb">
                    <div class="footer-col links">
                        <div class="footer-col-inner">
                            <input id="browser-insight" type="checkbox">
                            <label for="browser-insight">
                            <h3 class="title">使用帮助</h3></label>
                            <ul class="list-unstyled">
                             <li><a href="https://static.meiqia.com/dist/standalone.html?eid=14353">在线咨询</a></li>


<!--
                                <li><a href="/help">帮助中心</a></li>
 -->

                      </ul>
                        </div><!--//footer-col-inner-->
                    </div>

                </div>

                <div class="col-md-2 col-sm-2 col-xs-12 footer-comb">

                    <div class="footer-col links">
                        <div class="footer-col-inner">
                            <input id="more" type="checkbox">
                            <label for="more"><h3 class="title">意见反馈</h3></label>
                            <ul class="list-unstyled">

                                <li><a href="mailto:s@everelite.com" target="_blank">意见投诉</a></li>
                                <li><a href="/privacy" target="_blank">隐私政策</a></li>

                            </ul>
                        </div><!--//footer-col-inner-->
                    </div>


                </div><!--//foooter-col-->



                 <div class="footer-col links col-md-2 col-sm-2 col-xs-12 sm-break hidden-xs" style="margin-left:-50px;">

                   <div class="footer-col-inner">
                        <input id="help-center" type="checkbox">
                        <label for="help-center" style="text-align:center"><h3 class="title" style="text-align:center">微信订阅号</h3></label><br>
                           <img style="width:50%;" src="files/false/Picture/xiaoying.png">
                    </div><!--//footer-col-inner-->
                </div>

            </div>
            <style>.social-media {width:25px;border-radius:100px}</style>
            <div class="row">
                <div class="footer-col connect col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-col-inner">                     <h3>社交媒体：

              <a href="/weixin">
                <img class="social-media" src="files/false/Picture/weixin.png">
              </a>
              <a href="http://www.weibo.com/xiaoyingchuguo">
                <img class="social-media" src="files/false/Picture/weibo.png">
              </a>
              <a href="tencent://message/?uin=8892196&amp;Site=远英出国日本留学&amp;Menu=yes">
                <img class="social-media" src="files/false/Picture/qq.png">
              </a>
              <a href="http://zhuanlan.zhihu.com/eggelite">
                <img class="social-media" src="files/false/Picture/zhihu.png">
              </a>
               <a href="http://i.youku.com/eggelite">
                <img class="social-media" src="files/false/Picture/youku.png">
              </a>
</h3>

                        <h3 style="line-height:22px;">
                        全国统一电话：4000150170<br />
                        深圳总部: 深圳市宝安区广发大厦7F<br />
                        上海: 上海市徐汇区肇嘉浜路789号均瑶国际29F<br />
                        苏州: 江苏省苏州市吴中区澄湖路888号恒润国际30F<br>
                        东京早稻田校: 東京都高田馬場1-28-4工新別館<span style="font-family:mingcho;">ビル</span>4F<br>
                        东京新宿校:东京都新宿区百人町1-22-24 朝日<span style="font-family:mingcho;">ビル</span>4F<br>
                        河南: 河南省新乡市红旗区金穗大道688号商会大厦B座11F<br>
                        </h3>



                        <p class="adr clearfix">
                            <span class="street-address"></span>
                        </p>
                        <p class="email"><a href="mailto:c@everelite.com" class="email-addr">  </a></p>
                    </div>
                </div>

                <!-- <div class="footer-col download col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-col-inner">
                        <a href="/mobility.html" class="footer-download">
                            <img src="files/false/Picture/1becd5ff.icon.svg">
                            <span class="d-text">
                                <span class="d-text-title">手机客户端</span>
                                <br>Android
                            </span>
                        </a>
                    </div>
                </div> -->
                <div class="clearfix"></div>
            </div>
            <div class="row "></div>
        </div>
    </div>

    <div class="bottom-bar">
        <div class="container">

            <div class="icp">
                <span class="small lang-selector">

                </span>
                <small class="copyright">Copyright © 2008-<span id="cr-end-time"></span> 深圳远英出国服务有限公司 <a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备17035939号</a> </small><br>
                <!-- <small> 友情链接:


                <a href="http://www.eggelite.com/duyan" style="color:#999!important" target="_blank" title="日本读研">日本读研</a> |
		<a href="http://www.lunwenzhai.com">鸿远论文网</a> |
		<a href="http://www.xielunwen.net">江山论文代写网</a> |
		<a href="http://www.twolang.cn">读朗英语背单词</a> |
		<a href="http://www.koubeikc.com">考研辅导课程</a> |
		<a href="http://www.leshenriben.com">日本留学</a> |
		<a href="http://sh.jiaoyubao.cn/liuxue/">上海留学培训</a> |
		<a href="http://www.franklincollege.cn">加拿大保送大学</a> |
		<a href="http://www.italycqu.com">意大利留学费用</a> |
		<a href="http://art.egglrlite.com">日本艺术生留学</a> |
		<a href="http://www.jxjyedu.com">江西成人高考</a> |
		<a href="http://www.5alw.com">论文代写</a> |
		<a href="http://www.001dg.com">汕头招聘网</a> |
		<a href="http://www.souaus.com">澳大利亚中文网</a> |
		<a href="http://www.zjjm.com.cn">早教加盟</a> |
		<a href="http://www.megoal.org">美国留学</a> |
		<a href="http://www.gdjhpx.com">广州全日制技能培训学校</a> |
		<a href="http://www.oyoline.com">英语培训机构排名</a> |
		<a href="http://www.tokei.cn">培训日语</a> |



                </small> -->

            </div>
        </div><!--//container-->

    </div><!--//bottom-bar-->
</footer>




<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 14353);
</script>

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f0675ff37612babd2d5b3750e25a32f2";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>


<style>
.footer {
    background: #666;
    color: #fff;
    font-size: 12px;
    position: relative;
}
.footer .footer-content .container {
    padding-top: 30px;
}



.footer .footer-col .title {
    font-size: 13px;
    margin-bottom: 0;
    letter-spacing: 0;
    line-height: 1.66667;
    font-weight: 600;
    color: #fff;width:100%
}
.label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    background: transparent;
border: 0;
margin: 0;

padding: 0;
vertical-align: baseline;
outline: 0;
text-rendering: optimizelegibility;
-moz-osx-font-smoothing: grayscale !important;
font-feature-settings: "liga", "kern";
-webkit-font-smoothing: subpixel-antialiased;
}

.footer .footer-col.links ul li {
    margin-bottom: 0;
    color: #fff!important;
    font-weight: 400;
    line-height: 22px;
    font-size: 13px;
}
.footer .footer-col a, .footer .footer-col p {
    color: #fff;
}
.footer .footer-col.connect h3 {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: -2px;
    -webkit-opacity: .9;
    -moz-opacity: .9;
    opacity: .9;
}
.footer .bottom-bar {
    color: rgba(255,255,255,.4);
    background: rgba(0,0,0,.5);
    font-size: 14px;
    padding: 10px 0;
}.icp {
    padding: 16px 0 8px;
}.footer a {
    color: rgba(255, 255, 255, 0.4);
}
.copyright {background-color:transparent!important}
.footer-col .footer-col-inner input {
    display: none;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px;
    line-height: normal;
}

#flotage-help {
    z-index: 1114;
    position: fixed;
    bottom: 197px;
    right: -104px;
    cursor: pointer;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}

#flotage-help .flotage-help-icon {
    width: 93px;
    height: 69px;
    background: url(Images/pc_finderteacher_6e42bfff9d.png) no-repeat;
}
#flotage-help .flotage-buttons {
    text-align: center;
    background: #37a4f5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}
#flotage-help .flotage-buttons .flotage-btn {
    background: #37a4f5;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    width: 103px;
    height: 34px;
    font-size: 14px;
    color: #ffffff;
    line-height: 34px;
}
.light-top {
bottom:150px !important;
}
#flotage-help .flotage-buttons .qrcode-box {
    display: none;
    position: absolute;
    text-align: center;
    right: 110px;
    font-size: 12px;
    top: 70px;
    width: 156px;
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 10px 14px;
}

#flotage-help .flotage-buttons .qrcode-box .text-primary {
    color: #ff9100;
    line-height: 20px;
}

#flotage-help .flotage-buttons .qrcode-box .wechat-qrcode {
    width: 115px;
    height: 115px;
    margin: 0 auto;
    background: url(Images/xiaoying.png) no-repeat;
	background-size: cover;
}
#flotage-help .flotage-buttons .qrcode-box .text-muted {
    color: #6d6d6e;
    line-height: 20px;
}
#flotage-help .flotage-buttons .flotage-btn:hover {
    background: #2b84c5;
}
#flotage-help a{
color:#fff;
}
</style>
<div id="flotage-help" style="right: 7px;">
<div class="flotage-help-icon">
</div>
<div class="flotage-buttons">
<!-- <div class="flotage-btn findteacher"><a href='javascript:;'>免费评估规划</a></div> -->
<div class="flotage-btn comeon-im"><a href='https://static.meiqia.com/dist/standalone.html?eid=14353' target="_blank" >立即咨询</a></div>
<!-- <div class="flotage-btn get-courses"><a href='javascript:;'>填表领资料</a></div> -->
<div class="flotage-btn get-tel"><a href='javascript:;'>电话咨询</a></div>

<div class="qrcode-box" style="display: none;">
<div class="text-primary">远英微信公众号:</div>
<div class="text-primary">eggelite</div>
<div class="wechat-qrcode"></div>
<div class="text-muted">精品好课等你领</div>
</div>

</div>
</div>

  <div class="light-top hidden">
    <a href="javascript:;">
      <i class="es-icon es-icon-keyboardarrowup"></i>
    </a>
  </div>
<script>

$('#flotage-help .flotage-buttons .get-courses').click(function(){
	window.open("http://www.eggelite.com/ziliao");

});
$('#flotage-help .flotage-buttons .findteacher').click(function(){
window.open("http://www.eggelite.com/ziliao");
});
$('#flotage-help .flotage-buttons .get-tel').hover(function(){
$('#flotage-help .flotage-buttons .get-tel a').text("4000150170");
},function(){
$('#flotage-help .flotage-buttons .get-tel a').text("电话咨询");

});
</script>


      </div>




  <div id="login-modal" class="modal" data-url="/login/ajax"></div>
  <div id="modal" class="modal"></div>
  <div id="attachment-modal" class="modal"></div>


<script src="files/false/Scripts/translator.min.js"></script>
<script src="files/false/Scripts/b04f3c49031146a9b013dc4115bb85b5.js"></script><script src="Scripts/sea.js"></script>
<script src="files/false/Scripts/seajs-style.js"></script>
<script src="files/false/Scripts/seajs-text.min.js"></script>
<script src="files/false/Scripts/seajs-global-config.js"></script>
<script src="files/false/Scripts/seo-global.js"></script>
<script>
  seajs.use(app.mainScript);
</script>

</body>
</html>
