

{# 公共底部表单 #}
    {% include 'TopxiaWebBundle:Default:footForm.html.twig' %}
{# 公共底部表单end #}


<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-col links col-md-2 col-sm-2 col-xs-12">
                    <div class="footer-col-inner">
                        <input id="application-insight" type="checkbox">
                        <label for="application-insight"><h3 class="title">关于我们</h3></label>
                        <ul class="list-unstyled">
                            <li><a href="/about" class="webkit">我们是谁?</a></li>
                            <li><a href="http://hr.xiaoying.net" class="webkit">人才招聘</a></li>
                            <li><a href="http://company.zhaopin.com/CC468508636.htm" class="webkit">智联招聘</a></li>






                            <li><a href="/partners">客户关系</a></li>

                            <li><a href="/contact">联系方式</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="col-md-2 col-sm-2 col-xs-12 footer-comb">
                    <div class="footer-col links">
                        <div class="footer-col-inner">
                            <input id="browser-insight" type="checkbox">
                            <label for="browser-insight">
                            <h3 class="title">使用帮助</h3></label>
                            <ul class="list-unstyled">
                             <li><a href="https://static.meiqia.com/dist/standalone.html?eid=14353">在线咨询</a></li>
                                <li><a href="/xuefei">学费支付</a></li>

<!--
                                <li><a href="/help">帮助中心</a></li>
 -->
                               <li><a href="/terms">使用条款</a></li>
                                <li><a href="/sitemap.html">网站地图</a></li>

                      </ul>
                        </div><!--//footer-col-inner-->
                    </div>

                </div>

                <div class="col-md-2 col-sm-2 col-xs-12 footer-comb">

                    <div class="footer-col links">
                        <div class="footer-col-inner">
                            <input id="more" type="checkbox">
                            <label for="more"><h3 class="title">意见反馈</h3></label>
                            <ul class="list-unstyled">

                                <li><a href="mailto:s@everelite.com" target="_blank">意见投诉</a></li>
                                <li><a href="/privacy" target="_blank">隐私政策</a></li>
                                <li style="display:none"><a href="/sitemap">网站地图</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div>


                </div><!--//foooter-col-->

                <!--//foooter-col-->
                <div class="footer-col links col-md-2 col-sm-2 col-xs-12 sm-break hidden-xs">

                   <div class="footer-col-inner">
                        <input id="help-center" type="checkbox">
                        <label for="help-center" style="text-align:center"><h3 class="title">课程顾问微信</h3></label><br>
                           <img style="width:50%;height:72px;" src="/files/pages/img/social.png">
                    </div><!--//footer-col-inner-->
                </div>

                 <div class="footer-col links col-md-2 col-sm-2 col-xs-12 sm-break hidden-xs" style="margin-left:-50px;">

                   <div class="footer-col-inner">
                        <input id="help-center" type="checkbox">
                        <label for="help-center" style="text-align:center"><h3 class="title" style="text-align:center">微信订阅号</h3></label><br>
                           <img style="width:50%;" src="/files/pages/img/xiaoying.png">
                    </div><!--//footer-col-inner-->
                </div>


                 <div class="footer-col links col-md-2 col-sm-2 col-xs-12 sm-break hidden-xs" style="margin-left:-50px;">
                   <div class="footer-col-inner">
                        <input id="help-center" type="checkbox">
                        <label for="help-center"><h3 class="title">快速报名评估</h3></label><br>
                           <img style="width:50%;" src="/images/new_baoming.png">
                    </div><!--//footer-col-inner-->
                </div>

<!--
                 <div class="footer-col links col-md-2 col-sm-2 col-xs-12 sm-break" style="margin-left:-50px;">
                   <div class="footer-col-inner">
                        <input type="checkbox" id="help-center">
                        <label for="help-center"><h3 class="title">远英出国微博</h3></label>
                           <img style="width:90px;" src="/files/pages/img/weibo.png">
                    </div><!~~//footer-col-inner~~>
                </div>

 -->
            </div>
            <style>.social-media {width:25px;border-radius:100px}</style>
            <div class="row">
                <div class="footer-col connect col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-col-inner">                     <h3>社交媒体：

              <a href="/weixin">
                <img class="social-media" src="/files/pages/img/weixin.png">
              </a>
              <a href="http://www.weibo.com/xiaoyingchuguo">
                <img class="social-media" src="/files/pages/img/weibo.png">
              </a>
              <a href="tencent://message/?uin=8892196&amp;Site=小莺出国日本留学&amp;Menu=yes">
                <img class="social-media" src="/files/pages/img/qq.png">
              </a>
              <a href="http://zhuanlan.zhihu.com/eggelite">
                <img class="social-media" src="/files/pages/img/zhihu.png">
              </a>
               <a href="http://i.youku.com/eggelite">
                <img class="social-media" src="/files/pages/img/youku.png">
              </a>
</h3>

                        <h3 style="line-height:22px;">全国统一电话：4000150170<br />
                        深圳总部: 深圳市宝安区广发大厦7F(仅对公业务暂不开放学员咨询)<br />
                        上海: 上海市徐汇区肇嘉浜路789号均瑶国际29F<br />
                        苏州: 江苏省苏州市吴中区澄湖路888号恒润国际30F<br>
                        东京早稻田校: 東京都高田馬場1-28-4工新別館<span style="font-family:mingcho;">ビル</span>4F<br>
                        东京新宿校:东京都新宿区百人町1-22-24 朝日<span style="font-family:mingcho;">ビル</span>4F<br>
                        河南: 河南省新乡市红旗区金穗大道688号商会大厦B座11F<br>
                        </h3>



                        <p class="adr clearfix">
                            <span class="street-address"></span>
                        </p>
                        <p class="email"><a href="mailto:c@everelite.com" class="email-addr">  </a></p>
                    </div>
                </div>

                <!-- <div class="footer-col download col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-col-inner">
                        <a href="/mobility.html" class="footer-download">
                            <img src="/images/footer/1becd5ff.icon.svg">
                            <span class="d-text">
                                <span class="d-text-title">手机客户端</span>
                                <br>Android
                            </span>
                        </a>
                    </div>
                </div> -->
                <div class="clearfix"></div>
            </div>
            <div class="row "></div>
        </div>
    </div>

    <div class="bottom-bar">
        <div class="container">

            <div class="icp">
                <span class="small lang-selector">

                </span>
                <small class="copyright">Copyright © 2008-<span id="cr-end-time"></span> 远英出国服务有限公司 <a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备17035939号</a> </small><br>
                <small> 友情链接:


                <a href="http://www.xiaoying.net/duyan" style="color:#999!important" target="_blank" title="日本读研">日本读研</a> |
		<a href="http://www.lunwenzhai.com">鸿远论文网</a> |
		<a href="http://www.xielunwen.net">江山论文代写网</a> |
		<a href="http://www.twolang.cn">读朗英语背单词</a> |
		<a href="http://www.koubeikc.com">考研辅导课程</a> |
		<a href="http://www.leshenriben.com">日本留学</a> |
		<a href="http://sh.jiaoyubao.cn/liuxue/">上海留学培训</a> |
		<a href="http://www.franklincollege.cn">加拿大保送大学</a> |
		<a href="http://www.italycqu.com">意大利留学费用</a> |
		<a href="http://art.egglrlite.com">日本艺术生留学</a> |
		<a href="http://www.jxjyedu.com">江西成人高考</a> |
		<a href="http://www.5alw.com">论文代写</a> |
		<a href="http://www.001dg.com">汕头招聘网</a> |
		<a href="http://www.souaus.com">澳大利亚中文网</a> |
		<a href="http://www.zjjm.com.cn">早教加盟</a> |
		<a href="http://www.megoal.org">美国留学</a> |
		<a href="http://www.gdjhpx.com">广州全日制技能培训学校</a> |
		<a href="http://www.oyoline.com">英语培训机构排名</a> |
		<a href="http://www.tokei.cn">培训日语</a> |



                </small>

            </div>
        </div><!--//container-->

    </div><!--//bottom-bar-->
</footer>




{# 百度牵引  #}
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

{# 百度统计 #}
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f0675ff37612babd2d5b3750e25a32f2";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>


<style>
.footer {
    background: #666;
    color: #fff;
    font-size: 12px;
    position: relative;
}
.footer .footer-content .container {
    padding-top: 30px;
}



.footer .footer-col .title {
    font-size: 13px;
    margin-bottom: 0;
    letter-spacing: 0;
    line-height: 1.66667;
    font-weight: 600;
    color: #fff;width:100%
}
.label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    background: transparent;
border: 0;
margin: 0;

padding: 0;
vertical-align: baseline;
outline: 0;
text-rendering: optimizelegibility;
-moz-osx-font-smoothing: grayscale !important;
font-feature-settings: "liga", "kern";
-webkit-font-smoothing: subpixel-antialiased;
}

.footer .footer-col.links ul li {
    margin-bottom: 0;
    color: #fff!important;
    font-weight: 400;
    line-height: 22px;
    font-size: 13px;
}
.footer .footer-col a, .footer .footer-col p {
    color: #fff;
}
.footer .footer-col.connect h3 {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: -2px;
    -webkit-opacity: .9;
    -moz-opacity: .9;
    opacity: .9;
}
.footer .bottom-bar {
    color: rgba(255,255,255,.4);
    background: rgba(0,0,0,.5);
    font-size: 14px;
    padding: 10px 0;
}.icp {
    padding: 16px 0 8px;
}.footer a {
    color: rgba(255, 255, 255, 0.4);
}
.copyright {background-color:transparent!important}
.footer-col .footer-col-inner input {
    display: none;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px;
    line-height: normal;
}

#flotage-help {
    z-index: 1114;
    position: fixed;
    bottom: 197px;
    right: -104px;
    cursor: pointer;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}

#flotage-help .flotage-help-icon {
    width: 93px;
    height: 69px;
    background: url(http://cdn.gsxservice.com/asset/img/pc_finderteacher_6e42bfff9d.png) no-repeat;
}
#flotage-help .flotage-buttons {
    text-align: center;
    background: #37a4f5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}
#flotage-help .flotage-buttons .flotage-btn {
    background: #37a4f5;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    width: 103px;
    height: 34px;
    font-size: 14px;
    color: #ffffff;
    line-height: 34px;
}
.light-top {
bottom:150px !important;
}
#flotage-help .flotage-buttons .qrcode-box {
    display: none;
    position: absolute;
    text-align: center;
    right: 110px;
    font-size: 12px;
    top: 70px;
    width: 156px;
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 10px 14px;
}

#flotage-help .flotage-buttons .qrcode-box .text-primary {
    color: #ff9100;
    line-height: 20px;
}

#flotage-help .flotage-buttons .qrcode-box .wechat-qrcode {
    width: 115px;
    height: 115px;
    margin: 0 auto;
    background: url(/files/pages/img/xiaoying.png) no-repeat;
	background-size: cover;
}
#flotage-help .flotage-buttons .qrcode-box .text-muted {
    color: #6d6d6e;
    line-height: 20px;
}
#flotage-help .flotage-buttons .flotage-btn:hover {
    background: #2b84c5;
}
#flotage-help a{
color:#fff;
}
</style>
<div id="flotage-help" style="right: 7px;">
<div class="flotage-help-icon">
</div>
<div class="flotage-buttons">
<div class="flotage-btn findteacher"><a href='javascript:;'>免费评估规划</a></div>
<div class="flotage-btn comeon-im"><a href='https://static.meiqia.com/dist/standalone.html?eid=14353' target="_blank" >立即咨询</a></div>
<div class="flotage-btn get-courses"><a href='javascript:;'>填表领资料</a></div>
<div class="flotage-btn get-tel"><a href='javascript:;'>电话咨询</a></div>

<div class="qrcode-box" style="display: none;">
<div class="text-primary">小莺微信公众号:</div>
<div class="text-primary">eggelite</div>
<div class="wechat-qrcode"></div>
<div class="text-muted">精品好课等你领</div>
</div>

</div>
</div>

  <div class="light-top hidden">
    <a href="javascript:;">
      <i class="es-icon es-icon-keyboardarrowup"></i>
    </a>
  </div>
<script>

$('#flotage-help .flotage-buttons .get-courses').click(function(){
	window.open("http://www.xiaoying.net/ziliao");

});
$('#flotage-help .flotage-buttons .findteacher').click(function(){
window.open("http://www.xiaoying.net/ziliao");
});
$('#flotage-help .flotage-buttons .get-tel').hover(function(){
$('#flotage-help .flotage-buttons .get-tel a').text("4000150170");
},function(){
$('#flotage-help .flotage-buttons .get-tel a').text("电话咨询");

});
</script>
