<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="./index/index2.css">
    <link rel="stylesheet" type="text/css" href="./index/bootstrap/css/bootstrap.css">
    <script type="text/javascript"></script>
</head>
<body>

        <section class="fetchInfo" style="background: #ffd950!important;padding:30px 0;">
            <form class="container" action="" method="">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <input type="text" class="form-control" id="name" placeholder="请输入姓名">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <input type="tel" class="form-control" name="phone" lay-verify="phone" autocomplete="off" placeholder="手机号(纸质材料将通过快递邮寄)" class="layui-input">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                        <input type="text" class="form-control" id="name" placeholder="微信/QQ">
                    </div>
                    
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                        <select name="xl" class="form-control" lay-filter="aihao">
                            <option value="">目前学历</option>
                            <option value="4">本科大四</option>
                            <option value="3">本科大三</option>
                            <option value="2">本科大二</option>
                            <option value="1">本科大一</option>
                            <option value="10">大专大三</option>
                            <option value="9">大专大二</option>
                            <option value="8">大专大一</option>
                            <option value="7">高三</option>
                            <option value="6">高二</option>
                            <option value="5">高一</option>
                            <option value="1">其他</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                        <select name="yusu" lay-filter="aihao" class="form-control">
                            <option value="">学习日语的原因</option>
                            <option value="1" title="留学需要">留学需要</option>
                            <option value="2" title="工作应用">工作应用</option>
                            <option value="3" title="赴日旅游">赴日旅游</option>
                            <option value="4" title="10万以上只要能上名校都愿意花">日常兴趣</option>
                            <option value="5" title="其他">自己也不知道</option>
                        </select>
                    </div>    
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="submit" class="btn btn-warning btn-lg ">原始按钮</button>
                    </div>
                </div>
            </form> 
        </section>

</body>
</html>