<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<html lang="zh_CN" >
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
  <meta name="renderer" content="webkit">
  <!--<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">-->
  <meta name="baidu-site-verification" content="av2IpHyf6R" />
  <meta name="baidu-site-verification" content="av2lpHyf6R">

  <meta name="360-site-verification" content="d18b69263d331b380d6b77637b535983" />
  <title>深圳远英出国咨询 - 深圳远英出国</title>
  <meta name="keywords" content="日本读研,SGU咨询，日本读研申请" />
  <meta name="description" content="深圳远英出国为你提供最全面最专业的咨询,日本读研院生咨询,日本大学专升硕课程咨询等" />
  <meta content="B6-UcuS82ThjdcFgBQ3Y9hh0SGagJYVP6WOZ45fbmW0" name="csrf-token" />
  <meta content="0" name="is-login" />
  <meta content="0" name="is-open" />

  <script src="files/false/Scripts/uaredirect.js" type="text/javascript"></script>



   <link rel="icon" href="/files/system/2017/09-01/072306ab1079201406.ico?7.5.15" type="image/x-icon" />
  <link rel="shortcut icon" href="/files/system/2017/09-01/072306ab1079201406.ico?7.5.15" type="image/x-icon" media="screen"/>


<link href="files/false/Css/bootstrap.css" rel="stylesheet"/>
<link rel="stylesheet" media="screen" href="files/false/Css/common.css"/>
<link rel="stylesheet" media="screen" href="files/false/Css/main.css"/>
<link rel="stylesheet" media="screen" href="files/false/Css/es-icon.css"/>
<link rel="stylesheet" media="screen" href="files/false/Css/layui.css"/>
<link rel="stylesheet" media="screen" href="files/false/Css/iconfont.css"/>

<link rel="stylesheet" media="screen" href="files/false/Css/theme.css"/>



  <!--[if lt IE 9]>
    <script src="Scripts/html5shiv.js"></script>
    <script src="Scripts/respond.min.js"></script>

  <![endif]-->


</head>
<body >

  <div class="es-wrap">


<link href="files/false/Css/kefu.css" rel="stylesheet"/>
<link href="files/false/Css/ad-slide.css" media="all" rel="stylesheet">

<style>
.light-homepage .topbar{background:#fff!important}
.light-homepage .light-navbar{box-shadow:none!important}

.light-homepage .navbar-fixed-top .light-navbar{background:#fff!important}
.topbar {background:#fff}
.topbar a{color:#333;font-size:13px;margin-left:15px;}
.topbar-nav {height:30px!important;line-height:30px;float:right!important;color:#333;}
</style>
<header class="light-header">
<nav class="topbar" style=";box-shadow:none;">


<div class="container">
	<div class="topbar-nav" style="">


<a href="">首页</a>
<div class="topbar-nav" style="float:left">

<a href="">深圳</a>

<a href="">上海</a>

<a href="">苏州</a>

<a href="">东京</a>


</div>



</div>
</div>
</nav>

	<nav class="navbar navbar-inverse light-navbar light-navbar-white">
	<div class="navbar-container">
		<div class="navbar-headers ">
			<a href="/" class="navbar-brand">
		      		        <img src="files/false/Picture/logo.svg" class="img-responsive img-full">
		      		    </a>
			<ul class="nav navbar-nav hidden-xs hidden-sm ">
        <li class="nav-list">
            <a href='/wenhua' target="_blank"
               class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
                    日本文化 <!--<span class="caret"></span>-->
            </a>
        </li>


                            <li class="dropdown nav-list">
            <a href='/jiaqi' target="_blank"
               class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
                    日本假期 <!--<span class="caret"></span>-->
            </a>

        </li>

        <li class="dropdown nav-list">
          <a href="/jxj" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              日本奖学金
      </a>
        </li>

        <li class="dropdown nav-list">
          <a href="/kc" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              日语课程
      </a>
        </li>

			</ul>
		</div>
		<div class="nav-mobile">
	  		<div class="panel-overlay"></div>
	  		<a href="javascript:;" class="open-panel js-togglePane hidden-lg hidden-md">
		    	<i class="iconfont icon-mulu"></i>
		    </a>
		    <div class="nav-layout-dark">
		    	<form class="navbar-form" action="/search" method="get">
		        <div class="form-group">
		          <input class="form-control" name="q"/>
		          <button class="button es-icon es-icon-search"></button>
		        </div>
		      </form>

		    </div>
	  	</div>
	  	</div>
	</nav>

</div>
</header>



<script src="files/false/Scripts/jquery.min.js"></script>



<!--
百度统计代码
 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?916d5e71705fb1d76f48bf1b0473ea8c";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

















<div id="content-container" class="container">



<div class="article-detail row" id="detail-content">
<!-- 主内容 -->
<div class="col-md-8 article-detail-main">
<section class="es-section article-content">
<ol class="breadcrumb">

<li><a href="">日本假期</a></li>
<li class="active">正文</li>
</ol>
<div class="article-metas">
<!--
<div class="pull-left">
<div class="date">
<div class="day">29</div>
<div class="month">09月</div>
</div>
</div>
-->
<div class="metas-body">
<h1 class="title">
日本学校都有哪些节假日？
</h1>

</div>
</div>


<style>

.article-metas .metas-body {padding-left:0px;}

.article-metas .metas-body .title {
font-size: 23px;
line-height: 48px;font-weight:600;
}

.breadcrumb {
padding: 0px;
margin-bottom: 10px;
list-style: none;
border-radius: 4px;
}

</style>
<div class="article-text">
<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;text-align:center;"><img alt="" src="files/false/Picture/106d3af78b984e7f95ab45e0a72f3a37.gif" style="margin:0px;padding:0px;height:auto;width:auto;" /><br style="margin:0px;padding:0px;max-width:100%;" /><span style="margin:0px;padding:0px;max-width:100%;color:rgb(255,76,0);"><strong style="margin:0px;padding:0px;max-width:100%;">暑假寒假怎么放</strong></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;">许多学生在去日本之前都非常好奇日本学校都是怎么放假的，今天就来说说日本的学校都有哪些假期。</span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;">和国内的寒暑假不同，日本的学校一般都有三个假期为春假，暑假和寒假。根据学校的不同，假期的长短和先后也会有所调整，不过大部分学校的假期差别还是相差不大的。</span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;">春假是2月到4月，暑假是8月到10月，寒假一般是12月24日到1月8日。</span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;">除了这四个半月的长假以外，每个月都会有一两天法定节日成为假期，在日本的年历上都会用红色字体标注。</span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;">来看看每个月都有哪几天放假吧。</span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;text-align:center;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;"><img alt="" src="files/false/Picture/106d3af78b984e7f95ab45e0a72f3a37.gif" style="margin:0px;padding:0px;height:auto;width:auto;" /></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;text-align:center;"><strong style="margin:0px;padding:0px;max-width:100%;"><span style="margin:0px;padding:0px;max-width:100%;color:rgb(255,76,0);">法定假日怎么放</span></strong></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><img alt="" src="files/false/Picture/4b5daa37bd5c4302a36a4166c2faeba4.gif" style="margin:0px;padding:0px;height:auto;width:auto;" /></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;color:rgb(255,76,0);"><strong style="margin:0px;padding:0px;max-width:100%;"><span style="margin:0px;padding:0px;max-width:100%;">1月1日 元旦 </span></strong></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;">日本的元旦叫做正月，相当于国内的春节。日本人非常热衷于寄贺年卡，在十二月底的时候就会将自己写的贺年卡寄出保证朋友能够在新年时收到祝福。在一年的最后一天晚上日本人会吃“年越荞麦”，在新年到来的时候会穿着和服去寺庙祈福。春节假期为5-7天，和寒假结束的日子一致，一般学校会在8日这天开始上课。</span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;"><img alt="" src="files/false/Picture/d34bc41d42a045e4969967f65a7b0f69.gif" style="margin:0px;padding:0px;height:auto;width:auto;" /></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;"><strong style="margin:0px;padding:0px;max-width:100%;"><span style="margin:0px;padding:0px;max-width:100%;color:rgb(255,76,0);">1月的第二个星期一 成人式</span></strong></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;">成人式是为了祝贺满20岁的青年举行的仪式，在日本是一个很重要的日子。在节日的前一个月，刚满20周岁的男女青年都会收到学校，市里的邀请函，被邀请去大礼堂参加成人式。当天受到邀请的青年们都会换上和服，精心打扮前往这个盛大的仪式。他们的家人，长辈，朋友都会前来祝福，鼓励他们从此负担起社会的责任和义务。</span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;color:rgb(255,76,0);"><strong style="margin:0px;padding:0px;max-width:100%;"><span style="margin:0px;padding:0px;max-width:100%;">2月11日 建国纪念日</span></strong></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;">2月11日是日本建国纪念日，在二战前叫做“纪元节”，二战后节日被废除，直到1966才将日本建国纪念日增加到国民祝日里，将公元前660年2月11日第一代天皇建国日作为纪念日。</span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;"><img alt="" src="files/false/Picture/9381692545f4478cacf81169c1f3d1c3.gif" style="margin:0px;padding:0px;width:670.015px;height:auto;" /></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;"><strong style="margin:0px;padding:0px;max-width:100%;"><span style="margin:0px;padding:0px;max-width:100%;color:rgb(255,76,0);">3月20日 春分节</span></strong></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;">春分节以“歌颂自然，怜爱生物”为主旨，每年的放假时间都在3月20，21左右，日期根据日本国家天文台在上一年的测算所定。</span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;"><img alt="" src="files/false/Picture/5874e2c9887145968ca0f88e0e871390.gif" style="margin:0px;padding:0px;height:auto;width:auto;" /></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;"><strong style="margin:0px;padding:0px;max-width:100%;"><span style="margin:0px;padding:0px;max-width:100%;color:rgb(255,76,0);">4月29日 昭和日</span></strong></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;">日本的昭和日是昭和天皇的生日，在昭和年代叫做“天皇诞生日”。昭和天皇过世后由现在的平成天皇继位，这一天就该为“昭和日”。</span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;"><strong style="margin:0px;padding:0px;max-width:100%;"><span style="margin:0px;padding:0px;max-width:100%;color:rgb(255,76,0);">5月3日，4日，5日 黄金周</span></strong></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;">这三三天分别对应着宪法纪念日，绿化节和儿童节（男孩节）。因为三天假期连在一起，所以一般都会连着放7-10天，日本称之为“黄金周”。黄金周可以算是日本的“春运”了，大部分日本人都会选择在这个假期回老家，出国游玩。</span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;"><img alt="" src="files/false/Picture/39da678b25984c37b7f0735e56414a69.gif" style="margin:0px;padding:0px;height:auto;width:auto;" /></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;color:rgb(255,76,0);"><strong style="margin:0px;padding:0px;max-width:100%;"><span style="margin:0px;padding:0px;max-width:100%;">7月的第三个星期一  海洋节</span></strong></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;">日本是个四面环海的岛国，不论是文化的传入和输出还是货物运输，生活的方方面面都和大海息息相关。为了强调大海的重要性，日本曾掀起一场“海洋日”的大规模国民运动，于是从1996年增加了海洋日。</span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;"><strong style="margin:0px;padding:0px;max-width:100%;"><span style="margin:0px;padding:0px;max-width:100%;color:rgb(255,76,0);">8月11日 山之日</span></strong></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;">为促进日本经济增长，拉动假日消费，日本政府新设立了“山之日”鼓励国民雨山亲密接触。节日在今年8月11日正式生效。不过日本国民好像对山之日的认同感远远低于海洋节，大部分人表示并不会出去游玩而是待在家中度过。</span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;"><strong style="margin:0px;padding:0px;max-width:100%;"><span style="margin:0px;padding:0px;max-width:100%;color:rgb(255,76,0);">9月的第三个星期一 敬老节</span></strong></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;">敬老节是1947年由兵库县多可郡野间谷村的村长门脇政夫和山本明助首先提出，在每年农歇时期制定老年日，为借助老年人的智慧和经验来发展村落。1950年后，节日发展到全县，经反复提议最终成为了全日本的节日。</span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;"><img alt="" src="files/false/Picture/02190c2902db45af8767e9f83c960f79.gif" style="margin:0px;padding:0px;height:auto;width:auto;" /></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;"><strong style="margin:0px;padding:0px;max-width:100%;"><span style="margin:0px;padding:0px;max-width:100%;color:rgb(255,76,0);">9月22日  秋分节</span></strong></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;">秋分节和春分节一样，也是根据气候和昼夜长短的变化所得来的，在秋分节的那一周，日本各个家庭都会聚在一起去扫墓，供养祖先，这一天也被定义为敬奉祖先，纪念死去之人的法定假日。</span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;color:rgb(255,76,0);"><strong style="margin:0px;padding:0px;max-width:100%;"><span style="margin:0px;padding:0px;max-width:100%;">10月的第二个星期一 体育界</span></strong></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;">1964年10月10日，日本东京举办了奥运会，两年之后日本政府就规定了每年的10月10日成为了日本的体育节。在2000年的时候，实施了“快乐星期一制度”，所以日本体育节被改为每年10月的第二个星期一。</span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;"><img alt="" src="files/false/Picture/e0467c4b6ab14c9bbda59cc45200861d.gif" style="margin:0px;padding:0px;height:auto;width:auto;" /></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;"><strong style="margin:0px;padding:0px;max-width:100%;"><span style="margin:0px;padding:0px;max-width:100%;color:rgb(255,76,0);">11月3日  文化节</span></strong></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;"><strong style="margin:0px;padding:0px;max-width:100%;"><span style="margin:0px;padding:0px;max-width:100%;color:rgb(255,76,0);">11月23日 勤劳感谢日</span></strong></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;">勤劳感谢日是一个比较传统的节日，宗旨是“尊重劳动，祝贺生产，国民互相感谢”。</span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;"><strong style="margin:0px;padding:0px;max-width:100%;"><span style="margin:0px;padding:0px;max-width:100%;color:rgb(255,76,0);">12月23日  天皇诞生日</span></strong></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;">这天是现在在位的平成天皇的生日。</span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;"></span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;">作为一名日本学校的学生，其实假期还是很多的，除了以上之外八月份还有一个除却春节之外最大的节日，叫做盂兰盆节也是一个小的黄金周。近年来日本政府为了改善民生促进经济增长，充分享受假期和生活的乐趣，引入了“幸福星期一”制度，将法定假日从固定日改为了周末后的周一。</span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;">小编觉得这种幸福的制度是非常值得国内企业学习的，毕竟大部分人周末的最后几个小时都不愿意想起明天是星期一啊！</span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<hr style="margin:0px;padding:0px;max-width:100%;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;" /><p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;"> </p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;line-height:25.6px;text-align:center;"><span style="margin:0px;padding:0px;max-width:100%;font-size:14px;">-End-</span></p>

<p style="margin:0px;padding:0px;max-width:100%;clear:both;min-height:1em;color:rgb(62,62,62);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;line-height:25.6px;text-align:center;"><span style="color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;font-size:16px;text-align:center;">小莺出国 原创文章</span></p>

</div>


<div class="article-tags">
</div>
<div class="sns">
<span class="views-num">
阅读: 81
</span>
<span class="comment-num">
评论: 0
</span>
<span class="love-num">
收藏: <span class="js-like-num">0</span>
</span>
</div>
<div class="article-sns">
<a href="javascript:;" class="love js-article-like " data-like-url="/article/1747/like" data-cancel-like-url="/article/1747/canceLike"><i class="es-icon es-icon-favorite"></i><span class="js-like-num">0</span></a>
<span class="es-share right">
<a class="dropdown-toggle" href="javascript:;" data-toggle="dropdown">
<i class="es-icon es-icon-share"></i>
</a>




</span>
</div>

  <div class="empty">
你还没有登录，请先<a href="/login?goto=/article/1747">登录</a>或<a href="/register?goto=/article/1747">注册</a>！
</div>

<ul class="comment-list thread-pripost-list">
<li class="empty">还没有人评论，欢迎说说您的想法！</li>
</ul>

<nav class="text-center">

</nav>
</section>
</div>

<aside class="col-md-4 article-sidebar">

<!-- 热门评论 -->
<div class="panel panel-default hot-comments">
<div class="panel-heading">
<h3 class="panel-title">
<i class="es-icon es-icon-textsms"></i>热门评论
</h3>
</div>
<div class="panel-body">

  <div class="empty">一个评论都没有！</div>

</div>
</div>

</aside>

</div>

</div>























<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-col links col-md-2 col-sm-2 col-xs-12">
                    <div class="footer-col-inner">
                        <input id="application-insight" type="checkbox">
                        <label for="application-insight"><h3 class="title">关于我们</h3></label>
                        <ul class="list-unstyled">
                            <li><a href="" class="webkit">我们是谁?</a></li>


                            <li><a href="">联系方式</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="col-md-2 col-sm-2 col-xs-12 footer-comb">
                    <div class="footer-col links">
                        <div class="footer-col-inner">
                            <input id="browser-insight" type="checkbox">
                            <label for="browser-insight">
                            <h3 class="title">使用帮助</h3></label>
                            <ul class="list-unstyled">
                             <li><a href="https://static.meiqia.com/dist/standalone.html?eid=14353">在线咨询</a></li>


<!--
                                <li><a href="/help">帮助中心</a></li>
 -->

                      </ul>
                        </div><!--//footer-col-inner-->
                    </div>

                </div>

                <div class="col-md-2 col-sm-2 col-xs-12 footer-comb">

                    <div class="footer-col links">
                        <div class="footer-col-inner">
                            <input id="more" type="checkbox">
                            <label for="more"><h3 class="title">意见反馈</h3></label>
                            <ul class="list-unstyled">

                                <li><a href="mailto:s@everelite.com" target="_blank">意见投诉</a></li>
                                <li><a href="/privacy" target="_blank">隐私政策</a></li>

                            </ul>
                        </div><!--//footer-col-inner-->
                    </div>


                </div><!--//foooter-col-->



                 <div class="footer-col links col-md-2 col-sm-2 col-xs-12 sm-break hidden-xs" style="margin-left:-50px;">

                   <div class="footer-col-inner">
                        <input id="help-center" type="checkbox">
                        <label for="help-center" style="text-align:center"><h3 class="title" style="text-align:center">微信订阅号</h3></label><br>
                           <img style="width:50%;" src="files/false/Picture/xiaoying.png">
                    </div><!--//footer-col-inner-->
                </div>

            </div>
            <style>.social-media {width:25px;border-radius:100px}</style>
            <div class="row">
                <div class="footer-col connect col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-col-inner">                     <h3>社交媒体：

              <a href="/weixin">
                <img class="social-media" src="files/false/Picture/weixin.png">
              </a>
              <a href="http://www.weibo.com/xiaoyingchuguo">
                <img class="social-media" src="files/false/Picture/weibo.png">
              </a>
              <a href="tencent://message/?uin=8892196&amp;Site=远英出国日本留学&amp;Menu=yes">
                <img class="social-media" src="files/false/Picture/qq.png">
              </a>
              <a href="http://zhuanlan.zhihu.com/eggelite">
                <img class="social-media" src="files/false/Picture/zhihu.png">
              </a>
               <a href="http://i.youku.com/eggelite">
                <img class="social-media" src="files/false/Picture/youku.png">
              </a>
</h3>

                        <h3 style="line-height:22px;">
                        全国统一电话：4000150170<br />
                        深圳总部: 深圳市宝安区广发大厦7F<br />
                        上海: 上海市徐汇区肇嘉浜路789号均瑶国际29F<br />
                        苏州: 江苏省苏州市吴中区澄湖路888号恒润国际30F<br>
                        东京早稻田校: 東京都高田馬場1-28-4工新別館<span style="font-family:mingcho;">ビル</span>4F<br>
                        东京新宿校:东京都新宿区百人町1-22-24 朝日<span style="font-family:mingcho;">ビル</span>4F<br>
                        河南: 河南省新乡市红旗区金穗大道688号商会大厦B座11F<br>
                        </h3>



                        <p class="adr clearfix">
                            <span class="street-address"></span>
                        </p>
                        <p class="email"><a href="mailto:c@everelite.com" class="email-addr">  </a></p>
                    </div>
                </div>

                <!-- <div class="footer-col download col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-col-inner">
                        <a href="/mobility.html" class="footer-download">
                            <img src="files/false/Picture/1becd5ff.icon.svg">
                            <span class="d-text">
                                <span class="d-text-title">手机客户端</span>
                                <br>Android
                            </span>
                        </a>
                    </div>
                </div> -->
                <div class="clearfix"></div>
            </div>
            <div class="row "></div>
        </div>
    </div>

    <div class="bottom-bar">
        <div class="container">

            <div class="icp">
                <span class="small lang-selector">

                </span>
                <small class="copyright">Copyright © 2008-<span id="cr-end-time"></span> 深圳远英出国服务有限公司 <a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备17035939号</a> </small><br>
                <!-- <small> 友情链接:


                <a href="http://www.eggelite.com/duyan" style="color:#999!important" target="_blank" title="日本读研">日本读研</a> |
		<a href="http://www.lunwenzhai.com">鸿远论文网</a> |
		<a href="http://www.xielunwen.net">江山论文代写网</a> |
		<a href="http://www.twolang.cn">读朗英语背单词</a> |
		<a href="http://www.koubeikc.com">考研辅导课程</a> |
		<a href="http://www.leshenriben.com">日本留学</a> |
		<a href="http://sh.jiaoyubao.cn/liuxue/">上海留学培训</a> |
		<a href="http://www.franklincollege.cn">加拿大保送大学</a> |
		<a href="http://www.italycqu.com">意大利留学费用</a> |
		<a href="http://art.egglrlite.com">日本艺术生留学</a> |
		<a href="http://www.jxjyedu.com">江西成人高考</a> |
		<a href="http://www.5alw.com">论文代写</a> |
		<a href="http://www.001dg.com">汕头招聘网</a> |
		<a href="http://www.souaus.com">澳大利亚中文网</a> |
		<a href="http://www.zjjm.com.cn">早教加盟</a> |
		<a href="http://www.megoal.org">美国留学</a> |
		<a href="http://www.gdjhpx.com">广州全日制技能培训学校</a> |
		<a href="http://www.oyoline.com">英语培训机构排名</a> |
		<a href="http://www.tokei.cn">培训日语</a> |



                </small> -->

            </div>
        </div><!--//container-->

    </div><!--//bottom-bar-->
</footer>




<!-- <script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 14353);
</script> -->

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f0675ff37612babd2d5b3750e25a32f2";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>


<style>
.footer {
    background: #666;
    color: #fff;
    font-size: 12px;
    position: relative;
}
.footer .footer-content .container {
    padding-top: 30px;
}



.footer .footer-col .title {
    font-size: 13px;
    margin-bottom: 0;
    letter-spacing: 0;
    line-height: 1.66667;
    font-weight: 600;
    color: #fff;width:100%
}
.label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    background: transparent;
border: 0;
margin: 0;

padding: 0;
vertical-align: baseline;
outline: 0;
text-rendering: optimizelegibility;
-moz-osx-font-smoothing: grayscale !important;
font-feature-settings: "liga", "kern";
-webkit-font-smoothing: subpixel-antialiased;
}

.footer .footer-col.links ul li {
    margin-bottom: 0;
    color: #fff!important;
    font-weight: 400;
    line-height: 22px;
    font-size: 13px;
}
.footer .footer-col a, .footer .footer-col p {
    color: #fff;
}
.footer .footer-col.connect h3 {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: -2px;
    -webkit-opacity: .9;
    -moz-opacity: .9;
    opacity: .9;
}
.footer .bottom-bar {
    color: rgba(255,255,255,.4);
    background: rgba(0,0,0,.5);
    font-size: 14px;
    padding: 10px 0;
}.icp {
    padding: 16px 0 8px;
}.footer a {
    color: rgba(255, 255, 255, 0.4);
}
.copyright {background-color:transparent!important}
.footer-col .footer-col-inner input {
    display: none;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px;
    line-height: normal;
}

#flotage-help {
    z-index: 1114;
    position: fixed;
    bottom: 197px;
    right: -104px;
    cursor: pointer;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}

#flotage-help .flotage-help-icon {
    width: 93px;
    height: 69px;
    background: url(Images/pc_finderteacher_6e42bfff9d.png) no-repeat;
}
#flotage-help .flotage-buttons {
    text-align: center;
    background: #37a4f5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}
#flotage-help .flotage-buttons .flotage-btn {
    background: #37a4f5;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    width: 103px;
    height: 34px;
    font-size: 14px;
    color: #ffffff;
    line-height: 34px;
}
.light-top {
bottom:150px !important;
}
#flotage-help .flotage-buttons .qrcode-box {
    display: none;
    position: absolute;
    text-align: center;
    right: 110px;
    font-size: 12px;
    top: 70px;
    width: 156px;
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 10px 14px;
}

#flotage-help .flotage-buttons .qrcode-box .text-primary {
    color: #ff9100;
    line-height: 20px;
}

#flotage-help .flotage-buttons .qrcode-box .wechat-qrcode {
    width: 115px;
    height: 115px;
    margin: 0 auto;
    background: url(Images/xiaoying.png) no-repeat;
	background-size: cover;
}
#flotage-help .flotage-buttons .qrcode-box .text-muted {
    color: #6d6d6e;
    line-height: 20px;
}
#flotage-help .flotage-buttons .flotage-btn:hover {
    background: #2b84c5;
}
#flotage-help a{
color:#fff;
}
</style>
<div id="flotage-help" style="right: 7px;">
<div class="flotage-help-icon">
</div>
<!-- <div class="flotage-buttons">
<div class="flotage-btn findteacher"><a href='javascript:;'>免费评估规划</a></div>
<div class="flotage-btn comeon-im"><a href='https://static.meiqia.com/dist/standalone.html?eid=14353' target="_blank" >立即咨询</a></div>
<div class="flotage-btn get-courses"><a href='javascript:;'>填表领资料</a></div>
<div class="flotage-btn get-tel"><a href='javascript:;'>电话咨询</a></div>

<div class="qrcode-box" style="display: none;">
<div class="text-primary">远英微信公众号:</div>
<div class="text-primary">eggelite</div>
<div class="wechat-qrcode"></div>
<div class="text-muted">精品好课等你领</div>
</div>

</div> -->
</div>

  <div class="light-top hidden">
    <a href="javascript:;">
      <i class="es-icon es-icon-keyboardarrowup"></i>
    </a>
  </div>
<script>

$('#flotage-help .flotage-buttons .get-courses').click(function(){
	window.open("http://www.eggelite.com/ziliao");

});
$('#flotage-help .flotage-buttons .findteacher').click(function(){
window.open("http://www.eggelite.com/ziliao");
});
$('#flotage-help .flotage-buttons .get-tel').hover(function(){
$('#flotage-help .flotage-buttons .get-tel a').text("4000150170");
},function(){
$('#flotage-help .flotage-buttons .get-tel a').text("电话咨询");

});
</script>


      </div>




  <div id="login-modal" class="modal" data-url="/login/ajax"></div>
  <div id="modal" class="modal"></div>
  <div id="attachment-modal" class="modal"></div>


<script src="files/false/Scripts/translator.min.js"></script>
<script src="files/false/Scripts/b04f3c49031146a9b013dc4115bb85b5.js"></script><script src="Scripts/sea.js"></script>
<script src="files/false/Scripts/seajs-style.js"></script>
<script src="files/false/Scripts/seajs-text.min.js"></script>
<script src="files/false/Scripts/seajs-global-config.js"></script>
<script src="files/false/Scripts/seo-global.js"></script>
<script>
  seajs.use(app.mainScript);
</script>

</body>
</html>
