<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>提交成功跳转页面</title>
  <style>
  body,div{margin:0;padding:0;}
  p{font-size:18px;}
  #container {position: absolute;left: 50%;margin-left: -425px;padding-top:130px;width:850px;font-weight: bolder; }
  #container:after{display: block;clear: both;content: ""}
  #container div{float: left;vertical-align: middle;margin: o auto;}
  #container div img{padding: 19px 50px 0 50px;}
  #container .btn{width:100px;height:20px;color:#F9D10B;background:#fff;text-align:center;line-height:30px;text-decoration:none;border-radius:3px;}
  #container .btn:hover{background:#14bee2;color:#fff;}

  @media screen and (max-width: 750px) {
    body {
        max-width: 750px;
        min-width: 320px;
        width: 100%;
        background-color:lightblue;
        overflow: hidden;
    }
    p{font-size:14px;}
    #container {position: relative;left: 0;margin-left: 0;font-weight: bolder;overflow: hidden;max-width:750px;width: 100%;}
    #container:after{display: block;clear: both;content: ""}
    .skip_logo{width: 25%;}
    .title{width: 75%;}
    #container div{float: left;vertical-align: middle;margin: o auto;}
    #container div img{padding: 18px 0;}
    #container .btn{width:10%;height:20px;color:#F9D10B;background:#fff;text-align:center;line-height:30px;text-decoration:none;border-radius:3px;}
  }
  </style>
  </head>
  <body>
  <!-- 代码 开始 -->
  <div id="container">
    <div class="skip_logo">
      <img src="assets/img/skip-logo.png" alt="">
    </div>
    <div>
      <p>{{ msg }}</p>
      <p>将在<span id="time">3</span>秒后自动转入&nbsp;<a href="/" class="btn">{{ web }}</a> </p>
    </div>
  </div>
  <!-- 代码 结束 -->
  <script type="text/javascript">
  var time = {{ seconds }},
      url = "{{ url }}";
  document.getElementById("time").innerHTML=time;
  function Load(){
    for(var i=time;i>=0;i--){
      window.setTimeout('doUpdate('+i+')',(time-i)*1000);
    }}
  function doUpdate(num){
    document.getElementById("time").innerHTML=num;
    if(num==0){
      window.location=url;
    }}
  Load();
  </script>
  </body>
</html>
