<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>课程设置</title>


  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  <link href="http://www.riyucun.com/Content/css/bootstrap.min.css" rel="stylesheet" />
  <link href="http://www.riyucun.com/Content/css/bootstrap.css" rel="stylesheet" />

  <link href="http://www.riyucun.com/content/css/base.css" rel="stylesheet" />


  <script type="text/javascript" src="http://www.riyucun.com/Content/js/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.riyucun.com/Content/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://www.riyucun.com/Content/js/jquery.nicescroll.js"></script>
  <script type="text/javascript" src="http://www.riyucun.com/Content/js/qy-comm.js"></script>
  <script type="text/javascript" src="http://www.riyucun.com/Content/js/hammer.min.js"></script>
  <script type="text/javascript" src="http://www.riyucun.com/Content/js/jquery.hammer.js"></script>
  <script type="text/javascript" src="http://www.riyucun.com/Content/js/jquery.crotator.js"></script>
  <script type="text/javascript" src="http://www.riyucun.com/Content/layer/layer.js"></script>

  <link rel="stylesheet" href="http://www.xiaoying.net/files/false/Css/theme.css">
  <link href="http://www.riyucun.com/Content/css/index.css?2015030401" rel="stylesheet" />

  <script type='text/javascript'>
      (function(m, ei, q, i, a, j, s) {
          m[i] = m[i] || function() {
              (m[i].a = m[i].a || []).push(arguments)
          };
          j = ei.createElement(q),
              s = ei.getElementsByTagName(q)[0];
          j.async = true;
          j.charset = 'UTF-8';
          j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
          s.parentNode.insertBefore(j, s);
      })(window, document, 'script', '_MEIQIA');
      _MEIQIA('entId', 14353);
      _MEIQIA('withoutBtn');
  </script>
</head>

<body class="">
  <div class="rbc-head">
    <div class="rbc-head-top" style="background:#fff;">
      <div class="container">

        <a href="/"style="color:#000;" >首页</a>
        <a href="javascript:;" target="_blank" style="color:#000;">深圳</a>
        <a href="javascript:;" target="_blank"style="color:#000;">上海</a>
        <a href="javascript:;" target="_blank"style="color:#000;">苏州</a>
        <a href="javascript:;"style="color:#000;">东京</a>
      </div>
    </div>


    <div class="rbc-nav" style="border:0;">
      <div class="container">
        <div class="col-xs-3 rbc-logo" style="width:15%;">
          <a href="/" target="_blank"><img style="height:50px;" src="http://www.xiaoying.net/files/false/Picture/logo.svg"></a>
        </div>
        <div class="col-xs-9 rbc-navbd">
          <nav class="nav-collapse dropdown">
            <span class="glyphicon glyphicon-align-justify" id="rbc-nav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
            <ul class="dropdown-menu rbc-navbd-ul" aria-labelledby="rbc-nav">
              <li  style="width:15%;"><a href="/wenhua" style="color: #333;font-size: 18px;font-weight: 600;background:none;    line-height: 12px;border:0;">日本文化</a></li>
              <li><a href="/jiaqi" style="color: #333;font-size: 18px;font-weight: 600;background:none;    line-height: 12px;border:0;">日本假期</a></li>
              <li><a href="/jxj" style="color: #333;font-size: 18px;font-weight: 600;background:none;    line-height: 12px;border:0;">日本奖学金</a></li>
              <li><a href="/kc" style="color: #333;font-size: 18px;font-weight: 600;background:none;    line-height: 12px;border:0;">日语课程</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="rbc-headb"></div>

  <!--轮播图-->
  <div id="carousel-example-generic" class="carousel slide rbc-slide" data-ride="carousel">
    <img style="width:100%;" src="http://www.riyucun.com/Content/Images/ban04.jpg">
  </div>


  <div class="container rbc-p0">
    <h3 class="rbc-h3b rbc-mt45 text-center">课程设置</h3>
    <div class="row rbc-set-01 rbc-mt55">
      <div class="col-md-4 col-xs-12 rbc-right text-center">
        <div class="rbc-set-01a">
          <p>高级</p>
          <p>中级</p>
          <p>初级</p>
          <p><b>我们带你快速成长</b></p>
        </div>
      </div>
      <div class="col-md-8 col-xs-12 rbc-left">
        <ul class="rbc-set-01ul">
          <li>
            <h3>严谨的课程体系:</h3>
            <div class="rbc-set-01div">
              <p>课程分为初级、中级和高级，共10个级别</p>
            </div>
          </li>
          <li>
            <h3>科学的课程架构：</h3>
            <div class="rbc-set-01div">
              <p>我们将每一课分为A、B、C、D四个环节； A环节锻炼高速听和说的能力，快速重复的能力，训练语法的正 确度（确保学生将正确的语法脱口而出）；B、C、D环节是将 上述A的语法带入不同的语境中拓展会话，使学生掌握正确语法 的基础上运用到自然的会话中的训练（训练学习者的会话拓展 能力） 。</p>
            </div>
          </li>
          <li>
            <h3>级别设置：</h3>
            <div class="rbc-set-01div2">
              <div class="rbc-settab" style="display: block;">
                <p class="rbc-ptit">L1 表現：単語がポツポツ言える <span>课程：初级01-12课， 共48课时</span></p>
                <p>L1-L2 主要先训练听力的灵敏度、发音、基本文法教学，教材偏向日常生活。</p>
                <p>从听、说、读、写，正确的学习语言过程，使学员熟悉全日语的环境，藉由正确模仿对象引导。</p>
              </div>
              <div class="rbc-settab">
                <p class="rbc-ptit">L2 表現：非常に簡単な質問に答えられる<span>课程：初级13-24课， 共48课时</span></p>
                <p>L1-L2 主要先训练听力的灵敏度、发音、基本文法教学，教材偏向日常生活。</p>
                <p>从听、说、读、写，正确的学习语言过程，使学员熟悉全日语的环境，藉由正确模仿对象引导，使之对日语产生兴趣，在轻松愉快的环境下学习。 </p>
              </div>
              <div class="rbc-settab">
                <p class="rbc-ptit">L3 表現：日本人とカタコトな会話ができる<br /><span>课程：初级26-38课+自由会话课程，自由会话可以对26-38课的内容更好的延伸，共98课时。</span></p>
                <p>L3-L4 目前程度可以完整说出简单句子，但在语法组织上错误较多。教材着重在组织句子跟语法方面，建构基本对话与语法能力，例：自我介绍、职业介绍。L4毕业时基本跟日本人沟通没有问题，但涉及深层沟通时尚能力不足！</p>
              </div>
              <div class="rbc-settab">
                <p class="rbc-ptit">L4 表現：質問を受け取り的を外さず答えられる<br /><span>课程：初级39-50课+自由会话课程，自由会话可以对39-50课的内容更好的延伸，共108课时。</span></p>
                <p>L3-L4 目前程度可以完整说出简单句子，但在语法组织上错误较多。教材着重在组织句子跟语法方面，建构基本对话与语法能力，例：自我介绍、职业介绍。L4毕业时基本跟日本人沟通没有问题，但涉及深层沟通时尚能力不足！</p>
              </div>
              <div class="rbc-settab">
                <p class="rbc-ptit">L5 表現：質問に対してスムーズに答えられ+αも返ってくる<br /><span>课程：中级1-12课 48课时 还导入了12课时基础会话，共60课时</span></p>
                <p>L5-L6 可和日籍人士日常沟通，上课重点在于建构日语逻辑思考、语法结构强化；教材以兴趣、职场等简易专业用语为导向，强化表达能力、口语能力。初期教材会加入职场用语，语法法结构加强。</p>
              </div>
              <div class="rbc-settab">
                <p class="rbc-ptit">L6 表現：日本人と流暢な会話ができ、日常的な通訳がこなせる<br /><span>课程：中级13-24课 48课时 还导入了12课时基础会话，共60课时</span></p>
                <p>L5-L6 可和日籍人士日常沟通，上课重点在于建构日语逻辑思考、语法结构强化；教材以兴趣、职场等简易专业用语为导向，强化表达能力、口语能力。初期教材会加入职场用语，语法法结构加强。</p>
              </div>
              <div class="rbc-settab">
                <p class="rbc-ptit">L7 表現：日本人同士の会話に加わっても問題なく発言でき、専門用語を習得すれば会社での通訳がこなせる<br /><span>课程：中高级1-20课，取材于日本人日常生活的所以所想，所见所闻，报纸、新闻、文学和广告等，更以自由会话为主，畅想日语，共80课时</span></p>
                <p>L7-L8 训练深度对某个话题的讨论能力，取材于日本人日常生活的报纸、新闻、文学和广告等话题，以自由会话为主，畅想日语，纠正日语错误，让日语更地道。L8毕业时，可以从事口译的工作，具有深度讨论的能力。</p>
              </div>
              <div class="rbc-settab">
                <p class="rbc-ptit">L8 表現：日本人との討論や商談の場で問題なく発言でき、日本人独特の言い回しなども理解でき、自分でも使える<br /><span>课程：中高级20-40课，取材于日本人日常生活的所思所想，所见所闻，报纸、新闻、文学和广告等，更以自由会话为主，畅想日语，共80课时</span></p>
                <p>L7-L8 训练深度对某个话题的讨论能力，取材于日本人日常生活的报纸、新闻、文学和广告等话题，以自由会话为主，畅想日语，纠正日语错误，让日语更地道。L8毕业时，可以从事口译的工作，具有深度讨论的能力。 </p>
              </div>
              <div class="rbc-settab">
                <p class="rbc-ptit">L9 　日本人との討論や商談の場で問題なく発言でき、日本人独特の言い回しなども理解でき、自分でも使える<br /><span>日常会话1-20课，取材于日常实景</span></p>
                <p>L9-10 已建构日语思考逻辑，不太会犯语法错误，但在用字方面需多注意。教学重点在于用字遣词是否恰当、强化词组跟表达能力。学员已能自行简报、用字遣词与修饰得当。此时能依场合使用日语（参加不同类型会议，皆能表达得当）。</p>
              </div>
              <div class="rbc-settab">
                <p class="rbc-ptit">L10 　日本人との討論や商談の場で問題なく発言でき、日本人独特の言い回しなども理解でき、自分でも使える<br /><span>日常会话21-40课，取材于日常实景</span></p>
                <p>L9-10 已建构日语思考逻辑，不太会犯语法错误，但在用字方面需多注意。教学重点在于用字遣词是否恰当、强化词组跟表达能力。学员已能自行简报、用字遣词与修饰得当。此时能依场合使用日语（参加不同类型会议，皆能表达得当）。</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="rbc-tab-box" id="rbc-tab-box">
      <table cellpadding="0" cellspacing="0" border="0" width="100%" class="rbc-tab">
        <tbody>
          <tr>
            <td valign="bottom">
              <div class="rbc-tab-div01">等级</div>
            </td>
            <td valign="bottom">
              <table cellpadding="0" cellspacing="0" border="0" width="100%" class="rbc-tab02">
                <tbody>
                  <tr>
                    <td>
                      <div data-ref="0" class="rbc-settab-t rbc-tab-div02 active">L1</div>
                    </td>
                    <td>
                      <div data-ref="1" class="rbc-settab-t rbc-tab-div02">L2</div>
                    </td>
                    <td>
                      <div data-ref="2" class="rbc-settab-t rbc-tab-div02">L3</div>
                    </td>
                    <td>
                      <div data-ref="3" class="rbc-settab-t rbc-tab-div02">L4</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td valign="bottom">
              <table cellpadding="0" cellspacing="0" border="0" width="100%" class="rbc-tab03">
                <tbody>
                  <tr>
                    <td>
                      <div data-ref="4" class="rbc-settab-t rbc-tab-div03">L5</div>
                    </td>
                    <td>
                      <div data-ref="5" class="rbc-settab-t rbc-tab-div03">L6</div>
                    </td>
                    <td>
                      <div data-ref="6" class="rbc-settab-t rbc-tab-div03">L7</div>
                    </td>
                    <td>
                      <div data-ref="7" class="rbc-settab-t rbc-tab-div03">L8</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td valign="bottom">
              <table cellpadding="0" cellspacing="0" border="0" width="100%" class="rbc-tab04">
                <tbody>
                  <tr>
                    <td>
                      <div data-ref="8" class="rbc-settab-t rbc-tab-div04">L9</div>
                    </td>
                    <td>
                      <div data-ref="9" class="rbc-settab-t rbc-tab-div04">L10</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <div class="rbc-tab-div01">课程</div>
            </td>
            <td class="rbc-green2">
              <div class="rbc-tab-div05">自然发音的学习、词汇和基本句型的学习、基础会话运用</div>
            </td>
            <td class="rbc-blue2">
              <div class="rbc-tab-div05">实际发音运用、词汇句型变化运用、情景对话运用</div>
            </td>
            <td class="rbc-yellow2">
              <div class="rbc-tab-div05">熟悉运用、深度讨论技巧的学习</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="rbc-tab-div01">学习方法</div>
            </td>
            <td class="rbc-green2">
              <div class="rbc-tab-div05">模仿 <img src="/Content/Images/rbc-q.png" alt="" /> 熟悉日语应用></div>
            </td>
            <td class="rbc-blue2">
              <div class="rbc-tab-div05">指导 <img src="/Content/Images/rbc-q.png" alt="" /> 练习日语运用></div>
            </td>
            <td class="rbc-yellow2">
              <div class="rbc-tab-div05">互动 <img src="/Content/Images/rbc-q.png" alt="" /> 提高日语常识></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="rbc-tab-div01">阶段</div>
            </td>
            <td class="rbc-green2">
              <div class="rbc-tab-div05">初级 基础班</div>
            </td>
            <td class="rbc-blue2">
              <div class="rbc-tab-div05">中级 中高级</div>
            </td>
            <td class="rbc-yellow2">
              <div class="rbc-tab-div05">高级</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="rbc-tab-div01">JLPT</div>
            </td>
            <td class="rbc-green2">
              <div class="rbc-tab-div05">N5 N4</div>
            </td>
            <td class="rbc-blue2">
              <div class="rbc-tab-div05">N3 N2</div>
            </td>
            <td class="rbc-yellow2">
              <div class="rbc-tab-div05">N1</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="rbc-tab-div01">JTEST</div>
            </td>
            <td class="rbc-green2">
              <div class="rbc-tab-div05">J.TES E J.TES D</div>
            </td>
            <td class="rbc-blue2">
              <div class="rbc-tab-div05">J.TES C J.TES B</div>
            </td>
            <td class="rbc-yellow2">
              <div class="rbc-tab-div05">J.TES A</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="rbc-qy-02 rbc-mt65">
    <h3 class="rbc-h3b text-center">多样的课程安排</h3>
    <div class="container rbc-set-02 rbc-mt50 text-center">
      <div class="col-md-4 col-xs-12">
        <img src="http://www.riyucun.com/Content/Images/set01.jpg" alt="" width="" />
        <div class="rbc-red2 rbc-mt5">
          <h3>一对一</h3>
          <p>您可以获得外教百分之百的逐句指导； 您可以预约任何时间上课（24小时制）； 您甚至可以提供上课教材（如：工作需要进行的日语报告等）； 让外教针对您的特殊需求，提供完整协助。</p>
          <a href="javascript:void();" onclick="_MEIQIA('showPanel')" class="btn-danger rbc-btn09">免费体验一对一</a>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="rbc-yellow2 rbc-mb5">
          <h3>主题沙龙</h3>
          <p>沙龙课主题多为日本文化、日常礼仪、面试指导等，在外教由浅入深的引领下，您可在最短时间内，获最全面、实用的日语内容。</p>
        </div>
        <img src="http://www.riyucun.com/Content/Images/set03.jpg" alt="" width="" />
        <a href="javascript:void();" onclick="_MEIQIA('showPanel')" class="btn-danger rbc-btn09 rbc-mt20">免费体验沙龙课</a>
      </div>
      <div class="col-md-4 col-xs-12">
        <img src="http://www.riyucun.com/Content/Images/set02.jpg" alt="" width="" />
        <div class="rbc-blue">
          <h3>一对三</h3>
          <p>您将与日语水平相仿的其他同学一起学习日语，您能从他人的发言中，学习到您较少用的单词，听见不同的观点。通过3人以下的小班课程、深具教学经验的外教引导，您的开口权益将不受影响。</p>
          <a href="javascript:void();" onclick="_MEIQIA('showPanel')" class="btn-danger rbc-btn09">免费体验课程</a>
        </div>
      </div>
    </div>
  </div>
  <div class="rbc-set-03 rbc-mt60">
    <h3 class="rbc-h3b text-center">丰富的课程内容</h3>
    <div class="rbc-set-03top" id="rbc-set-03top">
      <ul>
        <li ><span>经典日常生活口语课程</span></li>
      </ul>
    </div>
    <div class="rbc-set-03bot">
      <div class="rbc-setbd" style="display: block;">
        <div class="col-md-6 col-xs-12">
          <h3>经典日常生活口语课程</h3>
          <p>此套教材是我们教材开发部基于《大家的日本语》语法体系开发的口语教材，共有360课时，分为L1-L4系列，其中：</p>
          <p>L1和L2属于基础系列，目的是让学生将基础的语法脱口而出；</p>
          <p>L3和L4属于进阶系列，除了基础会话还加入了完全脱离语法的纯会话课程，每个级别的总课时在80-96课时左右，目的是让学生除了基础会话，有意识地引导学生扩展自己的会话；所有课件由我们的课件研发部的外教老师+画师共同完成，贯彻了日本人做事的严谨和原创性。</p>
        </div>
        <div class="col-md-6 col-xs-12 rbc-setfous">
          <!--轮播图-->
          <div id="carousel-rbc-set01" class="carousel slide rbc-setbdslide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-rbc-set01" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-rbc-set01" data-slide-to="1"></li>
              <li data-target="#carousel-rbc-set01" data-slide-to="2"></li>
              <li data-target="#carousel-rbc-set01" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active" style="height:auto">
                <img src="http://www.riyucun.com/Content/Images/rbc-setbd.jpg" alt="经典日常生活口语课程">
              </div>
              <div class="item" style="height: auto;">
                <img src="http://www.riyucun.com/Content/Images/rbc-setbd02.jpg" alt="经典日常生活口语课程">
              </div>
              <div class="item" style="height: auto;">
                <img src="http://www.riyucun.com/Content/Images/rbc-setbd03.jpg" alt="经典日常生活口语课程">
              </div>
              <div class="item" style="height: auto;">
                <img src="http://www.riyucun.com/Content/Images/rbc-setbd04.jpg" alt="经典日常生活口语课程">
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="rbc-setbd">
        <div class="col-md-6 col-xs-12 rbc-setfous">
          <!--轮播图-->
          <div id="carousel-rbc-set02" class="carousel slide rbc-setbdslide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-rbc-set02" data-slide-to="0" class="active"></li>
            </ol>

          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="rbc-setbd">
        <div class="col-md-6 col-xs-12">
          <h3>社会话题讨论课程</h3>
          <p>我们自满的社会话题讨论课程取材于日本现地的时下新闻热点话题，以及我们的教材开发组在日本现地采访平常的日本人，将音视频做成课件在课堂里和学生进行讨论，这样的鲜活的课程，你不想来试试吗？</p>
        </div>
        <div class="col-md-6 col-xs-12 rbc-setfous">
          <!--轮播图-->
          <div id="carousel-rbc-set03" class="carousel slide rbc-setbdslide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-rbc-set03" data-slide-to="0" class="active"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active" style="height: auto;">
                <img src="/Content/Images/rbc-setbd06.jpg" alt="社会话题讨论课程">
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="rbc-setbd">
        <div class="col-md-6 col-xs-12">
          <h3>经典基础语法课程</h3>
          <p>此套教材是我们教材开发部基于《大家的日本语》语法体系，从单词到语法，再到会话课程的设置，一切只为你从中教到外教课程的过度而设置，共96课时。在我们语法课程是由中教来完成，中教的授课方式亦是引导学生为目标，一定是你从未体验过的语法课程！</p>
        </div>
        <div class="col-md-6 col-xs-12 rbc-setfous">
          <!--轮播图-->
          <div id="carousel-rbc-set04" class="carousel slide rbc-setbdslide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-rbc-set04" data-slide-to="0" class="active"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active" style="height: auto;">
                <img src="/Content/Images/rbc-setbd07.jpg" alt="经典基础语法课程">
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="rbc-setbd">
        <div class="col-md-6 col-xs-12">
          <h3>日语急速入门课程</h3>
          <p>日语急速入门课程只有7-14堂课，俗称7小时急速入门，从五十音到简单的自我介绍、会话，只需要7-14堂课，此课程由中教担任；录播课程免费提供，如果希望得到1对1指导，那可以从1对1体验课开始！</p>
        </div>
        <div class="col-md-6 col-xs-12 rbc-setfous">
          <!--轮播图-->
          <div id="carousel-rbc-set05" class="carousel slide rbc-setbdslide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-rbc-set05" data-slide-to="0" class="active"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active" style="height: auto;">
                <img src="/Content/Images/rbc-setbd08.jpg" alt="日语急速入门课程">
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="rbc-form-line02 rbc-mt30 rbc-mb60 text-center">
      <a href="javascript:void();" onclick="_MEIQIA('showPanel')" class="btn btn-danger rbc-btn01 rbc-f18">加入我们，查看更多免费课程</a>
    </div>
  </div>
  <div class="rbc-qy-02">
    <h3 class="rbc-h3b text-center">上课流程</h3>
    <div class="container rbc-set-04 rbc-mt35 text-center">
      <span class="rbc-red2">STEP</span>
      <div class="rbc-setb01">
        <div class="rbc-setb-txt">
          <h3>日语水平测试</h3>
          <p>为了保证学员学习效果课程进行日语水平能力测试，通过课程定制服务确保做到每一位学员</p>
          <a href="javascript:void();" onclick="_MEIQIA('showPanel')" class="btn rbc-btn07">现在免费测试</a>
        </div>
      </div>
      <div class="rbc-setb-num">01</div>
      <div class="rbc-setb02">
        <div class="rbc-setb-txt">
          <h3>课程定制</h3>
          <p>我们专业的课程顾问会根据你的日语水平和需求，为您制定详细的学习计划</p>
          <a href="javascript:void();" onclick="_MEIQIA('showPanel')" class="btn rbc-btn07">现在免费测试</a>
        </div>
      </div>
      <div class="rbc-setb-num">02</div>
      <div class="rbc-setb01 rbc-setb03">
        <div class="rbc-setb-txt">
          <h3>入学后学习规划</h3>
          <p>专业的学习规划由我们的专业外教老师担任规划课，确保学员在更好的利用课程体系达到学员的学习目的。</p>
        </div>
      </div>
      <div class="rbc-setb-num">03</div>
      <div class="rbc-setb02 rbc-setb04">
        <div class="rbc-setb-txt">
          <h3>课后辅导</h3>
          <p>1对1贴心服务，及时跟踪及时反馈，全程跟踪，全面管理，做您最周全的学习管家</p>
        </div>
      </div>
      <div class="rbc-setb-num">04</div>
      <div class="rbc-setb01">
        <div class="rbc-setb-txt">
          <h3>免费视频回看</h3>
          <p>免费录制保存整个学习过程，上课不用分心做笔记，课后可通过视频来发现问题，从而进一步提升日语水平，充分保证课后复习条件，保证记忆周期循环利用</p>
        </div>
      </div>
      <div class="rbc-setb-num">05</div>
      <div class="rbc-setb02">
        <div class="rbc-setb-txt">
          <h3>模拟场景练习</h3>
          <p>模拟各类现实使用场景，不同需求、职业、爱好水平的日语学习者，都可以学以致用</p>
        </div>
      </div>
      <div class="rbc-setb-num">06</div>
      <div class="rbc-setb01 rbc-setb03">
        <div class="rbc-setb-txt">
          <h3>师生互评</h3>
          <p>我们不仅做到每一堂课后的师生互评，追踪每一堂课的满意度，还在您一段时间的学习之后，我们的学习顾问会对您进行回访，再根据需要不断调整之后的学习计划</p>
        </div>
      </div>
      <div class="rbc-setb-num">07</div>
    </div>
  </div>

  <footer class="footer">
      <div class="footer-content">
          <div class="container">
              <div class="row">
                  <div class="footer-col links col-md-2 col-sm-2 col-xs-12">
                      <div class="footer-col-inner">
                          <input id="application-insight" type="checkbox">
                          <label for="application-insight"><h3 class="title">关于我们</h3></label>
                          <ul class="list-unstyled">
                              <li><a href="" class="webkit">我们是谁?</a></li>


                              <li><a href="">联系方式</a></li>
                          </ul>
                      </div><!--//footer-col-inner-->
                  </div><!--//foooter-col-->
                  <div class="col-md-2 col-sm-2 col-xs-12 footer-comb">
                      <div class="footer-col links">
                          <div class="footer-col-inner">
                              <input id="browser-insight" type="checkbox">
                              <label for="browser-insight">
                              <h3 class="title">使用帮助</h3></label>
                              <ul class="list-unstyled">
                               <li><a href="https://static.meiqia.com/dist/standalone.html?eid=14353">在线咨询</a></li>


  <!--
                                  <li><a href="/help">帮助中心</a></li>
   -->

                        </ul>
                          </div><!--//footer-col-inner-->
                      </div>

                  </div>

                  <div class="col-md-2 col-sm-2 col-xs-12 footer-comb">

                      <div class="footer-col links">
                          <div class="footer-col-inner">
                              <input id="more" type="checkbox">
                              <label for="more"><h3 class="title">意见反馈</h3></label>
                              <ul class="list-unstyled">

                                  <li><a href="mailto:s@everelite.com" target="_blank">意见投诉</a></li>
                                  <li><a href="/privacy" target="_blank">隐私政策</a></li>

                              </ul>
                          </div><!--//footer-col-inner-->
                      </div>


                  </div><!--//foooter-col-->



                   <div class="footer-col links col-md-2 col-sm-2 col-xs-12 sm-break hidden-xs" style="margin-left:-50px;">

                     <div class="footer-col-inner">
                          <input id="help-center" type="checkbox">
                          <label for="help-center" style="text-align:center"><h3 class="title" style="text-align:center">微信订阅号</h3></label><br>
                             <img style="width:50%;" src="http://www.xiaoying.net/files/false/Picture/xiaoying.png">
                      </div><!--//footer-col-inner-->
                  </div>

              </div>
              <style>.social-media {width:25px;border-radius:100px}</style>
              <div class="row">
                  <div class="footer-col connect col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="footer-col-inner">                     <h3>社交媒体：

                <a href="/weixin">
                  <img class="social-media" src="http://www.xiaoying.net/files/false/Picture/weixin.png">
                </a>
                <a href="http://www.weibo.com/xiaoyingchuguo">
                  <img class="social-media" src="http://www.xiaoying.net/files/false/Picture/weibo.png">
                </a>
                <a href="tencent://message/?uin=8892196&amp;Site=远英出国&amp;Menu=yes">
                  <img class="social-media" src="http://www.xiaoying.net/files/false/Picture/qq.png">
                </a>
                <a href="http://zhuanlan.zhihu.com/eggelite">
                  <img class="social-media" src="http://www.xiaoying.net/files/false/Picture/zhihu.png">
                </a>
                 <a href="http://i.youku.com/eggelite">
                  <img class="social-media" src="http://www.xiaoying.net/files/false/Picture/youku.png">
                </a>
  </h3>

                          <h3 style="line-height:22px;">
                          全国统一电话：4000150170<br />
                          深圳总部: 深圳市宝安区广发大厦7F<br />
                          上海: 上海市徐汇区肇嘉浜路789号均瑶国际29F<br />
                          苏州: 江苏省苏州市吴中区澄湖路888号恒润国际30F<br>
                          东京早稻田校: 東京都高田馬場1-28-4工新別館<span style="font-family:mingcho;">ビル</span>4F<br>
                          东京新宿校:东京都新宿区百人町1-22-24 朝日<span style="font-family:mingcho;">ビル</span>4F<br>
                          河南: 河南省新乡市红旗区金穗大道688号商会大厦B座11F<br>
                          </h3>



                          <p class="adr clearfix">
                              <span class="street-address"></span>
                          </p>
                          <p class="email"><a href="mailto:c@everelite.com" class="email-addr">  </a></p>
                      </div>
                  </div>

                  <!-- <div class="footer-col download col-lg-2 col-md-3 col-sm-3 col-xs-12">
                      <div class="footer-col-inner">
                          <a href="/mobility.html" class="footer-download">
                              <img src="files/false/Picture/1becd5ff.icon.svg">
                              <span class="d-text">
                                  <span class="d-text-title">手机客户端</span>
                                  <br>Android
                              </span>
                          </a>
                      </div>
                  </div> -->
                  <div class="clearfix"></div>
              </div>
              <div class="row "></div>
          </div>
      </div>

      <div class="bottom-bar">
          <div class="container">

              <div class="icp">
                  <span class="small lang-selector">

                  </span>
                  <small class="copyright" style="background:none;color: rgba(255,255,255,.3);">Copyright © 2008-<span id="cr-end-time"></span> 深圳远英出国服务有限公司 <a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备17035939号</a> </small><br>
                  <!-- <small> 友情链接:


                  <a href="http://www.eggelite.com/duyan" style="color: rgba(255,255,255,.3);" target="_blank" title="日本读研">日本读研</a> |
              		<a href="http://www.lunwenzhai.com" style="color: rgba(255,255,255,.3);">鸿远论文网</a> |
              		<a href="http://www.xielunwen.net" style="color: rgba(255,255,255,.3);">江山论文代写网</a> |
              		<a href="http://www.twolang.cn" style="color: rgba(255,255,255,.3);">读朗英语背单词</a> |
              		<a href="http://www.koubeikc.com" style="color: rgba(255,255,255,.3);">考研辅导课程</a> |
              		<a href="http://www.leshenriben.com" style="color: rgba(255,255,255,.3);">日本留学</a> |
              		<a href="http://sh.jiaoyubao.cn/liuxue/" style="color: rgba(255,255,255,.3);">上海留学培训</a> |
              		<a href="http://www.franklincollege.cn" style="color: rgba(255,255,255,.3);">加拿大保送大学</a> |
              		<a href="http://www.italycqu.com" style="color: rgba(255,255,255,.3);">意大利留学费用</a> |
              		<a href="http://art.egglrlite.com" style="color: rgba(255,255,255,.3);">日本艺术生留学</a> |
              		<a href="http://www.jxjyedu.com" style="color: rgba(255,255,255,.3);">江西成人高考</a> |
              		<a href="http://www.5alw.com" style="color: rgba(255,255,255,.3);">论文代写</a> |
              		<a href="http://www.001dg.com" style="color: rgba(255,255,255,.3);">汕头招聘网</a> |
              		<a href="http://www.souaus.com" style="color: rgba(255,255,255,.3);">澳大利亚中文网</a> |
              		<a href="http://www.zjjm.com.cn" style="color: rgba(255,255,255,.3);">早教加盟</a> |
              		<a href="http://www.megoal.org" style="color: rgba(255,255,255,.3);">美国留学</a> |
              		<a href="http://www.gdjhpx.com" style="color: rgba(255,255,255,.3);">广州全日制技能培训学校</a> |
              		<a href="http://www.oyoline.com" style="color: rgba(255,255,255,.3);">英语培训机构排名</a> |
              		<a href="http://www.tokei.cn" style="color: rgba(255,255,255,.3);">培训日语</a> |



                  </small> -->

              </div>
          </div><!--//container-->

      </div><!--//bottom-bar-->
  </footer>


  <script type="text/javascript">
    $("#rbc-listvideo,#rbc-tab-box,#rbc-set-03top").niceScroll({
      cursorcolor: "#3a3a3a",
      cursoropacitymin: 1,
      cursoropacitymax: 1,
      cursorwidth: "8px",
      cursorborder: "0",
      cursorborderradius: "5px"
      //touchbehavior:true
    });
    $(window).load(function() {
      $('#cr-container').crotator();
    });
    $('#carousel-rbcm-video').carousel({
      interval: 4000
    });
    $('#carousel-example-generic,#carousel-rbcm-video,#carousel-rbcm-bd').hammer().on('swipeleft', function() {
      $(this).carousel('next');
    });
    $('#carousel-example-generic,#carousel-rbcm-video,#carousel-rbcm-bd').hammer().on('swiperight', function() {
      $(this).carousel('prev');
    });
  </script>
</body>

</html>
