
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<html lang="zh_CN" >
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
  <meta name="renderer" content="webkit">
  <!--<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">-->
  <meta name="baidu-site-verification" content="av2IpHyf6R" />
  <meta name="baidu-site-verification" content="av2lpHyf6R">

  <meta name="360-site-verification" content="d18b69263d331b380d6b77637b535983" />
  <title>小莺出国日本留学 - 日本留学辅导第一品牌 - 小莺出国</title>
  <meta name="keywords" content="日本留学,日本读研,日本留学机构，日本读研申请" />
  <meta name="description" content="小莺出国日本留学网校为你提供最全面最专业的日本留学考试,日本读研院生考试,留学日语,校内考考试,日本大学专升硕课程, 在线随时随地学习！" />
  <meta content="3cSx4k-MvK7HPlRsjzWv8uYvswbnKkgO6xfxBfQbzyk" name="csrf-token" />
  <meta content="0" name="is-login" />
  <meta content="0" name="is-open" />

  <script src="/files/js/uaredirect.js" type="text/javascript"></script>
  <script type="text/javascript">uaredirect("http://m.xiaoying.net/zhanhui");</script>


    <link rel="icon" href="/files/system/2017/09-01/072306ab1079201406.ico?7.5.15" type="image/x-icon" />
  <link rel="shortcut icon" href="/files/system/2017/09-01/072306ab1079201406.ico?7.5.15" type="image/x-icon" media="screen"/>


<link href="/assets/v2/bootstrap/css/bootstrap.css?7.5.15" rel="stylesheet"/>
<link rel="stylesheet" media="screen" href="/assets/css/common.css?7.5.15"/>
<link rel="stylesheet" media="screen" href="/assets/v2/css/main.css?7.5.15"/>
<link rel="stylesheet" media="screen" href="/assets/v2/css/es-icon.css?7.5.15"/>
<link rel="stylesheet" media="screen" href="/assets/layui/css/layui.css?7.5.15"/>
<link rel="stylesheet" media="screen" href="/themes/light/css/iconfont.css?7.5.15"/>

<link rel="stylesheet" media="screen" href="/themes/light/css/theme.css?7.5.15.2.2.1"/>



  <!--[if lt IE 9]>
    <script src="/assets/libs/html5shiv.js?7.5.15"></script>
    <script src="/assets/libs/respond.min.js?7.5.15"></script>

  <![endif]-->


</head>
<body class="homepage  has-app">

  <div class="es-wrap">


<link href="/files/kefu/kefu.css" rel="stylesheet"/>
<link href="/files/css/ad-slide.css" media="all" rel="stylesheet">

<style>
.light-homepage .topbar{background:#fff!important}
.light-homepage .light-navbar{box-shadow:none!important}

.light-homepage .navbar-fixed-top .light-navbar{background:#fff!important}
.topbar {background:#fff}
.topbar a{color:#333;font-size:13px;margin-left:15px;}
.topbar-nav {height:30px!important;line-height:30px;float:right!important;color:#333;}
</style>
<header class="light-header">
<nav class="topbar" style=";box-shadow:none;">


<div class="container">
<div class="topbar-nav" style="float:left">

<a href="/shenzhen">深圳</a>

<a href="/sh">上海</a>

<a href="/sz">苏州</a>

<a href="/tk">东京</a>


</div>
	<div class="topbar-nav" style="">


<a href="http://hr.xiaoying.net/#teaching" style="background-color:red;padding:  2px 5px;border-radius:8px; color:white;font-weight:800">讲师招聘</a>

<a href="/contact">来校</a>

<a href="/about">关于</a>


</div>
</div>
</nav>

	<nav class="navbar navbar-inverse light-navbar light-navbar-white">
	<div class="navbar-container">
		<div class="navbar-headers ">
			<a href="/" class="navbar-brand">
		      		        <img src="/files/pages/img/logo.svg" class="img-responsive img-full">
		      		    </a>
			<ul class="nav navbar-nav hidden-xs hidden-sm ">


                            <li class="dropdown nav-list">
            <a href="http://www.eggelite.com/course/explore"
               class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
                    选课 <!--<span class="caret"></span>-->
            </a>
            <ul class="dropdown-menu">
                                    <li>
                        <a href="http://www.eggelite.com/classroom/explore"
                            >签约套餐班</a>
                    </li>
                                    <li>
                        <a href="/online"
                            >私塾直播课</a>
                    </li>
                                    <li>
                        <a href="http://www.eggelite.com/course/explore/jap?filter%5Btype%5D=all&amp;filter%5Bprice%5D=all&amp;filter%5BcurrentLevelId%5D=all&amp;orderBy=studentNum"
                            >留学日语</a>
                    </li>
                                    <li>
                        <a href="http://www.eggelite.com/course/explore/eju_zhuan?filter%5Btype%5D=all&amp;filter%5Bprice%5D=all&amp;filter%5BcurrentLevelId%5D=all&amp;orderBy=studentNum"
                            >留考校内考</a>
                    </li>
                                    <li>
                        <a href="http://www.eggelite.com/course/explore/art?filter%5Btype%5D=all&amp;filter%5Bprice%5D=all&amp;filter%5BcurrentLevelId%5D=all&amp;orderBy=studentNum"
                            >艺术留学课程</a>
                    </li>
                                    <li>
                        <a href="http://www.eggelite.com/course/explore/yuan?filter%5Btype%5D=all&amp;filter%5Bprice%5D=all&amp;filter%5BcurrentLevelId%5D=all&amp;orderBy=studentNum"
                            >院生考试</a>
                    </li>
                                    <li>
                        <a href="http://www.eggelite.com/course/explore"
                            >全部课程</a>
                    </li>
                            </ul>
        </li>


                            <li class="nav-list">
            <a href="/plan"
               target="_blank">
              留学方案
            </a>
        </li>


                            <li class="dropdown nav-list">
            <a href="/duyan"
               class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
                    日本读研 <!--<span class="caret"></span>-->
            </a>
            <ul class="dropdown-menu">
                                    <li>
                        <a href="http://www.eggelite.com/yuan"
                            >TOP10院生直考签约</a>
                    </li>
                                    <li>
                        <a href="http://www.eggelite.com/sgu"
                            >SGU/G30英语项目直申</a>
                    </li>
                                    <li>
                        <a href="http://www.eggelite.com/article/1657"
                            >日本读研集训营全国高校巡讲</a>
                    </li>
                                    <li>
                        <a href="http://www.eggelite.com/duyan"
                            >读研申请服务</a>
                    </li>
                            </ul>
        </li>


                            <li class="dropdown nav-list">
            <a href="http://www.eggelite.com/school"
               class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
                    院校库 <!--<span class="caret"></span>-->
            </a>
            <ul class="dropdown-menu">
                                    <li>
                        <a href="/rank"
                           target="_blank" >日本大学排名</a>
                    </li>
                                    <li>
                        <a href="/rank/2"
                           target="_blank" >语言学校排名</a>
                    </li>
                            </ul>
        </li>


                            <li class="dropdown nav-list">
            <a href="/case"
               class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
                    案例中心 <!--<span class="caret"></span>-->
            </a>
            <ul class="dropdown-menu">
                                    <li>
                        <a href="/case"
                            >全部案例</a>
                    </li>
                                    <li>
                        <a href="/cases"
                            >录取证书</a>
                    </li>
                            </ul>
        </li>


                            <li class="nav-list">
            <a href="/teacher"
               target="_blank">
              名师
            </a>
        </li>


                            <li class="nav-list">
            <a href="/college"
               target="_blank">
              公开课
            </a>
        </li>


			</ul>
		</div>
		<div class="nav-mobile">
	  		<div class="panel-overlay"></div>
	  		<a href="javascript:;" class="open-panel js-togglePane hidden-lg hidden-md">
		    	<i class="iconfont icon-mulu"></i>
		    </a>
		    <div class="nav-layout-dark">
		    	<form class="navbar-form" action="/search" method="get">
		        <div class="form-group">
		          <input class="form-control" name="q"/>
		          <button class="button es-icon es-icon-search"></button>
		        </div>
		      </form>
		    	<ul class="nav navbar-nav">


                            <li class="dropdown nav-list">
            <a href="http://www.eggelite.com/course/explore"
               class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
                    选课 <!--<span class="caret"></span>-->
            </a>
            <ul class="dropdown-menu">
                                    <li>
                        <a href="http://www.eggelite.com/classroom/explore"
                            >签约套餐班</a>
                    </li>
                                    <li>
                        <a href="/online"
                            >私塾直播课</a>
                    </li>
                                    <li>
                        <a href="http://www.eggelite.com/course/explore/jap?filter%5Btype%5D=all&amp;filter%5Bprice%5D=all&amp;filter%5BcurrentLevelId%5D=all&amp;orderBy=studentNum"
                            >留学日语</a>
                    </li>
                                    <li>
                        <a href="http://www.eggelite.com/course/explore/eju_zhuan?filter%5Btype%5D=all&amp;filter%5Bprice%5D=all&amp;filter%5BcurrentLevelId%5D=all&amp;orderBy=studentNum"
                            >留考校内考</a>
                    </li>
                                    <li>
                        <a href="http://www.eggelite.com/course/explore/art?filter%5Btype%5D=all&amp;filter%5Bprice%5D=all&amp;filter%5BcurrentLevelId%5D=all&amp;orderBy=studentNum"
                            >艺术留学课程</a>
                    </li>
                                    <li>
                        <a href="http://www.eggelite.com/course/explore/yuan?filter%5Btype%5D=all&amp;filter%5Bprice%5D=all&amp;filter%5BcurrentLevelId%5D=all&amp;orderBy=studentNum"
                            >院生考试</a>
                    </li>
                                    <li>
                        <a href="http://www.eggelite.com/course/explore"
                            >全部课程</a>
                    </li>
                            </ul>
        </li>


                            <li class="nav-list">
            <a href="/plan"
               target="_blank">
              留学方案
            </a>
        </li>


                            <li class="dropdown nav-list">
            <a href="/duyan"
               class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
                    日本读研 <!--<span class="caret"></span>-->
            </a>
            <ul class="dropdown-menu">
                                    <li>
                        <a href="http://www.eggelite.com/yuan"
                            >TOP10院生直考签约</a>
                    </li>
                                    <li>
                        <a href="http://www.eggelite.com/sgu"
                            >SGU/G30英语项目直申</a>
                    </li>
                                    <li>
                        <a href="http://www.eggelite.com/article/1657"
                            >日本读研集训营全国高校巡讲</a>
                    </li>
                                    <li>
                        <a href="http://www.eggelite.com/duyan"
                            >读研申请服务</a>
                    </li>
                            </ul>
        </li>


                            <li class="dropdown nav-list">
            <a href="http://www.eggelite.com/school"
               class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
                    院校库 <!--<span class="caret"></span>-->
            </a>
            <ul class="dropdown-menu">
                                    <li>
                        <a href="/rank"
                           target="_blank" >日本大学排名</a>
                    </li>
                                    <li>
                        <a href="/rank/2"
                           target="_blank" >语言学校排名</a>
                    </li>
                            </ul>
        </li>


                            <li class="dropdown nav-list">
            <a href="/case"
               class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
                    案例中心 <!--<span class="caret"></span>-->
            </a>
            <ul class="dropdown-menu">
                                    <li>
                        <a href="/case"
                            >全部案例</a>
                    </li>
                                    <li>
                        <a href="/cases"
                            >录取证书</a>
                    </li>
                            </ul>
        </li>


                            <li class="nav-list">
            <a href="/teacher"
               target="_blank">
              名师
            </a>
        </li>


                            <li class="nav-list">
            <a href="/college"
               target="_blank">
              公开课
            </a>
        </li>


				</ul>
		    </div>
	  	</div>
	    <div class="navbar-collapse  pull-right">
		    <form class="navbar-form pull-left hidden-sm hidden-xs" action="/search" method="get">
		        <div class="form-group">
		          <input class="form-control" name="q"/>
		          <button class="button es-icon es-icon-search"></button>
		        </div>
		      </form>
		        		      <ul class="nav user-nav  mrxl">
		        		          <li>
		            <a href="/login?goto=/pinggu">登录</a>
		          </li>
		          <li >
		           <a  class="btn-register" href="/register?goto=/pinggu">注册</a>
		          </li>
		        		      </ul>


	  	</div>
	  	</div>
	</nav>

	<!--客服代码开始-->
<!--
 <div class="cndns-right">

    <div class="cndns-right-meau meau-sev">
        <a href="javascript:" class="cndns-right-btn">
            <span class="demo-icon">&#xe901;</span>
            <p>
                在线<br />
                客服
            </p>
        </a>
        <div class="cndns-right-box">
            <div class="box-border">
                <div class="sev-t">
                    <span class="demo-icon">&#xe901;</span>
                    <p>QQ客服<i>服务时间：9:00-18:00</i></p>
                    <div class="clear"></div>
                </div>
                <div class="sev-b">
                    <h4>选择下列服务马上在线沟通：</h4>
                    <ul id="zixunUl">
                        <li><a href="tencent://message/?uin=8892196&Site=小莺出国日本留学&Menu=yes">语言学校申请</a></li>

                        <li><a href="tencent://message/?uin=8892196&Site=小莺出国日本留学&Menu=yes">读研申请</a></li>
                        <li><a href="tencent://message/?uin=8892196&Site=小莺出国日本留学&Menu=yes">院生考试</a></li>
                        <li><a href="tencent://message/?uin=8892196&Site=小莺出国日本留学&Menu=yes">美术课程</a></li>
                        <li><a href="tencent://message/?uin=8892196&Site=小莺出国日本留学&Menu=yes">EJU留考</a></li>
                        <li><a href="tencent://message/?uin=8892196&Site=小莺出国日本留学&Menu=yes">日语课程</a></li>

                        <li><a href="tencent://message/?uin=8892196&Site=小莺出国日本留学&Menu=yes">SGU申请</a></li>

                        <li><a href="tencent://message/?uin=8892196&Site=小莺出国日本留学&Menu=yes">合作加盟</a></li>

                        <li><a href="tencent://message/?uin=8892196&Site=小莺出国日本留学&Menu=yes">VIP一对一</a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <span class="arrow-right"></span>
            </div>
        </div>
    </div>
    <div class="cndns-right-meau meau-contact">
        <a href="javascript:" class="cndns-right-btn">
            <span class="demo-icon">&#xe902;</span>
            <p>
                客服<br />
                热线
            </p>
        </a>
        <div class="cndns-right-box">
            <div class="box-border">
                <div class="sev-t">
                    <span class="demo-icon">&#xe902;</span>
                    <p>4000-150-170<br /><i>7*24小时客服服务热线</i></p>
                    <div class="clear"></div>
                </div>
                <span class="arrow-right"></span>
            </div>
        </div>
    </div>
    <div class="cndns-right-meau meau-code">
        <a href="javascript:" class="cndns-right-btn">
            <span class="demo-icon">&#xe903;</span>
            <p>
                关注<br />
                微信
            </p>
        </a>
        <div class="cndns-right-box">
            <div class="box-border">
                <div class="sev-t">
                    <img src="/files/kefu/images/02index-2.jpg" />
                </div>
                <span class="arrow-right"></span>
            </div>
        </div>
    </div>
   <!--
 <div class="cndns-right-meau meau-top" id="top-back">
        <a href="javascript:" class="cndns-right-btn" onclick="topBack()">
            <span class="demo-icon">&#xe904;</span>
            <i>顶部</i>
        </a>
    </div>
 -->

</div>
</header>



<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
$(document).ready(function(){
 $(document).off('click.bs.dropdown.data-api');
});

$(document).ready(function(){
 dropdownOpen();//调用
});
function dropdownOpen() {

 var $dropdownLi = $('li.dropdown');

 $dropdownLi.mouseover(function() {
 $(this).addClass('open');
 }).mouseout(function() {
 $(this).removeClass('open');
 });
}


$('.dropdown-toggle').click(function(){
 var v = $(this).attr("href");
 window.location.href=v;
})

</script>


<!--
百度统计代码
 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?916d5e71705fb1d76f48bf1b0473ea8c";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>


      <div id="content-container" class="container">
            <link href="/assets/layui/css/layui.css?7.5.15" rel="stylesheet" />

    <style>
    body {background:#fff}
        .layui-elem-field legend{
            border-bottom: none;
            margin-bottom: 0px;
            width: auto;
        }
        .form-description{
            font-size: 14px;
            line-height: 30px;
        }
        .layui-form-label{
        }
        .layui-input-block{
        }
    </style>
    <!--
<fieldset class="layui-elem-field">
        <legend><b>小莺出国: 签约直通日本名校</b></legend>
        <div class="layui-field-box">
            <div class="form-description col-md-12">
                <p><span style="font-size:1.167em">小莺出国官方客服微信：<span style="color:#ff0000">xiaoyingriben</span></span></p>

                <p><span style="font-size:1.167em">小莺学院官方主页：<a href="http://www.eggelite.com/college">http://www.eggelite.com/college</a></span></p>

                <p><span style="font-size:1.167em">小莺出国2017日本留学展&amp;日本名校现场招生会：&nbsp;<a href="http://www.eggelite.com/talk">http://www.eggelite.com/talk</a></span></p>
            </div>
        </div>
    </fieldset>
 -->

    <form class="layui-form" action="" method="post" style="max-width:400px;margin:auto">
    <img src="/images/pinggu-title.svg" style="width:100%;margin:auto;margin-bottom:80px;padding-top:80px;">


        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <input type="text" name="name" required lay-verify="required" lay-verify="title" autocomplete="off" placeholder="姓名" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <input type="tel" name="phone" lay-verify="phone" placeholder="手机" autocomplete="off" class="layui-input">
                </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <select name="year" lay-filter="aihao">
                    <option value="">预计出国年份</option>
                    <option value="1">2017</option>
                    <option value="2">2018</option>
                    <option value="3">2019</option>
                    <option value="4">2020</option>
                    <option value="5">2021</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <input type="text" name="qq" required lay-verify="required" lay-verify="title" autocomplete="off" placeholder="微信/QQ号" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <input type="text" name="yx" required lay-verify="required" lay-verify="title" autocomplete="off" placeholder="所在院校" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <input type="text" name="zy" required lay-verify="required" lay-verify="title" autocomplete="off" placeholder="就读专业" class="layui-input">
            </div>
        </div>



        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <select name="cd" lay-filter="aihao">
                    <option value="">对日本留学了解程度</option>
                    <option value="1">完全不了解小白一只</option>
                    <option value="2">了解一些老司机求带</option>
                    <option value="3">正在寻找留学机构</option>
                    <option value="4">已经和留学机构签约</option>
                    <option value="5">已拿到OFFER成为老司机</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <select name="xl" lay-filter="aihao">
                    <option value="">目前学历</option>
                    <option value="4">本科大四</option>
                    <option value="3">本科大三</option>
                    <option value="2">本科大二</option>
                    <option value="1">本科大一</option>
                    <option value="10">大专大三</option>
                    <option value="9">大专大二</option>
                    <option value="8">大专大一</option>
                    <option value="7">高三</option>
                    <option value="6">高二</option>
                    <option value="5">高一</option>
                    <option value="1">其他</option>
                </select>
            </div>
        </div>



        <div class="layui-form-item" pane="">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <select name="yusu" lay-filter="aihao">
                    <option value="">出国准备阶段预算</option>
                <option value="1" title="1-3万">1-3万</option>
                <option value="2" title="3-6万">3-6万</option>
                <option value="3" title="6-10万">6-10万</option>
                <option value="4" title="10万以上只要能上名校都愿意花">10万以上只要能上名校都愿意花</option>
                <option value="5" title="其他">其他</option>
                </select>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

    <script src="/assets/layui/layui.js?7.5.15"></script>
    <script>
        layui.use(['form'], function(){
            var form = layui.form()
                ,layer = layui.layer


        });
    </script>
      </div>





	      <section id='sec' style='background:#5e5e5b;background:rgba(0,0,0,0.5);height: 60px;line-height: 60px;font-size: 16px;color: #FFFFFF;position: fixed;width: 100%;bottom: 0;z-index: 100;'>
				<div class="cb container vam" style='width: 1100px;margin: 0 0 0 250px;overflow: hidden;'>
						<img src="/files/newindex/images/xy.png" style='width: 100px;position:absolute;bottom:-7px;left:130px;'>

						<input type="text" id="Orders_Name1" name="Orders_Name" placeholder="姓名" style='border: none;outline: none;height: 30px;line-height:30px;padding: 0 0 0 10px;width: 160px;margin-right: 10px;color: rgb(51,51,51);'>
						<input type="text" name="" id="inp2" placeholder='电话' style='border: none;outline: none;height: 30px;padding: 0 0 0 10px;line-height:30px;width: 160px;margin-right: 10px;color: rgb(51,51,51);'>
						<select style='border: none;outline: none;height: 30px;line-height:30px;padding: 0 0 0 10px;width: 160px;margin-right: 10px;color: rgb(51,51,51);'>
		                    <option value="">感兴趣的课程</option>
		                    <option value="1" title="日语学习资料和免费课">日语学习资料和免费课</option>
		                    <option value="2" title="日语口语资料和口语课">日语口语资料和口语课</option>
		                    <option value="3" title="留考资料和课程">留考资料和课程</option>
		                    <option value="4" title="读研申请/SGU申请攻略">读研申请/SGU申请</option>
		                    <option value="5" title="院生考试课程和真题资料">院生考试课程和真题资料</option>
		                    <option value="6" title="托福托业备考资料">托福托业备考资料</option>
		                    <option value="7" title="日本艺术院校备考资料">日本艺术院校备考资料</option>
                        </select>
						<input onMouseOver="this.style.backgroundColor='#f74c4c';this.style.color='black'" onMouseOut="this.style.backgroundColor='red';this.style.color='white'" type="submit" id="sub_btn1" name="sub_btn" value="获取详细的留学方案" style='border: none;outline: none;height: 30px;line-height:30px;padding: 0 0 0 10px;width: 160px;margin-right: 10px;color:white;background-color:red;cursor: pointer;'>

				</div>
			</section>
<script>

	$(document).ready(function(){
		var min_height = 100;
		$(window).scroll(function(){
		var s =$(window).scrollTop();
		if(s > min_height){
		$("#sec").fadeIn(1000)
		}else{
		$("#sec").fadeOut(1000)
		}
		});
		})
   //发送ajax请求
     $('#sub_btn1').click(function(){


        var uname = $("#Orders_Name1").val();
		var pNum = $("#inp2").val();
		var ph = /^(13[0-9]|14[57]|15[0-25-9]|17[0137]|18[0-9])\d{8}$/;

        if( uname == '' )
        {
        	alert('请输入正确的姓名');
        	return false;
        }
        if( !ph.test(pNum) )
        {
        	alert('请输入正确的电话');
        	return false;
        }
    	$(this).attr('disabled','disabled');

        $.ajax({

            url: "/ajaxindex",
			type: "post",
			dataType: "json",
			data: {
				name: uname,
				tel: pNum,
				from:location.href,
			},
			success: function(data){
				if(data.status ){
					alert('提交成功！请等待老师与您联系');
				}else{
					alert('正在维护，请稍后再试');
				}

			}
     })

     })
</script>

<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-col links col-md-2 col-sm-2 col-xs-12">
                    <div class="footer-col-inner">
                        <input id="application-insight" type="checkbox">
                        <label for="application-insight"><h3 class="title">关于我们</h3></label>
                        <ul class="list-unstyled">
                            <li><a href="/about" class="webkit">我们是谁?</a></li>
                            <li><a href="http://hr.xiaoying.net" class="webkit">人才招聘</a></li>
                            <li><a href="http://company.zhaopin.com/CC468508636.htm" class="webkit">智联招聘</a></li>






                            <li><a href="/partners">客户关系</a></li>

                            <li><a href="/contact">联系方式</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="col-md-2 col-sm-2 col-xs-12 footer-comb">
                    <div class="footer-col links">
                        <div class="footer-col-inner">
                            <input id="browser-insight" type="checkbox">
                            <label for="browser-insight">
                            <h3 class="title">使用帮助</h3></label>
                            <ul class="list-unstyled">
                             <li><a href="https://static.meiqia.com/dist/standalone.html?eid=14353">在线咨询</a></li>
                                <li><a href="/xuefei">学费支付</a></li>

<!--
                                <li><a href="/help">帮助中心</a></li>
 -->
                               <li><a href="/terms">使用条款</a></li>
                                <li><a href="/sitemap.html">网站地图</a></li>

                      </ul>
                        </div><!--//footer-col-inner-->
                    </div>

                </div>

                <div class="col-md-2 col-sm-2 col-xs-12 footer-comb">

                    <div class="footer-col links">
                        <div class="footer-col-inner">
                            <input id="more" type="checkbox">
                            <label for="more"><h3 class="title">意见反馈</h3></label>
                            <ul class="list-unstyled">

                                <li><a href="mailto:s@everelite.com" target="_blank">意见投诉</a></li>
                                <li><a href="/privacy" target="_blank">隐私政策</a></li>
                                <li style="display:none"><a href="/sitemap">网站地图</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div>


                </div><!--//foooter-col-->

                <!--//foooter-col-->
                <div class="footer-col links col-md-2 col-sm-2 col-xs-12 sm-break hidden-xs">

                   <div class="footer-col-inner">
                        <input id="help-center" type="checkbox">
                        <label for="help-center" style="text-align:center"><h3 class="title">课程顾问微信</h3></label><br>
                           <img style="width:50%;height:72px;" src="/files/pages/img/social.png">
                    </div><!--//footer-col-inner-->
                </div>

                 <div class="footer-col links col-md-2 col-sm-2 col-xs-12 sm-break hidden-xs" style="margin-left:-50px;">

                   <div class="footer-col-inner">
                        <input id="help-center" type="checkbox">
                        <label for="help-center" style="text-align:center"><h3 class="title" style="text-align:center">微信订阅号</h3></label><br>
                           <img style="width:50%;" src="/files/pages/img/xiaoying.png">
                    </div><!--//footer-col-inner-->
                </div>


                 <div class="footer-col links col-md-2 col-sm-2 col-xs-12 sm-break hidden-xs" style="margin-left:-50px;">
                   <div class="footer-col-inner">
                        <input id="help-center" type="checkbox">
                        <label for="help-center"><h3 class="title">快速报名评估</h3></label><br>
                           <img style="width:50%;" src="/images/new_baoming.png">
                    </div><!--//footer-col-inner-->
                </div>

<!--
                 <div class="footer-col links col-md-2 col-sm-2 col-xs-12 sm-break" style="margin-left:-50px;">
                   <div class="footer-col-inner">
                        <input type="checkbox" id="help-center">
                        <label for="help-center"><h3 class="title">远英出国微博</h3></label>
                           <img style="width:90px;" src="/files/pages/img/weibo.png">
                    </div><!~~//footer-col-inner~~>
                </div>

 -->
            </div>
            <style>.social-media {width:25px;border-radius:100px}</style>
            <div class="row">
                <div class="footer-col connect col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-col-inner">                     <h3>社交媒体：

              <a href="/weixin">
                <img class="social-media" src="/files/pages/img/weixin.png">
              </a>
              <a href="http://www.weibo.com/xiaoyingchuguo">
                <img class="social-media" src="/files/pages/img/weibo.png">
              </a>
              <a href="tencent://message/?uin=8892196&amp;Site=小莺出国日本留学&amp;Menu=yes">
                <img class="social-media" src="/files/pages/img/qq.png">
              </a>
              <a href="http://zhuanlan.zhihu.com/eggelite">
                <img class="social-media" src="/files/pages/img/zhihu.png">
              </a>
               <a href="http://i.youku.com/eggelite">
                <img class="social-media" src="/files/pages/img/youku.png">
              </a>
</h3>

                        <h3 style="line-height:22px;">
                        全国统一电话：4000150170<br />
                        深圳总部: 深圳市宝安区广发大厦7F(仅对公业务暂不开放学员咨询)<br />
                        上海: 上海市徐汇区肇嘉浜路789号均瑶国际29F<br />
                        苏州: 江苏省苏州市吴中区澄湖路888号恒润国际30F<br>
                        东京早稻田校: 東京都高田馬場1-28-4工新別館<span style="font-family:mingcho;">ビル</span>4F<br>
                        东京新宿校:东京都新宿区百人町1-22-24 朝日<span style="font-family:mingcho;">ビル</span>4F<br>
                        河南: 河南省新乡市红旗区金穗大道688号商会大厦B座11F<br>
                        </h3>



                        <p class="adr clearfix">
                            <span class="street-address"></span>
                        </p>
                        <p class="email"><a href="mailto:c@everelite.com" class="email-addr">  </a></p>
                    </div>
                </div>

                <!-- <div class="footer-col download col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-col-inner">
                        <a href="/mobility.html" class="footer-download">
                            <img src="/images/footer/1becd5ff.icon.svg">
                            <span class="d-text">
                                <span class="d-text-title">手机客户端</span>
                                <br>Android
                            </span>
                        </a>
                    </div>
                </div> -->
                <div class="clearfix"></div>
            </div>
            <div class="row "></div>
        </div>
    </div>

    <div class="bottom-bar">
        <div class="container">

            <div class="icp">
                <span class="small lang-selector">

                </span>
                <small class="copyright">Copyright © 2008-<span id="cr-end-time"></span> 远英出国服务有限公司 <a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备17035939号</a> </small><br>
                <small> 友情链接:


                <a href="http://www.eggelite.com/duyan" style="color:#999!important" target="_blank" title="日本读研">日本读研</a> |
		<a href="http://www.lunwenzhai.com">鸿远论文网</a> |
		<a href="http://www.xielunwen.net">江山论文代写网</a> |
		<a href="http://www.twolang.cn">读朗英语背单词</a> |
		<a href="http://www.koubeikc.com">考研辅导课程</a> |
		<a href="http://www.leshenriben.com">日本留学</a> |
		<a href="http://sh.jiaoyubao.cn/liuxue/">上海留学培训</a> |
		<a href="http://www.franklincollege.cn">加拿大保送大学</a> |
		<a href="http://www.italycqu.com">意大利留学费用</a> |
		<a href="http://art.egglrlite.com">日本艺术生留学</a> |
		<a href="http://www.jxjyedu.com">江西成人高考</a> |
		<a href="http://www.5alw.com">论文代写</a> |
		<a href="http://www.001dg.com">汕头招聘网</a> |
		<a href="http://www.souaus.com">澳大利亚中文网</a> |
		<a href="http://www.zjjm.com.cn">早教加盟</a> |
		<a href="http://www.megoal.org">美国留学</a> |
		<a href="http://www.gdjhpx.com">广州全日制技能培训学校</a> |
		<a href="http://www.oyoline.com">英语培训机构排名</a> |
		<a href="http://www.tokei.cn">培训日语</a> |



                </small>

            </div>
        </div><!--//container-->

    </div><!--//bottom-bar-->
</footer>




<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 14353);
</script>

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f0675ff37612babd2d5b3750e25a32f2";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>


<style>
.footer {
    background: #666;
    color: #fff;
    font-size: 12px;
    position: relative;
}
.footer .footer-content .container {
    padding-top: 30px;
}



.footer .footer-col .title {
    font-size: 13px;
    margin-bottom: 0;
    letter-spacing: 0;
    line-height: 1.66667;
    font-weight: 600;
    color: #fff;width:100%
}
.label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    background: transparent;
border: 0;
margin: 0;

padding: 0;
vertical-align: baseline;
outline: 0;
text-rendering: optimizelegibility;
-moz-osx-font-smoothing: grayscale !important;
font-feature-settings: "liga", "kern";
-webkit-font-smoothing: subpixel-antialiased;
}

.footer .footer-col.links ul li {
    margin-bottom: 0;
    color: #fff!important;
    font-weight: 400;
    line-height: 22px;
    font-size: 13px;
}
.footer .footer-col a, .footer .footer-col p {
    color: #fff;
}
.footer .footer-col.connect h3 {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: -2px;
    -webkit-opacity: .9;
    -moz-opacity: .9;
    opacity: .9;
}
.footer .bottom-bar {
    color: rgba(255,255,255,.4);
    background: rgba(0,0,0,.5);
    font-size: 14px;
    padding: 10px 0;
}.icp {
    padding: 16px 0 8px;
}.footer a {
    color: rgba(255, 255, 255, 0.4);
}
.copyright {background-color:transparent!important}
.footer-col .footer-col-inner input {
    display: none;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px;
    line-height: normal;
}

#flotage-help {
    z-index: 1114;
    position: fixed;
    bottom: 197px;
    right: -104px;
    cursor: pointer;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}

#flotage-help .flotage-help-icon {
    width: 93px;
    height: 69px;
    background: url(http://cdn.gsxservice.com/asset/img/pc_finderteacher_6e42bfff9d.png) no-repeat;
}
#flotage-help .flotage-buttons {
    text-align: center;
    background: #37a4f5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}
#flotage-help .flotage-buttons .flotage-btn {
    background: #37a4f5;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    width: 103px;
    height: 34px;
    font-size: 14px;
    color: #ffffff;
    line-height: 34px;
}
.light-top {
bottom:150px !important;
}
#flotage-help .flotage-buttons .qrcode-box {
    display: none;
    position: absolute;
    text-align: center;
    right: 110px;
    font-size: 12px;
    top: 70px;
    width: 156px;
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 10px 14px;
}

#flotage-help .flotage-buttons .qrcode-box .text-primary {
    color: #ff9100;
    line-height: 20px;
}

#flotage-help .flotage-buttons .qrcode-box .wechat-qrcode {
    width: 115px;
    height: 115px;
    margin: 0 auto;
    background: url(/files/pages/img/xiaoying.png) no-repeat;
	background-size: cover;
}
#flotage-help .flotage-buttons .qrcode-box .text-muted {
    color: #6d6d6e;
    line-height: 20px;
}
#flotage-help .flotage-buttons .flotage-btn:hover {
    background: #2b84c5;
}
#flotage-help a{
color:#fff;
}
</style>
<div id="flotage-help" style="right: 7px;">
<div class="flotage-help-icon">
</div>
<div class="flotage-buttons">
<div class="flotage-btn findteacher"><a href='javascript:;'>免费评估规划</a></div>
<div class="flotage-btn comeon-im"><a href='https://static.meiqia.com/dist/standalone.html?eid=14353' target="_blank" >立即咨询</a></div>
<div class="flotage-btn get-courses"><a href='javascript:;'>填表领资料</a></div>
<div class="flotage-btn get-tel"><a href='javascript:;'>电话咨询</a></div>

<div class="qrcode-box" style="display: none;">
<div class="text-primary">小莺微信公众号:</div>
<div class="text-primary">eggelite</div>
<div class="wechat-qrcode"></div>
<div class="text-muted">精品好课等你领</div>
</div>

</div>
</div>

  <div class="light-top hidden">
    <a href="javascript:;">
      <i class="es-icon es-icon-keyboardarrowup"></i>
    </a>
  </div>
<script>

$('#flotage-help .flotage-buttons .get-courses').click(function(){
	window.open("http://www.eggelite.com/ziliao");

});
$('#flotage-help .flotage-buttons .findteacher').click(function(){
window.open("http://www.eggelite.com/ziliao");
});
$('#flotage-help .flotage-buttons .get-tel').hover(function(){
$('#flotage-help .flotage-buttons .get-tel a').text("4000150170");
},function(){
$('#flotage-help .flotage-buttons .get-tel a').text("电话咨询");

});
</script>


      </div>




  <div id="login-modal" class="modal" data-url="/login/ajax"></div>
  <div id="modal" class="modal"></div>
  <div id="attachment-modal" class="modal"></div>

  <script>
  var app = {};
  app.debug = true;
  app.version = '7.5.15';
  app.httpHost = 'http://www.xiaoying.net';
  app.basePath = '';
  app.theme = 'light';
  app.themeGlobalScript = 'theme/global-script';
  app.jsPaths = {"common":"common","theme":"\/themes\/light\/js","lightthemebundle":"\/bundles\/lighttheme\/js","customwebbundle":"\/bundles\/customweb\/js","customadminbundle":"\/bundles\/customadmin\/js","topxiawebbundle":"\/bundles\/topxiaweb\/js","topxiaadminbundle":"\/bundles\/topxiaadmin\/js","classroombundle":"\/bundles\/classroom\/js","materiallibbundle":"\/bundles\/materiallib\/js","sensitivewordbundle":"\/bundles\/sensitiveword\/js","permissionbundle":"\/bundles\/permission\/js","orgbundle":"\/bundles\/org\/js"};

  app.crontab = '/common/crontab';

  var CKEDITOR_BASEPATH = app.basePath + '/assets/libs/ckeditor/4.6.7/';
  var CLOUD_FILE_SERVER = "";

  app.config = {"api":{"weibo":{"key":""},"qq":{"key":""},"douban":{"key":""},"renren":{"key":""}},"cloud":{"video_player":"http:\/\/cdn.staticfile.org\/GrindPlayerCN\/1.0.2\/GrindPlayer.swf","video_player_watermark_plugin":"http:\/\/cdn.staticfile.org\/GrindPlayerCN\/1.0.2\/Watermake-1.0.3.swf","video_player_fingerprint_plugin":"http:\/\/cdn.staticfile.org\/GrindPlayerCN\/1.0.2\/Fingerprint-1.0.1.swf"},"loading_img_path":"\/assets\/img\/default\/loading.gif?7.5.15"};

  app.arguments = {};

  app.scripts = null;

  app.uploadUrl = '/file/upload';
  app.imgCropUrl = '/file/img/crop';
  app.lessonCopyEnabled = '1';
  app.cloudSdkCdn = '';
  app.mainScript = '/bundles/topxiaweb/js/app.js?7.5.15';
  app.lang = 'zh_CN';
</script>
<script src="/bundles/bazingajstranslation/js/translator.min.js?7.5.15"></script>
<script src="http://www.xiaoying.net/translations/js"></script>
<script src="/assets/libs/seajs/seajs/2.2.1/sea.js?7.5.15"></script>
<script src="/assets/libs/seajs/seajs-style/1.0.2/seajs-style.js?7.5.15"></script>
<script src="/assets/libs/seajs/seajs-text/1.1.1/seajs-text.min.js?7.5.15"></script>
<script src="/assets/libs/seajs-global-config.js?7.5.15"></script>
<script src="/assets/libs/seo-global.js?7.5.15"></script>
<script>
  seajs.use(app.mainScript);
</script>

</body>
</html>
