<html>
<head>
<meta charset="utf-8">
<meta name="author" content="小莺出国" />
<meta name="keywords" content="日本留学规划专家 小莺出国日本留学 - 小莺出国"/>
<meta name="description" content="日本留学规划专家 小莺出国 - 小莺出国"/>
<title>日本留学规划专家 小莺出国日本留学 - 小莺出国</title>
<link href="/files/liukao/css/app.css" rel="stylesheet">
<link href="/files/liukao/css/carousel.css" rel="stylesheet">
<link href="/themes/light/css/theme.css" rel="stylesheet">
<link href="/assets/v2/bootstrap/css/bootstrap.css" rel="stylesheet">
<script type="text/javascript" src="/files/plan/js/jquery-1.11.1.min.js"></script>

<script src="/files/js/uaredirect.js" type="text/javascript"></script>
  <script type="text/javascript">uaredirect("http://m.eggelite.com/liukao");</script>

<style type="text/css">
@keyframes resizeanim { from { opacity: 0; } to { opacity: 0; } }
      .resize-triggers { animation: 1ms resizeanim; visibility: hidden; opacity: 0; }
      .resize-triggers, .resize-triggers > div, .contract-trigger:before { content: " "; display: block; position: absolute; top: 0; left: 0; height: 100%; width: 100%; overflow: hidden; }
      .resize-triggers > div { background: #eee; overflow: auto; }
      .contract-trigger:before { width: 200%; height: 200%; }
      .ask{
      	display: none;
      }
      .ask.active{
      	display: block;
      }
      .carousel-inner{
      	position: static;
      	margin-left: 0;
      }

</style>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?916d5e71705fb1d76f48bf1b0473ea8c";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 14353);
    _MEIQIA('withoutBtn');
</script>
<script type="text/javascript">

function CheckForm(){
		var OName=document.getElementById("Orders_Name");
	var tel=document.getElementById("Orders_Tel");
	var RegEmpty=/^\s*$/;  //匹配所有空字符
	var RegMobile=/^1[3458]\d{9}$/; //匹配当前国内手机号

	if(RegEmpty.test(OName.value)){
		alert('请填写姓名！')
		OName.focus();
		return false;
	}
	if(RegEmpty.test(tel.value)){
		alert('请填写手机号！')
		tel.focus();
		return false;
	}else if(RegMobile.test(tel.value.replace(/(^\s*)|(\s*$)/g,""))==false){ //去掉字符串两侧空字符，并验证是否是11为手机号
		alert('请输入11为手机号码！')
		tel.focus();
		return false;
	}
	return true;
}
</script>

</head>
<body>
<div id="app">
	<div class="head">
		<a class="logo"  href="#">
      <img src="/files/liukao/img/logo.svg" alt="">
    </a>
    <a class="a_title" href="http://www.xiaoying.net/pinggu" target="_blank">马上规划</a>
    <a class="a_title" href="javascript:void(0)" onclick="_MEIQIA('showPanel')">在线咨询</a>
    <a class="a_title" href="http://www.eggelite.com/" target="_blank">返回主站</a>
    <a class="phone" href="javascript:void(0)">咨询热线：4000-150-170</a>
	</div>
	<div class="swap">
		<div id="form-list">
			<h1 align="center">免费留学名额申请</h1>
			<p align="center">
				每年超过7,900人选择小莺出国
			</p>
			<form name="frm" id="frm" onsubmit="return CheckForm();" action="http://www.xsjedu.org/Orders/CoursesSave.asp" class="form">
				<div class="form-item">
					<input type="text" name="Orders_Name" id="Orders_Name" placeholder="联系姓名">
				</div>
				<div class="form-item">
					<input type="tel" name="Orders_Tel" id="Orders_Tel" placeholder="联系电话">
				</div>
				<div class="form-item">
					<input type="text" placeholder="所在地区">
				</div>
				<div class="form-item">
					<select>
            <option value="">目前学历</option>
              <option value="4">本科大四</option>
              <option value="3">本科大三</option>
              <option value="2">本科大二</option>
              <option value="1">本科大一</option>
              <option value="10">大专大三</option>
              <option value="9">大专大二</option>
              <option value="8">大专大一</option>
              <option value="7">高三</option>
              <option value="6">高二</option>
              <option value="5">高一</option>
              <option value="1">其他</option>
					</select>
				</div>
				<div class="form-item">
					<input name="Source_id" type="hidden" value="418">
 					<input name="City_id" type="hidden" value="47">
 					<input name="Courses_id" type="hidden" value="6482">
					<input type="submit" value="提交我的留学梦">
				</div>
			</form>
		</div>
		<div id="banner" class="carousel slide" style="width: 100%;overflow: hidden;">
			<!-- 轮播（Carousel）指标 -->
			<ol class="carousel-indicators">
			    <li data-target="#banner" data-slide-to="0" class="active slide-one"></li>
          <li data-target="#banner" data-slide-to="2" class="slide-two"></li>
			    <li data-target="#banner" data-slide-to="3" class="slide-two"></li>
			</ol>
			<!-- 轮播（Carousel）项目 -->
			<div class="carousel-inner">
			    <!-- <div class="item active">
			        <a href="javascript:void(0)" onclick="_MEIQIA('showPanel')"><img src="/files/liukao/img/swap-1.68473f2.jpg" alt="" /></a>
			    </div> -->
			    <div class="item active">
			        <a href="javascript:void(0)" onclick="_MEIQIA('showPanel')"><img src="/files/liukao/img/swap-3.68473f2.jpg" alt="" /></a>
			    </div>
          <div class="item">
			        <a href="http://www.xiaoying.net/pinggu" target="_blank" ><img src="/files/liukao/img/swap-3.68473f0.jpg" alt="" /></a>
			    </div>
			</div>
		</div>
	</div>
	<div class="title">
		<span>日本留学类型</span>
	</div>
	<div data-v-47d2e081="" class="abroad-list">
		<div data-v-47d2e081="" class="abroad">
			<a data-v-47d2e081="" href="javascript:void(0);" onclick="_MEIQIA('showPanel')" class="img-href"></a>
			<a data-v-47d2e081="" href="javascript:void(0);" onclick="_MEIQIA('showPanel')">
				<p data-v-47d2e081="" class="">
				日本大学<br /><label>高等教育的核心教育</label><span data-v-47d2e081=""></span>
			</p>
			</a>

		</div>
		<div data-v-47d2e081="" class="abroad">
			<a data-v-47d2e081="" href="javascript:void(0);" onclick="_MEIQIA('showPanel')" class="img-href"></a>
			<a data-v-47d2e081="" href="javascript:void(0);" onclick="_MEIQIA('showPanel')">
				<p data-v-47d2e081="" class="">
				EJU留考<br /><label>日本大学的敲门砖</label><span data-v-47d2e081=""></span>
			</p>
			</a>

		</div>
		<div data-v-47d2e081="" class="abroad">
			<a data-v-47d2e081="" href="javascript:void(0);" onclick="_MEIQIA('showPanel')" class="img-href"></a>
			<a data-v-47d2e081="" href="javascript:void(0);" onclick="_MEIQIA('showPanel')">
				<p data-v-47d2e081="" class="">
				语言学校<br /><label>通往日本大学的跳板</label><span data-v-47d2e081=""></span>
			</p>
			</a>

		</div>
	</div>
	<div class="flow">
		<div class="title">
			<span>小莺出国日语留学申请流程</span>
		</div>
		<div class="flow-img">
			<img src="/files/liukao/img/flow.9114eb2.jpg">
		</div>
	</div>
	<div class="title">
		<span>日本留学需要多少钱？</span>
	</div>
	<div class="tuition" style="position: relative;">
		<img src="/files/liukao/img/tuition-up.83058d0.jpg" class="tuition-up"><img src="/files/liukao/img/tuition-down.17f6c3a.jpg">
		<a href="http://www.xiaoying.net/pinggu" target="_blank" style="position: absolute;width: 160px;height: 40px;bottom: 3px;left: 50%;margin-left: 355px;"></a>
	</div>
	<div class="flow" style="padding-bottom: 20px;">
		<div class="title">
			<span>赴日留学热门问题</span>
		</div>
		<div data-v-3c972526="" class="question">
			<div data-v-3c972526="" class="question-ask active">
				<span data-v-3c972526="" class="text">是不是要等孩子毕业后再申请？</span><span data-v-3c972526="" class="number">01</span>
			</div>
			<div data-v-3c972526="" class="question-ask">
				<span data-v-3c972526="" class="text">日本留学有哪些优势？</span><span data-v-3c972526="" class="number">02</span>
			</div>
			<div data-v-3c972526="" class="question-ask">
				<span data-v-3c972526="" class="text">国公立和私立学校哪个比较好？</span><span data-v-3c972526="" class="number">03</span>
			</div>
			<div data-v-3c972526="" class="question-ask">
				<span data-v-3c972526="" class="text">日本的学历在中国都被承认吗？</span><span data-v-3c972526="" class="number">04</span>
			</div>
			<div data-v-3c972526="" class="question-ask">
				<span data-v-3c972526="" class="text">留考比高考难吗？</span><span data-v-3c972526="" class="number">05</span>
			</div>
			<div data-v-3c972526="" class="question-ask">
				<span data-v-3c972526="" class="text">留学以后可以在日本就职吗?</span><span data-v-3c972526="" class="number">06</span>
			</div>
			<div data-v-3c972526="" class="question-ask">
				<span data-v-3c972526="" class="text">第一次被拒签，还能去日本吗？</span><span data-v-3c972526="" class="number">07</span>
			</div>
			<div data-v-3c972526="" class="question-ask">
				<span data-v-3c972526="" class="text">留学生有哪些优惠政策？</span><span data-v-3c972526="" class="number">08</span>
			</div>
			<div data-v-3c972526="" class="ask active">
				<div data-v-3c972526="" class="question-text">
					<div data-v-3c972526="" class="question-left">
						<p data-v-3c972526="">
							是不是要等孩子毕业后再申请？
						</p>
						<span data-v-3c972526="">01</span>
					</div>
				中国有句话，宜早不宜迟。不管是申请语言学校，还是申请研究生，都建议尽可能早的准备，早准备早成功。
					<br data-v-3c972526="">
					<br data-v-3c972526="">
				首先是语言学校，语言学校的申请要提前，办理周期最快也要三个月。但这不意味着，提前三个月就够了。因为选校、办材料、递交材料、审核材料都需要花费相当长的时间。一般语言学校是提前3到5个月把学生所有材料递交入馆。语言学校的招生都是有名额限定的，员满后停止招生，优良校（比如富士日本语学校、千代田语言学校）肯定报名的学生也多，如果学生不着急的话，可能好学校名额就没有了，只能选择后面的学校。
					<br data-v-3c972526="">
					<br data-v-3c972526="">
				其次是研究生，申请研究生一般建议都是提前一年开始联系教授。比如你申请17年10月份入学，那么你需要在10月份左右开始联系教授。特别是现在期望去日本留学的人越来越多，竞争也很激烈。如果晚申请的话，教授的研究室很可能就招满了，而错失申上理想院校的良机。此外，在开始套磁之前需要定专业、选学校、做文书，都需要花费一定的时间。特别是大部分学生在开始套磁的时候并不具备相应的硬件条件以及软件条件。所以需要提前和专业的老师商量，如何合理的规划语言考试，如何合理的提高硬件条件和软件条件。总之，要成功梦圆名校，一定要早早规划，早早申请。
					<a data-v-3c972526="" href="javascript:void(0);" onclick="_MEIQIA('showPanel')">点击了解更多</a>
				</div>
			</div>
			<div data-v-3c972526="" class="ask">
				<div data-v-3c972526="" class="question-text">
					<div data-v-3c972526="" class="question-left">
						<p data-v-3c972526="">
							日本留学有哪些优势？
						</p>
						<span data-v-3c972526="">02</span>
					</div>
				就业空间更胜一筹：日本政府认为，接收留学生有助于世界的稳定与发展，是一种在“在知识领域的国际贡献”。在日本各地方政府及民间团体为留学生设置了很多形式多样的留学生援助体质。而且一流大学就业前景比较光明，赴日读研将来无论回国或是留日，都会有良好的就业前景。如在日本就业，一年即可收回全部教育投资。
					<br data-v-3c972526="">
					<br data-v-3c972526="">
教学质量一流：日本教育质量尤其是大学教育质量世界一流，同时保留了东方的传统教育体制。日本拥有世界一流大学且生活环境极好，培养了多名诺贝尔奖获得者。
					<br data-v-3c972526="">
					<br data-v-3c972526="">
学费低廉：在日本留学，每年的全部花费一般在8-10万左右，并且还有获得高额奖学金机会。比欧美留学每年20万-50万要省太多。在日本，打工合法化和众多工作机会为留学生勤工俭学提供了十分有利条件。
					<br data-v-3c972526="">
					<br data-v-3c972526="">
文化差异小：两国文化的相似度，使学生产生了亲近感和亲和感，使得中国很多留学生能很快适应日本的生活。优美整洁的城市环境，完善的医疗保险措施，解决了留日学生的后顾之忧，从而更加安心的完成学业。
					<a data-v-3c972526="" href="javascript:void(0);" onclick="_MEIQIA('showPanel')">点击了解更多</a>
				</div>
			</div>
			<div data-v-3c972526="" class="ask">
				<div data-v-3c972526="" class="question-text">
					<div data-v-3c972526="" class="question-left">
						<p data-v-3c972526="">
							国公立和私立学校哪个比较好？
						</p>
						<span data-v-3c972526="">03</span>
					</div>
				有区别，但是区别不在于教学质量和学历认证上。认为国公立大学好，私立大学不好，这是国内人们普遍的一个错误认识。日本的私立大学大多是由很有实力的财团创建的，无论学校软件硬件方面都不输给国公立，甚至很多比国公立要强。在世界大学排名榜上很多私立大学也名列前茅，比如：早稻田大学、庆应大学等都是人们耳熟能详的老牌名校。只是国公立大学的学费更加便宜。
					<a data-v-3c972526="" href="javascript:void(0);" onclick="_MEIQIA('showPanel')">点击了解更多</a>
				</div>
			</div>
			<div data-v-3c972526="" class="ask">
				<div data-v-3c972526="" class="question-text">
					<div data-v-3c972526="" class="question-left">
						<p data-v-3c972526="">
							日本的学历在中国都被承认吗？
						</p>
						<span data-v-3c972526="">04</span>
					</div>
				在日本的学校毕业后要在日本做学历认证和归国人员证明，可以跟同学们一起去办，回国后在中国教育部办理学历认证就可以了，程序非常简单，学生需要提前查好需要带的材料，然后直接去办理就行。
					<a data-v-3c972526="" href="javascript:void(0);" onclick="_MEIQIA('showPanel')">点击了解更多</a>
				</div>
			</div>
			<div data-v-3c972526="" class="ask">
				<div data-v-3c972526="" class="question-text">
					<div data-v-3c972526="" class="question-left">
						<p data-v-3c972526="">
							大学院或研究生需要日语几级?
						</p>
						<span data-v-3c972526="">05</span>
					</div>
					<br data-v-3c972526="">
				 	就题目难度来说，EJU多数是选择，数学是填空，日语包含写作。主观题很少，比高考简单。
				 	<br data-v-3c972526="">
    				就升学难度来说，由于可以同时申请多所日本大学的入学，加上各名牌大学对留学生的招生要求不高（可以参考港台同胞考北大要多少分），所以升学比高考简单。
					<br data-v-3c972526="">
    				用日文参加EJU的应试的话，需要至少N2前后的日文能力。如果满足这一点，留考是一个辅导班年即可拿出有一定竞争力的考试。高考则复读一年仍然难说能提高多少分的

					<a data-v-3c972526="" href="javascript:void(0);" onclick="_MEIQIA('showPanel')">点击了解更多</a>
				</div>
			</div>
			<div data-v-3c972526="" class="ask">
				<div data-v-3c972526="" class="question-text">
					<div data-v-3c972526="" class="question-left">
						<p data-v-3c972526="">
							留学以后可以在日本就职吗?
						</p>
						<span data-v-3c972526="">06</span>
					</div>
				根据日本厚生省和“入国管理局”的规定，外国留学生在日本的学校毕业以后，都可以选择留日工作，并可以获得3个月至半年的特别延长用于找工作的短期滞留签证。而且日本由于少子化社会现状和产业、贸易特点，对于留学生选择留日工作持欢迎态度。且日本失业率比较低，留学生只要语言过关且有一定的专业基础，在日本实现就职可能性还是非常大的。
					<a data-v-3c972526="" href="javascript:void(0);" onclick="_MEIQIA('showPanel')">点击了解更多</a>
				</div>
			</div>
			<div data-v-3c972526="" class="ask">
				<div data-v-3c972526="" class="question-text">
					<div data-v-3c972526="" class="question-left">
						<p data-v-3c972526="">
							第一次被拒签，还能去日本吗？
						</p>
						<span data-v-3c972526="">07</span>
					</div>
				如果第一次被拒签，以后的审查将会更加严格，签下来的可能性会比较小。所以我们劝您选择留学中介一定要慎重，不要因为贪图小便宜误了前程。还有一些选择自己DIY的学生，自己办理成功的话皆大欢喜，但是学生还是要谨慎，因为自己没有经验，使馆审核非常严格，材料准备方面稍有不慎就可能遭到拒签，而且学生对选校也没有经验。
					<a data-v-3c972526="" href="javascript:void(0);" onclick="_MEIQIA('showPanel')">点击了解更多</a>
				</div>
			</div>
			<div data-v-3c972526="" class="ask">
				<div data-v-3c972526="" class="question-text">
					<div data-v-3c972526="" class="question-left">
						<p data-v-3c972526="">
							留学生有哪些优惠政策？
						</p>
						<span data-v-3c972526="">08</span>
					</div>
				各种充实的奖学金制度：日本的奖学金种类很多，概括起来关键有5种，即日本政府(文部省)的奖学金；日本民间组织的奖学金；日本地方公众组织给予的奖学金;一些高等院校创立的奖学金和自费留学生奖学金。这几年来，日本部分区市等地方自治组织也开设了奖学金。
					<br data-v-3c972526="">
					<br data-v-3c972526="">
学费减免措施：每年约3万学生可以得到不同程度的学费减免，其中政府为私立大学或短期大学提供不超过学费的30%额度的补助。
					<br data-v-3c972526="">
					<br data-v-3c972526="">
医疗补助：在日本高等教育机构注册的学生，在其生病或发生意外伤害时，可享受80%的医疗补助。
					<br data-v-3c972526="">
					<br data-v-3c972526="">
公费录取：对即将升入研究生院的留学生和在籍研究生院或大学本科最高年级学习的留学生中成绩优秀者按照公费留学生录取；此外，留学生还可以获得每周最高28小时以内的打工许可。
					<a data-v-3c972526="" href="javascript:void(0);" onclick="_MEIQIA('showPanel')">点击了解更多</a>
				</div>
			</div>
		</div>
	</div>

	<div class="title">
		<span>大机构有保障</span>
	</div>
	<div class="tuition">
		<img src="/files/liukao/img/bz.0690bd4.jpg" style="margin-top:30px;">
		<div class="online">
			<a href="javascript:void(0);" onclick="_MEIQIA('showPanel')">了解更多</a>
		</div>
	</div>
	<div class="title">
		<span>我们只用数据说话</span>
	</div>
	<div class="data">
		<img src="/files/liukao/img/data.0b33489.png">
	</div>
  <div class="flow">
    <div class="title">
      <span>小莺出国日本留学</span>
    </div>
    <div class="flow-img">
      <img src="/files/liukao/img/edu-lx.bf2eb6d.jpg">
    </div>
  </div>
  <div class="banner_footer">
    <h1 style="text-align: center; font-size:35px;color:#cec302;">小莺出国留学墙</h1>
    <p>他们都成功了，下一个就是你!</p>
    <span>专注日本留学20余年，我们更专业</span>
    <img style="display:block; margin:0 auto;" src="/files/liukao/img/container.jpg" alt="">
  </div>


</div>


{% include 'TopxiaWebBundle:Default:footer.html.twig' %}



<script src="files/liukao/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="files/liukao/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){
			$('.carousel').carousel();
	    $('.carousel-indicators li').each(function(_f){
	    	$(this).hover(function(){
	    		$("#banner").carousel(_f);
	    	})
	    });
	    $('.question-ask').each(function(_e){
	    	$(this).hover(function(){
	    		$('.question-ask').removeClass('active')
	    		$(this).addClass('active')
	    		$('.ask').removeClass('active')
	    		$('.ask').eq(_e).addClass('active')
	    	})
	    })
	});


</script>
</body>
</html>
