
<header id="hjpassport">
    <div id="pass_c" class="cf">
   
    <ul id="pass_c_l" class="cf">
     <li class="hj_index">
            <div>
                 <a target="_blank" href="http://www.xiaoying.net" onclick="SendEvent(38, 1235)">首页</a>
            </div>
        </li>
        <li class="home pass_x">
            <div class="home_t pass_x_t">
              <span >留学资源</span>
           <b></b>
            </div>
            <div class="home_b pass_x_b" style="display: none;">
                <ul>
                   <li class="home_i0">
                      <a target="_blank" href="http://www.xiaoying.net/ziliao">
                         <span>日语学习资料</span>
                       </a>
                   </li>
                   <li class="home_i1">
                      <a target="_blank" href="http://www.xiaoying.net/ziliao">
                         <span>留考校内考资料</span>
                      </a>
                   </li>
                   <li class="home_i5">
                      <a rel="nofollow" target="_blank" href="http://www.xiaoying.net/ziliao">
                         <span>日本读研资料</span>
                      </a>
                   </li>
                </ul>
            </div>
        </li>
       
        <li class="dh pass_x">
            <div class="dh_t pass_x_t">
                 <span>留学方案</span>
                 <b></b>
            </div>
            <div class="dh_b pass_x_b cf" style="display: none;">
            <ul id="dh_b_con2" class="fr borLeft">
                    <div class="db_h_title">
                         <h3>中小学</h3>
                    </div>
                    <li id="dh_b_z1" class="pass_site">
                         <a target="_blank" href="#"><span>小学</span></a>
                    </li>
                    <li id="dh_b_z2" class="pass_site">
                         <a target="_blank" href="#"><span>中学</span></a>
                    </li>
                    <li id="dh_b_z3" class="pass_site">
                         <a target="_blank" href="#"><span>高考</span></a>
                    </li>
                    <li id="dh_b_z6" class="pass_site">
                         <a target="_blank" href="#"><span>留学</span></a>
                    </li>
                    <li id="dh_b_z4" class="pass_site">
                         <a target="_blank" href="#"><span>儿歌</span></a>
                    </li>
                    <li id="dh_b_z5" class="pass_site">
                        <a target="_blank" href="#"><span>育儿</span></a>
                    </li>
                </ul>
                 <ul id="dh_b_con1" class="fl ">
                     <div class="db_h_title cf">
                         <h3 class="fl">日语学习</h3>
                         <a class="fr dh_con1_more" rel="nofollow" target="_blank" href="#">更多»</a>
                     </div>
                     <li id="dh_b_i1" class="pass_site">
                         <a target="_blank" href="#">
                         <span>英语</span></a>
                     </li>
                     <li id="dh_b_i2" class="pass_site">
                         <a target="_blank" href="#"><span>日语</span></a>
                     </li>
                     <li id="dh_b_i3" class="pass_site">
                         <a target="_blank" href="#"><span>韩语</span></a>
                     </li>
                     <li id="dh_b_i4" class="pass_site">
                         <a target="_blank" href="#"><span>法语</span></a>
                     </li>
                     <li id="dh_b_i5" class="pass_site">
                         <a target="_blank" href="#"><span>泰语</span></a>
                    </li>
                    <li id="dh_b_i6" class="pass_site">
                         <a target="_blank" href="#"><span>德语</span></a>
                    </li>
                    <li id="dh_b_i7" class="pass_site">
                         <a target="_blank" href="#"><span>西语</span></a>
                    </li>
                    <li id="dh_b_i8" class="pass_site">
                         <a target="_blank" href="#"><span>俄语</span></a>
                    </li>
                    <li id="dh_b_i9" class="pass_site">
                         <a target="_blank" rel="nofollow" href="#"><span>意语</span></a>
                    </li>
                </ul>
                
            </div>
        </li>
        
        <li class="bl pass_x">
            <div class="bl_t pass_x_t">
                <a target="_blank" href="#" id="myBulo">院校排名</a>
                <b></b>
            </div>
            <ul class="bl_b pass_x_b">
                <li>
                    <a target="_blank" href="http://www.xiaoying.net/jp" rel="nofollow">
                    <img src="/files/test/images/201510103075879678.png">
                    <span>排名中心</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="#" rel="nofollow">
                    <img src="/files/test/images/201510103090481227.png">
                    <span>语言学校</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="#" rel="nofollow">
                    <img src="/files/test/images/201510103082718794.png">
                    <span>日本大学</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="#" rel="nofollow">
                    <img src="/files/test/images/201510103091862593.png">
                    <span>日本高中</span>
                    </a>
                </li>
            </ul>
        </li>
          <li class="shetuan">
            <div>
                <a target="_blank" href="http://duyan.xiaoying.net">日本读研</a>
            </div>
        </li>
        <li class="shetuan">
            <div>
                <a target="_blank" href="http://jp.xiaoying.net">语言学校免费申请</a>
            </div>
        </li>
         <li class="shetuan">
            <div>
                <a target="_blank" href="http://wwww.xiaoying.net/sgu">SGU英语项目</a>
            </div>
        </li>
        <li class="shetuan">
            <div>
                <a target="_blank" href="http://shu.xiaoying.net">小莺私塾</a>
            </div>
        </li>
    </ul>
    <ul id="passport_userinfo" class="user_logout_block">
        <li class="pass_log cf">
            <a href="javascript:;" class="fastLogin" data-source="yeshj" title="登录" rel="nofollow">
               <span>关于小莺</span>
            </a>
            <a href="javascript:;" class="fastRegister" data-source="yeshj" title="免费留学规划" rel="nofollow" style="color:#ea7813;">
               <span>免费留学规划</span>
            </a>
            <i class="split_border"></i>
        </li>
        <li class="wx pass_x">   
            <div class="wx_t pass_x_t">
                 <a target="_blank" href="#" class="passport_myclass">来校咨询</a>
                 <b></b>
            </div>
            <ul id="UserClass" class="wx_b pass_x_b" style="display: none;">
                 <li class="wx_li">
                     <a target="_blank" class="courseurl" href="#"> 上海校区</a>
                 </li>
                 
                 <li class="wx_lastli">
                     <a class="wx_t_xk courseurl" target="_blank" href="#" rel="nofollow">
                     <span>选课</span>
                     </a>
                     <a class="wx_t_dy" target="_blank" href="#" rel="nofollow"><span>答疑</span>
                     </a>
                     <a class="wx_t_gkk" target="_blank" href="#" rel="nofollow"><span>公开课</span></a>
                 </li>
            </ul> 
        </li> 
    </ul>
</div>  
</header>
    <script src="{{ asset('files/test/js/jquery.min.js') }}"></script>
    <script src="{{ asset('files/test/js/hjbase.js') }}"></script>
    <script src="{{ asset('files/test/js/hjpassport.js') }}"></script>
