
<link type="text/css" href="/Public/slide/css/base.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/Public/slide/css/public-public.css">

<div class="offerContainer">
    <!--offTop start-->
    <div class="offTop clearfix">
        <div class="TopChampion interImg f-fl">
            <a href="#" title="新南威尔士大学" target="_blank">
                <div class="ChampionImg"><img src="/Public/slide/images/rank-img01.jpg" alt="2016年度申冠军诺丁汉大学"></div>
                <div class="ChampionText">
                    <strong><p>2016年度申请冠军</p><p>新南威尔士大学</p></strong>
                    <em>已有<b>205</b>份成功申领offer</em>
                </div>
            </a>
        </div>
        <div class="TopCation f-fl">
            <div class="Cation interImg Cation1 form-button">
                <b class="interBg"></b>
                <div class="CationImg"><img src="/Public/slide/images/rank-img02.png" alt="管理学"></div>
                <div class="CationText">
                    <strong>管理学</strong>
                    <div class="TextP">
                        <p>已有1341份成功申领offer</p>
                        <p>GPA <b>2.0</b>起</p>
                    </div>
                </div>
            </div>
            <div class="Cation interImg Cation2 form-button">
                <b class="interBg"></b>
                <div class="CationImg"><img src="/Public/slide/images/rank-img03.png" alt="工学"></div>
                <div class="CationText">
                    <strong>工学</strong>
                    <div class="TextP">
                        <p>已有1114份成功申领offer</p>
                        <p>GPA <b>2.0</b>起</p>
                    </div>
                </div>
            </div>
            <div class="Cation interImg Cation3 form-button">
                <b class="interBg"></b>
                <div class="CationImg"><img src="/Public/slide/images/rank-img04.png" alt="文学"></div>
                <div class="CationText">
                    <strong>文学</strong>
                    <div class="TextP">
                        <p>已有913份成功申领offer</p>
                        <p>GPA <b>2.44</b>起</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="TopAdmis f-fl">
            <h4 class="sprite">录取排行榜</h4>
            <div class="Admis">
                <ul>
                    <li>
                        <a href="#" title="布里斯托大学" target="_blank">
                            <b class="blueBg">1</b>
                            <strong><span>布里斯托大学</span><i class="sprite"></i></strong><em>申</em>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="墨尔本大学" target="_blank">
                            <b class="blueBg">2</b>
                            <strong><span>墨尔本大学</span><i class="sprite"></i></strong><em>申</em>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="爱丁堡大学" target="_blank">
                            <b class="blueBg">3</b>
                            <strong><span>爱丁堡大学</span><i class="sprite"></i></strong><em>申</em>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="悉尼大学" target="_blank">
                            <b>4</b>
                            <strong><span>悉尼大学</span><i class="sprite"></i></strong><em>申</em>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="新南威尔士大学" target="_blank">
                            <b>5</b>
                            <strong><span>新南威尔士大学</span></strong><em>申</em>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="纽卡斯尔大学" target="_blank">
                            <b>6</b>
                            <strong><span>纽卡斯尔大学</span></strong><em>申</em>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="华威大学" target="_blank">
                            <b>7</b>
                            <strong><span>华威大学</span></strong><em>申</em>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="曼彻斯特大学" target="_blank">
                            <b>8</b>
                            <strong><span>曼彻斯特大学</span></strong><em>申</em>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="莫纳什大学" target="_blank">
                            <b>9</b>
                            <strong><span>莫纳什大学</span></strong><em>申</em>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="伯明翰大学" target="_blank">
                            <b>10</b>
                            <strong><span>伯明翰大学</span></strong><em>申</em>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="TopClass clearfix f-fb">
             <div class="ClassFication">
                <a href="#" title="谢菲尔德大学" target="_blank">
                    <div class="FicationSch">
                        <div class="SchImg">
                            <b></b>
                            <img src="/Public/slide/images/rank-img05.jpg" alt="谢菲尔德大学banner">
                    </div>
                        <div class="SchText">
                            <div class="TextImg"><img src="/Public/slide/images/rank-img08.png" alt="谢菲尔德大学icon"></div>
                            <strong title="谢菲尔德大学">谢菲尔德大学</strong>
                            <em title="The University of Sheffield">The University of Sheffield</em>
                        </div>
                    </div>
                    <div class="FicationCont">
                        <div class="Cont1">
                            <span><em>张同学</em><em title="硕士申请">硕士申请</em></span>
                            <span><em>专业</em><em title=" Human Resource Management"> Human Resource Management</em></span>
                        </div>
                        <div class="Cont2">
                            <span><em><b class="red">GPA</b>&nbsp;3.33</em><em><b class="red">IELTS</b>&nbsp;暂无</em></span>
                            <span><em><b class="blue">申请成功</b></em></span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="ClassFication">
                <a href="#" title="布里斯托大学" target="_blank">
                    <div class="FicationSch">
                        <div class="SchImg">
                            <b></b>
                            <img src="/Public/slide/images/rank-img06.jpg" alt="布里斯托大学banner">
                        </div>
                        <div class="SchText">
                            <div class="TextImg"><img src="/Public/slide/images/rank-img09.jpg" alt="布里斯托大学icon"></div>
                            <strong title="布里斯托大学">布里斯托大学</strong>
                            <em title="University of Bristol">University of Bristol</em>
                        </div>
                    </div>
                    <div class="FicationCont">
                        <div class="Cont1">
                            <span><em>李同学</em><em title="硕士申请">硕士申请</em></span>
                            <span><em>专业</em><em title=" Accounting and Finance"> Accounting and Finance</em></span>
                        </div>
                        <div class="Cont2">
                            <span><em><b class="red">GPA</b>&nbsp;3.34</em><em><b class="red">IELTS</b>&nbsp;暂无</em></span>
                            <span><em><b class="blue">申请成功</b></em></span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="ClassFication">
                <a href="#" title="诺丁汉大学" target="_blank">
                    <div class="FicationSch">
                        <div class="SchImg">
                            <b></b>
                            <img src="/Public/slide/images/rank-img07.jpg" alt="诺丁汉大学banner">
                        </div>
                        <div class="SchText">
                            <div class="TextImg"><img src="/Public/slide/images/rank-img10.png" alt="诺丁汉大学icon"></div>
                            <strong title="诺丁汉大学">诺丁汉大学</strong>
                            <em title="The University of Nottingham">The University of Nottingham</em>
                        </div>
                    </div>
                    <div class="FicationCont">
                        <div class="Cont1">
                            <span><em>刘同学</em><em title="硕士申请">硕士申请</em></span>
                            <span><em>专业</em><em title="International Media and Communication Studies ">International Media and Communication Studies </em></span>
                        </div>
                        <div class="Cont2">
                            <span><em><b class="red">GPA</b>&nbsp;暂无</em><em><b class="red">IELTS</b>&nbsp;暂无</em></span>
                            <span><em><b class="blue">申请成功</b></em></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--offTop end-->
    <!--toolStm start-->
    <div class="toolStm clearfix">
        <div class="StmFirst f-fl sprite img-wapper">
            <a href="/offer/athleticstool/index.html" title="竞争力报告书" target="_blank">
                <strong>竞争力报告书<img src="/Public/slide/images/rank-img11.png"></strong>
                <span>根据自身基础信息，估算我的竞争力排名</span>
            </a>
        </div>
        <div class="StmSecond f-fl sprite img-wapper">            <a href="http://www.jiemo.net/offer/target/schoollist.html" title="目标学校录取测试" target="_blank">
                <strong>目标学校录取测试<img src="/Public/slide/images/rank-img11.png"></strong>
                <span>1000余所大学的真实申请数据，我是否也能申请</span>
            </a>
        </div>
        <div class="StmCodeApp f-fl sprite">
            <div class="CodeAppImg"><img src="/Public/slide/images/rank-img12.png" alt="微信二维码"></div>
            <span>下载芥末留学APP</span>
        </div>
    </div>
    <!--toolStm end-->
    
</div>
