<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<html lang="zh_CN" >
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
  <meta name="renderer" content="webkit">
  <!--<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">-->
  <meta name="baidu-site-verification" content="av2IpHyf6R" />
  <meta name="baidu-site-verification" content="av2lpHyf6R">

  <meta name="360-site-verification" content="d18b69263d331b380d6b77637b535983" />
  <title>深圳远英出国咨询 - 深圳远英出国</title>
  <meta name="keywords" content="日本读研,SGU咨询，日本读研申请" />
  <meta name="description" content="深圳远英出国为你提供最全面最专业的咨询,日本读研院生咨询,日本大学专升硕课程咨询等" />
  <meta content="B6-UcuS82ThjdcFgBQ3Y9hh0SGagJYVP6WOZ45fbmW0" name="csrf-token" />
  <meta content="0" name="is-login" />
  <meta content="0" name="is-open" />

  <script src="files/false/Scripts/uaredirect.js" type="text/javascript"></script>



   <link rel="icon" href="/files/system/2017/09-01/072306ab1079201406.ico?7.5.15" type="image/x-icon" />
  <link rel="shortcut icon" href="/files/system/2017/09-01/072306ab1079201406.ico?7.5.15" type="image/x-icon" media="screen"/>


<link href="files/false/Css/bootstrap.css" rel="stylesheet"/>
<link rel="stylesheet" media="screen" href="files/false/Css/common.css"/>
<link rel="stylesheet" media="screen" href="files/false/Css/main.css"/>
<link rel="stylesheet" media="screen" href="files/false/Css/es-icon.css"/>
<link rel="stylesheet" media="screen" href="files/false/Css/layui.css"/>
<link rel="stylesheet" media="screen" href="files/false/Css/iconfont.css"/>

<link rel="stylesheet" media="screen" href="files/false/Css/theme.css"/>



  <!--[if lt IE 9]>
    <script src="Scripts/html5shiv.js"></script>
    <script src="Scripts/respond.min.js"></script>

  <![endif]-->


</head>
<body >

  <div class="es-wrap">


<link href="files/false/Css/kefu.css" rel="stylesheet"/>
<link href="files/false/Css/ad-slide.css" media="all" rel="stylesheet">

<style>
.light-homepage .topbar{background:#fff!important}
.light-homepage .light-navbar{box-shadow:none!important}

.light-homepage .navbar-fixed-top .light-navbar{background:#fff!important}
.topbar {background:#fff}
.topbar a{color:#333;font-size:13px;margin-left:15px;}
.topbar-nav {height:30px!important;line-height:30px;float:right!important;color:#333;}
</style>
<header class="light-header">
<nav class="topbar" style=";box-shadow:none;">


<div class="container">
	<div class="topbar-nav" style="">


<a href="">首页</a>
<div class="topbar-nav" style="float:left">

<a href="">深圳</a>

<a href="">上海</a>

<a href="">苏州</a>

<a href="">东京</a>


</div>



</div>
</div>
</nav>

	<nav class="navbar navbar-inverse light-navbar light-navbar-white">
	<div class="navbar-container">
		<div class="navbar-headers ">
			<a href="/" class="navbar-brand">
		      		        <img src="files/false/Picture/logo.svg" class="img-responsive img-full">
		      		    </a>
			<ul class="nav navbar-nav hidden-xs hidden-sm ">
        <li class="nav-list">
            <a href='/wenhua' target="_blank"
               class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
                    日本文化 <!--<span class="caret"></span>-->
            </a>
        </li>


                            <li class="dropdown nav-list">
            <a href='/jiaqi' target="_blank"
               class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
                    日本假期 <!--<span class="caret"></span>-->
            </a>

        </li>

        <li class="dropdown nav-list">
          <a href="/jxj" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              日本奖学金
      </a>
        </li>

        <li class="dropdown nav-list">
          <a href="/kc" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              日语课程
      </a>
        </li>

			</ul>
		</div>
		<div class="nav-mobile">
	  		<div class="panel-overlay"></div>
	  		<a href="javascript:;" class="open-panel js-togglePane hidden-lg hidden-md">
		    	<i class="iconfont icon-mulu"></i>
		    </a>
		    <div class="nav-layout-dark">
		    	<form class="navbar-form" action="/search" method="get">
		        <div class="form-group">
		          <input class="form-control" name="q"/>
		          <button class="button es-icon es-icon-search"></button>
		        </div>
		      </form>

		    </div>
	  	</div>
	  	</div>
	</nav>

</div>
</header>



<script src="files/false/Scripts/jquery.min.js"></script>



<!--
百度统计代码
 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?916d5e71705fb1d76f48bf1b0473ea8c";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>









<div id="content-container" class="container">



<div class="article-detail row" id="detail-content">
<!-- 主内容 -->
<div class="col-md-8 article-detail-main">
<section class="es-section article-content">
<ol class="breadcrumb">

<li><a href="">日本文化</a></li>
<li class="active">正文</li>
</ol>
<div class="article-metas">
<!--
<div class="pull-left">
<div class="date">
<div class="day">27</div>
<div class="month">09月</div>
</div>
</div>
-->
<div class="metas-body">
<h1 class="title">
【日本文化】这部十月新剧卡司看花你的眼，没错！就是字面意思
</h1>

</div>
</div>


<style>

.article-metas .metas-body {padding-left:0px;}

.article-metas .metas-body .title {
font-size: 23px;
line-height: 48px;font-weight:600;
}

.breadcrumb {
padding: 0px;
margin-bottom: 10px;
list-style: none;
border-radius: 4px;
}

</style>
<div class="article-text">
<p> </p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;">上一季的日剧基本上都完结了，《code blue》第三季完美高收视收官，《过保护的加穗子》也同样在平稳的高收视率下完美的结束了，甚至在最后一集超高收视，初的扮演者竹内凉真可谓是迷倒了一大片少女啊，国内的日饭基本上都爬了墙，原本就觉得竹内帅的小编看这部更加沉迷了……. 虽然这部剧真是非常之虐狗！虐狗！虐狗！（没错，不喊三遍都不解恨）。《黑色皮革手册》也是部看起来很带感的剧了，5姑娘S起来更美了，这季剧整体来说都是不错的，大部分都是收视不错的。上一季虽然完结了，但是又要来一波秋季新剧了呢！</p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;">在秋季这么多看起来很好看的日剧中，小编发现了一个全是美女小姐姐的剧啊！忍不住想来卖安利~</p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;"><img alt="" src="files/false/Picture/a65c38cae7f5452eb9776c4b328bda2c.jpeg" style="border:0px;margin:10px auto 0px;padding:0px;height:auto;" /></p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;"><span style="font-weight:700;border:0px;margin:0px;padding:0px;">监狱的公主大人们</span></p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;">『監獄のお姫さま』（かんごくのおひめさま）是TBS将会在10月17日开始放送的火10剧。</p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;">编剧脚本是宫藤官九郎，大家应该都很熟悉了吧，之前很火的《宽松世代又如何》啊，《四重奏》啊，还有很搞怪的电影《早死早投胎地狱摇滚》啊这些都是宫藤官九郎的作品，小编觉得他的作品不论从内容还是台词来说都很好。他颠覆式的拍摄手法，夸张的演绎方式，引人深思的台词，他的想象力和才华，都是无法否认的。所以这部由他担任脚本的剧又可以让大家爽看一发了。</p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;"><img alt="" src="files/false/Picture/8c1f400478c74d01966ff44dacbc0aa7.jpeg" style="border:0px;margin:10px auto 0px;padding:0px;height:auto;" /></p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;">《监狱的公主大人们》是部犯罪喜剧，听这名字而且又是宫九的，就感觉很有料的样子吧。</p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;">【主演】：小泉今日子【共演】：滿島光、菅野美穗、夏帆、坂井真紀、森下愛子、猫背椿、塚本高史、池田成志、伊勢谷友介</p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;">看这卡司大家就知道我为什么说美女小姐姐们了吧，这豪华的卡司真的是非常的亮眼了，感觉宫藤把自己喜欢的女主都用上了的样子。</p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;">看看官方这图片</p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;"><img alt="" src="files/false/Picture/68cefa0e18f84ef1a3afe345450c4e3b.jpeg" style="border:0px;margin:10px auto 0px;padding:0px;height:auto;" /></p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;">真的到时候只是吸颜都行啊！ 但是看看“公主”们的造型，小辣椒，醒目的红色，都在暗示我们这部剧绝对不简单，当然了，这才是宫九嘛~ 这剧真是有颜值有演技有剧情，绝对值得一看！</p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;">那~ 我们来看看剧情是个什么·······</p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;">马场佳代(小泉今日子饰）、大门洋子（坂井真纪饰）、足立明美（森下爱子饰）、胜田千夏（菅野美穗饰）、江户川忍（夏帆饰）曾经是女子监狱的犯人。马场因刺杀不忠贞的丈夫而以杀人未遂的罪行入狱服役，女囚中队长般存在的胜田千夏罪名是隐瞒收入巨额逃税，足立明美的罪名是非法持有毒品，大门洋子的罪名是欺诈和贪污，而江户川忍的罪名则是杀人。她们试图绑架某大企业的帅哥老板 板桥吾郎（伊势谷友介饰），目的是揭露板桥引发的杀人案的真相，洗刷江户川忍的冤屈。曾经监管她们的教官若井双叶（满岛光饰），虽然痛恨犯罪，但在和这些女囚接触的过程中逐渐对她们敞开了封闭的心，而且帮助五人实施复仇计划。然而，计划永远赶不上变化，意外状况频出，女人们陷入了各种恐慌，却也依然用各自擅长的才能为了让计划成功而奋斗。</p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;"><img alt="" src="files/false/Picture/6fdb699e6c804d8fbb85997b8aa8ecbb.jpeg" style="border:0px;margin:10px auto 0px;padding:0px;height:auto;" /></p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;">而且！ 第一集她们开始实施绑架了，却在中途绑架错了人，哈哈哈哈是不是惊险中带着搞笑呢，这时她们无计可施只好求助于双叶（光妹演的那个教官），按这个剧情真的很吊胃口啊！只想快点到开播日！ 虽然看这个剧情发展，到时候的一周一集估计每一集结束都能卡的正好，让我们抓狂的想知道接下来发展，哎，都是套路啊套路。</p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;"><img alt="" src="files/false/Picture/0159c7b9321b41dbbb9027af9909ee75.jpeg" style="border:0px;margin:10px auto 0px;padding:0px;height:auto;" /></p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;">现在本剧的预告已经出了，大家可以去B站看看，希望大家成功入坑，然后和小编一起抓耳挠腮的等开播吧233333</p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;">另外本剧的主题曲由安室奈美惠演唱，昨天新闻爆出明年九月安室奈美惠隐退的消息，我怀疑这次的歌可能是最后的一次专辑了也不一定，且听且珍惜啊！</p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;text-align:center;">- END -</p>

<p style="border:0px;margin:0px;padding:10px 0px 20px;font-size:16px;color:rgb(25,25,25);font-family:'PingFang SC', Arial, '微软雅黑', '宋体', simsun, sans-serif;text-align:center;">本文由 小莺出国 整理</p>

<p></p>

</div>


<div class="article-tags">
</div>
<div class="sns">
<span class="views-num">
阅读: 90
</span>
<span class="comment-num">
评论: 0
</span>
<span class="love-num">
收藏: <span class="js-like-num">0</span>
</span>
</div>
<div class="article-sns">
<a href="javascript:;" class="love js-article-like " data-like-url="/article/1743/like" data-cancel-like-url="/article/1743/canceLike"><i class="es-icon es-icon-favorite"></i><span class="js-like-num">0</span></a>
<span class="es-share right">
<a class="dropdown-toggle" href="javascript:;" data-toggle="dropdown">
<i class="es-icon es-icon-share"></i>
</a>




</span>
</div>


<ul class="comment-list thread-pripost-list">
<li class="empty">还没有人评论，欢迎说说您的想法！</li>
</ul>

<nav class="text-center">

</nav>
</section>
</div>

<aside class="col-md-4 article-sidebar">
<!-- 热门资讯 -->

<!-- 热门标签 -->



<!-- 热门评论 -->
<div class="panel panel-default hot-comments">
<div class="panel-heading">
<h3 class="panel-title">
<i class="es-icon es-icon-textsms"></i>热门评论
</h3>
</div>
<div class="panel-body">

  <div class="empty">一个评论都没有！</div>

</div>
</div>
<!-- 推荐资讯 -->

</aside>

</div>

</div>
















<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-col links col-md-2 col-sm-2 col-xs-12">
                    <div class="footer-col-inner">
                        <input id="application-insight" type="checkbox">
                        <label for="application-insight"><h3 class="title">关于我们</h3></label>
                        <ul class="list-unstyled">
                            <li><a href="" class="webkit">我们是谁?</a></li>


                            <li><a href="">联系方式</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="col-md-2 col-sm-2 col-xs-12 footer-comb">
                    <div class="footer-col links">
                        <div class="footer-col-inner">
                            <input id="browser-insight" type="checkbox">
                            <label for="browser-insight">
                            <h3 class="title">使用帮助</h3></label>
                            <ul class="list-unstyled">
                             <li><a href="https://static.meiqia.com/dist/standalone.html?eid=14353">在线咨询</a></li>


<!--
                                <li><a href="/help">帮助中心</a></li>
 -->

                      </ul>
                        </div><!--//footer-col-inner-->
                    </div>

                </div>

                <div class="col-md-2 col-sm-2 col-xs-12 footer-comb">

                    <div class="footer-col links">
                        <div class="footer-col-inner">
                            <input id="more" type="checkbox">
                            <label for="more"><h3 class="title">意见反馈</h3></label>
                            <ul class="list-unstyled">

                                <li><a href="mailto:s@everelite.com" target="_blank">意见投诉</a></li>
                                <li><a href="/privacy" target="_blank">隐私政策</a></li>

                            </ul>
                        </div><!--//footer-col-inner-->
                    </div>


                </div><!--//foooter-col-->



                 <div class="footer-col links col-md-2 col-sm-2 col-xs-12 sm-break hidden-xs" style="margin-left:-50px;">

                   <div class="footer-col-inner">
                        <input id="help-center" type="checkbox">
                        <label for="help-center" style="text-align:center"><h3 class="title" style="text-align:center">微信订阅号</h3></label><br>
                           <img style="width:50%;" src="files/false/Picture/xiaoying.png">
                    </div><!--//footer-col-inner-->
                </div>

            </div>
            <style>.social-media {width:25px;border-radius:100px}</style>
            <div class="row">
                <div class="footer-col connect col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-col-inner">                     <h3>社交媒体：

              <a href="/weixin">
                <img class="social-media" src="files/false/Picture/weixin.png">
              </a>
              <a href="http://www.weibo.com/xiaoyingchuguo">
                <img class="social-media" src="files/false/Picture/weibo.png">
              </a>
              <a href="tencent://message/?uin=8892196&amp;Site=远英出国日本留学&amp;Menu=yes">
                <img class="social-media" src="files/false/Picture/qq.png">
              </a>
              <a href="http://zhuanlan.zhihu.com/eggelite">
                <img class="social-media" src="files/false/Picture/zhihu.png">
              </a>
               <a href="http://i.youku.com/eggelite">
                <img class="social-media" src="files/false/Picture/youku.png">
              </a>
</h3>

                        <h3 style="line-height:22px;">
                        全国统一电话：4000150170<br />
                        深圳总部: 深圳市宝安区广发大厦7F<br />
                        上海: 上海市徐汇区肇嘉浜路789号均瑶国际29F<br />
                        苏州: 江苏省苏州市吴中区澄湖路888号恒润国际30F<br>
                        东京早稻田校: 東京都高田馬場1-28-4工新別館<span style="font-family:mingcho;">ビル</span>4F<br>
                        东京新宿校:东京都新宿区百人町1-22-24 朝日<span style="font-family:mingcho;">ビル</span>4F<br>
                        河南: 河南省新乡市红旗区金穗大道688号商会大厦B座11F<br>
                        </h3>



                        <p class="adr clearfix">
                            <span class="street-address"></span>
                        </p>
                        <p class="email"><a href="mailto:c@everelite.com" class="email-addr">  </a></p>
                    </div>
                </div>

                <!-- <div class="footer-col download col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-col-inner">
                        <a href="/mobility.html" class="footer-download">
                            <img src="files/false/Picture/1becd5ff.icon.svg">
                            <span class="d-text">
                                <span class="d-text-title">手机客户端</span>
                                <br>Android
                            </span>
                        </a>
                    </div>
                </div> -->
                <div class="clearfix"></div>
            </div>
            <div class="row "></div>
        </div>
    </div>

    <div class="bottom-bar">
        <div class="container">

            <div class="icp">
                <span class="small lang-selector">

                </span>
                <small class="copyright">Copyright © 2008-<span id="cr-end-time"></span> 深圳远英出国服务有限公司 <a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备17035939号</a> </small><br>
                <!-- <small> 友情链接:


                <a href="http://www.eggelite.com/duyan" style="color:#999!important" target="_blank" title="日本读研">日本读研</a> |
		<a href="http://www.lunwenzhai.com">鸿远论文网</a> |
		<a href="http://www.xielunwen.net">江山论文代写网</a> |
		<a href="http://www.twolang.cn">读朗英语背单词</a> |
		<a href="http://www.koubeikc.com">考研辅导课程</a> |
		<a href="http://www.leshenriben.com">日本留学</a> |
		<a href="http://sh.jiaoyubao.cn/liuxue/">上海留学培训</a> |
		<a href="http://www.franklincollege.cn">加拿大保送大学</a> |
		<a href="http://www.italycqu.com">意大利留学费用</a> |
		<a href="http://art.egglrlite.com">日本艺术生留学</a> |
		<a href="http://www.jxjyedu.com">江西成人高考</a> |
		<a href="http://www.5alw.com">论文代写</a> |
		<a href="http://www.001dg.com">汕头招聘网</a> |
		<a href="http://www.souaus.com">澳大利亚中文网</a> |
		<a href="http://www.zjjm.com.cn">早教加盟</a> |
		<a href="http://www.megoal.org">美国留学</a> |
		<a href="http://www.gdjhpx.com">广州全日制技能培训学校</a> |
		<a href="http://www.oyoline.com">英语培训机构排名</a> |
		<a href="http://www.tokei.cn">培训日语</a> |



                </small> -->

            </div>
        </div><!--//container-->

    </div><!--//bottom-bar-->
</footer>




<!-- <script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 14353);
</script> -->

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f0675ff37612babd2d5b3750e25a32f2";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>


<style>
.footer {
    background: #666;
    color: #fff;
    font-size: 12px;
    position: relative;
}
.footer .footer-content .container {
    padding-top: 30px;
}



.footer .footer-col .title {
    font-size: 13px;
    margin-bottom: 0;
    letter-spacing: 0;
    line-height: 1.66667;
    font-weight: 600;
    color: #fff;width:100%
}
.label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    background: transparent;
border: 0;
margin: 0;

padding: 0;
vertical-align: baseline;
outline: 0;
text-rendering: optimizelegibility;
-moz-osx-font-smoothing: grayscale !important;
font-feature-settings: "liga", "kern";
-webkit-font-smoothing: subpixel-antialiased;
}

.footer .footer-col.links ul li {
    margin-bottom: 0;
    color: #fff!important;
    font-weight: 400;
    line-height: 22px;
    font-size: 13px;
}
.footer .footer-col a, .footer .footer-col p {
    color: #fff;
}
.footer .footer-col.connect h3 {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: -2px;
    -webkit-opacity: .9;
    -moz-opacity: .9;
    opacity: .9;
}
.footer .bottom-bar {
    color: rgba(255,255,255,.4);
    background: rgba(0,0,0,.5);
    font-size: 14px;
    padding: 10px 0;
}.icp {
    padding: 16px 0 8px;
}.footer a {
    color: rgba(255, 255, 255, 0.4);
}
.copyright {background-color:transparent!important}
.footer-col .footer-col-inner input {
    display: none;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px;
    line-height: normal;
}

#flotage-help {
    z-index: 1114;
    position: fixed;
    bottom: 197px;
    right: -104px;
    cursor: pointer;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}

#flotage-help .flotage-help-icon {
    width: 93px;
    height: 69px;
    background: url(Images/pc_finderteacher_6e42bfff9d.png) no-repeat;
}
#flotage-help .flotage-buttons {
    text-align: center;
    background: #37a4f5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}
#flotage-help .flotage-buttons .flotage-btn {
    background: #37a4f5;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    width: 103px;
    height: 34px;
    font-size: 14px;
    color: #ffffff;
    line-height: 34px;
}
.light-top {
bottom:150px !important;
}
#flotage-help .flotage-buttons .qrcode-box {
    display: none;
    position: absolute;
    text-align: center;
    right: 110px;
    font-size: 12px;
    top: 70px;
    width: 156px;
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 10px 14px;
}

#flotage-help .flotage-buttons .qrcode-box .text-primary {
    color: #ff9100;
    line-height: 20px;
}

#flotage-help .flotage-buttons .qrcode-box .wechat-qrcode {
    width: 115px;
    height: 115px;
    margin: 0 auto;
    background: url(Images/xiaoying.png) no-repeat;
	background-size: cover;
}
#flotage-help .flotage-buttons .qrcode-box .text-muted {
    color: #6d6d6e;
    line-height: 20px;
}
#flotage-help .flotage-buttons .flotage-btn:hover {
    background: #2b84c5;
}
#flotage-help a{
color:#fff;
}
</style>
<div id="flotage-help" style="right: 7px;">
<div class="flotage-help-icon">
</div>
<!-- <div class="flotage-buttons">
<div class="flotage-btn findteacher"><a href='javascript:;'>免费评估规划</a></div>
<div class="flotage-btn comeon-im"><a href='https://static.meiqia.com/dist/standalone.html?eid=14353' target="_blank" >立即咨询</a></div>
<div class="flotage-btn get-courses"><a href='javascript:;'>填表领资料</a></div>
<div class="flotage-btn get-tel"><a href='javascript:;'>电话咨询</a></div>

<div class="qrcode-box" style="display: none;">
<div class="text-primary">远英微信公众号:</div>
<div class="text-primary">eggelite</div>
<div class="wechat-qrcode"></div>
<div class="text-muted">精品好课等你领</div>
</div>

</div> -->
</div>

  <div class="light-top hidden">
    <a href="javascript:;">
      <i class="es-icon es-icon-keyboardarrowup"></i>
    </a>
  </div>
<script>

$('#flotage-help .flotage-buttons .get-courses').click(function(){
	window.open("http://www.eggelite.com/ziliao");

});
$('#flotage-help .flotage-buttons .findteacher').click(function(){
window.open("http://www.eggelite.com/ziliao");
});
$('#flotage-help .flotage-buttons .get-tel').hover(function(){
$('#flotage-help .flotage-buttons .get-tel a').text("4000150170");
},function(){
$('#flotage-help .flotage-buttons .get-tel a').text("电话咨询");

});
</script>


      </div>




  <div id="login-modal" class="modal" data-url="/login/ajax"></div>
  <div id="modal" class="modal"></div>
  <div id="attachment-modal" class="modal"></div>


<script src="files/false/Scripts/translator.min.js"></script>
<script src="files/false/Scripts/b04f3c49031146a9b013dc4115bb85b5.js"></script><script src="Scripts/sea.js"></script>
<script src="files/false/Scripts/seajs-style.js"></script>
<script src="files/false/Scripts/seajs-text.min.js"></script>
<script src="files/false/Scripts/seajs-global-config.js"></script>
<script src="files/false/Scripts/seo-global.js"></script>
<script>
  seajs.use(app.mainScript);
</script>

</body>
</html>
