        <link rel="stylesheet" type="text/css" href="http://jp.hujiang.com/2009/zt/keywordsystem/css/style.css" />
<ul class="nav-con-new"> 
        
		<li class="default">
			<a class="default" href="/ribenliuxue/" onfocus="this.blur();"><span>首页</span></a></li>
		<li>
			<a href="/ribenliuxue/liuxueshenqing/" onfocus="this.blur();" title=""><span>日本留学申请</span></a></li>
		<li>
			<a href="/ribenliuxue/xuexiaoxuanze/" onfocus="this.blur();" title=""><span>日本大学</span></a></li>
		<li>
			<a href="/ribenliuxue/qianzhengcailiao/" onfocus="this.blur();" title=""><span>留学签证</span></a></li>
		<li>
			<a href="/ribenliuxue/liuxueriyu/" onfocus="this.blur();" title=""><span>留学日语</span></a></li>
		<li>
			<a href="/ribenliuxue/liuxuezhengce/" onfocus="this.blur();" title=""><span>政策资讯</span></a></li>
		<li>
			<a href="/ribenliuxue/liuxuemeili/" onfocus="this.blur();" title=""><span>留学魅力</span></a></li>
		<li>
			<a href="/ribenliuxue/liuxueziliao/" onfocus="this.blur();" title=""><span>书籍资料</span></a></li>
		<li>
			<a href="/ribenliuxue/liuxueshenghuo/" onfocus="this.blur();" title=""><span>日本留学生活</span></a></li>
	
	</ul>
	
	
	<div class="pos-r">
        <div class="nav-float-plane clearbox hide">
            <ul>
            
	 <li><a href="/ribenliuxue/daxuepaiming/" target="_blank" title="">日本大学排名</a></li><li><a href="/ribenliuxue/ribenliuxuefeiyong/" target="_blank" title="日本留学费用">日本留学费用</a></li><li><a href="/ribenliuxue/liuxuetiaojian/" target="_blank" title="">日本留学条件</a></li><li><a href="/ribenliuxue/shenqingduyan/" target="_blank" title="">申请读研</a></li><li><a href="/ribenliuxue/yuyanxuexiao2/" target="_blank" title="">日本语言学校介绍</a></li><li><a href="/ribenliuxue/yuyanxuexiao/" target="_blank" title="">语言学校申请</a></li><li><a href="/ribenliuxue/liuxuekaoshi/" target="_blank" title="">留学生考试</a></li><li><a href="/ribenliuxue/liuxueshenqing/" target="_blank" title="">留学申请</a></li><li><a href="/ribenliuxue/gsanshi/" target="_blank" title="">日本G30计划</a></li><li><a href="/new/zt/kaoshimianshi/" target="_blank" title="">考试·面试指导秘籍</a></li><li><a href="/zt/changjianwenti/" target="_blank" title="">常见问题</a>
            </li></ul> 
        </div>
    </div>
    
    
            <script type="text/javascript" src="http://jp.hujiang.com/2009/zt/keywordsystem/js/script.js"></script>